/* Order by request */
.order-by-request{
	height:70px;
}
a.button-order-by-request{
	background: #F31212;
	color: white;
	text-transform: uppercase;
	font: normal 15px Tahoma, Verdara, Arial, sans-serif;	
	float: left;
	padding: 13px 25px;
	margin-left: 80px;
	clear:both;
}

span.label-out-of-stock{
	color: #F31212;
	float: left;
	clear: both;
	margin-left: 80px;
	font: normal 12px Tahoma, Verdana, Geneva, sans-serif;
}
.order-by-request a:hover{
	color: white;
	text-decoration:underline;
}

.productcont-by-magestore{    
    float: left; font-size: 10px;
}

.orderrequest{
	width:578px;
	}
	
.orderrequest h2{
	margin:5px 10px;
	}
	
.orderrequest .fieldset .legend{
	padding-top:0px;
	margin-bottom:5px;
}

.orderrequest ul{
	list-style:none;
	display:inline;
	margin:0px;
	padding:0px;
	}
.orderrequest ul li .field{
	float:left;
	width:274px;
	margin-botton:10px;
}

.orderrequest ul li div label{
	color: #090909;
	text-transform: uppercase;
	font-family: 'HoeflerText',Georgia;
	font-size: 12px;
	}

.orderrequest ul li .field input, .orderrequest ul li wide captcha-label input {
	padding:1px;
	width: 254px !important;
}

.orderrequest select{
	padding:0px;
}
	
.orderrequest .captcha{
	float:left;
	width:200px;
	clear:both;
	
}

.orderrequest .captcha-label{
	float:left;
	width:200px;
	clear:both;
	margin-top:5px;	
}

.orderrequest .form-list li.wide textarea{
	height: 62px;
	width: 254px;
}

.products-grid.columns3 .outofstock{
	float: right;
	font: normal 9px Tahoma, Verdana, Arial, sans-serif;
	color: #F31212;
	margin-top: -10px;
	margin-right: 28px;
	font-weight: bold;
	
}

.products-grid.columns3 .orderrequest_button{
	text-transform: uppercase;
	font: normal 11px Tahoma, Verdana, Arial, sans-serif;
	margin-top: 0px;
	float: right;
	background-color: #c0c0c0;
	padding: 7px 10px;
	color: white !important;
	margin-right: 20px;
}

.products-grid.columns3 .orderrequest_button:hover{
	text-decoration:none;
	background-color: #F31212;
}

.new-description .orderrequest_button{
	text-transform: uppercase;
	font: normal 11px Tahoma, Verdana, Arial, sans-serif;
	margin-top: 0px;
	float: right;
	background-color: #c0c0c0;
	padding: 7px 10px;
	color: white !important;
	margin-right: 5px;
}

.new-description .orderrequest_button:hover{
	text-decoration:none;
	background-color: #F31212;
}

.products-list .outofstock{
	float: left;
	font: normal 9px Tahoma, Verdana, Arial, sans-serif;
	color: #F31212;
	margin-top: 0px;
	margin-left: 25px;
	font-weight: bold;
	
}

.products-list .orderrequest_button{
	text-transform: uppercase;
	font: normal 11px Tahoma, Verdana, Arial, sans-serif;
	margin-top: 0px;
	float: left;
	background-color: #c0c0c0;
	padding: 7px 10px;
	color: white !important;
	margin-left: 25px;
}

.products-list .orderrequest_button:hover{
	text-decoration:none;
	background-color: #F31212;
}

.products-grid.columns3 .precole{
	float: right;
	font: normal 9px Tahoma, Verdana, Arial, sans-serif;
	color: #fec003;
	margin-top: -10px;
	margin-right: 28px;
	font-weight: bold;
	
}

.products-grid.columns3 .precole_button{
	text-transform: uppercase;
	font: normal 11px Tahoma, Verdana, Arial, sans-serif;
	margin-top: 0px;
	float: right;
	background-color: #c0c0c0;
	padding: 7px 10px;
	color: white !important;
	margin-right: 20px;
}

.products-grid.columns3 .precole_button:hover{
	text-decoration:none;
	background-color: #fec003;
}
.precole-object{
	height:70px;
}
span.label-precole{
	color: #fec003;
	float: left;
	clear: both;
	margin-left: 80px;
	font: normal 12px Tahoma, Verdana, Geneva, sans-serif;
}

a.button-precole{
	background: #fec003;
	color: white;
	text-transform: uppercase;
	font: normal 15px Tahoma, Verdara, Arial, sans-serif;	
	float: left;
	padding: 13px 25px;
	margin-left: 80px;
	clear:both;
}
