DIV.ajaxcartpro_progress{
	border: 1px #999999 solid;
	display: block;
	position: fixed;
	text-align: center;
	padding: 10px;
	background-color: #ffffff;
	z-index: 9999;
    color: black;
    min-width: 260px;
    min-height: 50px;
	/*position:absolute;*/
	/*top: expression(parseInt(document.documentElement.scrollTop, 10) +window.ACPTop+ "px");*/
}

DIV.ajaxcartpro_confirm{
	border: 1px #999999 solid;
	display: block;
	position: fixed;
	text-align: center !important;
	padding: 10px;
	background-color: #ffffff;
	z-index: 9999;
    color: black;
    min-heigth:104px;
    min-width: 260px;
    height:auto!important;

	/*position:absolute;*/
	/*top: expression(parseInt(document.documentElement.scrollTop, 10) +200+ "px");*/
}

DIV.ajaxcartpro_confirm p{
	width: 260px;
}



#aw_acp_continue, #aw_acp_checkout{
	padding:0;
	line-height:24px;
	height:24px;
	margin:0px auto;
	display:block;
	font-family:Arial;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
}


#aw_acp_continue{
	color:#333;
	background:url('../images/btn_continue_shopping.png');
	width:144px;
}


#aw_acp_checkout{
	color:#fff;
	background:url('../images/btn_view_cart.png');
	width:164px;
}

#acp_configurable_block dt
{
    text-align: left;
    padding-left: 10px;
}

#acp_configurable_block .price
{
    font-size: 14px;
}

#acp_configurable_block .product-name
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#acp-overlay
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
    z-index: 100;
}
#acp-overlay[id]{ /* IE6 and below Can't See This */
    position:fixed;
}

#acp_product_options
{
    display: block;
    min-width: 400px;
    height: auto !important;
    position: fixed;
    z-index:1000;
    background-color: white;
    padding: 10px;
    /*position:absolute;*/
    /*top: expression(parseInt(document.documentElement.scrollTop, 10) +window.ACPTop+ "px");*/
}

#acp_product_options .product-options dt label.required em {
    color: #EB340A;
    margin-left: 5px;
}

#product-options-wrapper
{
     margin:0;
}
.map-popup
{
    z-index: 1001 !important;
}
