<?xml version="1.0"?>
<config>
  <modules>
    <Elite_SuscribersPromo>
      <version>0.1.2</version>
    </Elite_SuscribersPromo>
  </modules>
  <frontend>
    <routers>
      <suscriberspromo>
        <use>standard</use>
          <args>
            <module>Elite_SuscribersPromo</module>
            <frontName>suscriberspromo</frontName>
          </args>
      </suscriberspromo>
    </routers>
		<layout>
		  <updates>
			<suscriberspromo>
			  <file>suscriberspromo.xml</file>
			</suscriberspromo>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <suscriberspromo>
        <class>Elite_SuscribersPromo_Helper</class>
      </suscriberspromo>
    </helpers>
	<blocks>
	  <suscriberspromo>
		<class>Elite_SuscribersPromo_Block</class>
	  </suscriberspromo>
	</blocks>
	<models>
            <suscriberspromo>
                <class>Elite_SuscribersPromo_Model</class>
            </suscriberspromo>
	</models>
	<resources>
            <suscriberspromo_setup>
                <setup>
                    <module>Elite_SuscribersPromo</module>
                    <class>Elite_SuscribersPromo_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </suscriberspromo_setup>
            <suscriberspromo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </suscriberspromo_read>
            <suscriberspromo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </suscriberspromo_write>
        </resources>
  </global>
</config> 