.home--left{
    float: left;
    width: 475px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: url('http://elitestore.es/media/wysiwyg/ss16/marcobologna.jpg') no-repeat center left rgb(236,230,230);
    height: 315px;
    position: relative;
    text-decoration: none!important;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--right .home--right--triangle{
    text-align: center;
    width: 402px;
    position: relative;
    margin: 0 auto;
    height: 51px;
    top: 244px;
    padding-top: 11px;
    font: bold 1.65em/102% "Merriweather",Georgia,Serif;
    color: rgb(255, 255, 255);
    text-decoration: none!important;
    letter-spacing: 1pt;
    background: rgba(0,0,0,0.65);
}
.home--right .home--right--triangle em{
    font: italic 0.8em/100% "Merriweather", Georgia, Serif;
}
.home--right:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--right .home--right--triangle span{
    font: normal 0.78rem/88% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0pt;
}
.home--right{
    float: left;
    width: 474px;
    margin-bottom: 10px;
    background: url('http://elitestore.es/media/wysiwyg/ss16/fondo banner largo maziner loewe.jpg') no-repeat center right rgb(235,217,221);
    height: 315px;
    position: relative;
    background-color: rgb(231, 192, 193);
    background-repeat: no-repeat;
    text-decoration: none!important;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--right:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--left--last{
    float: left;
    width: 475px;
    background: url('http://elitestore.es/media/wysiwyg/ss16/02_Jeremy-Scott.jpg')no-repeat right;
    height: 600px;
    position: relative;
    text-decoration:none!important;
}
.home--left--last:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--img{
    float: left;
    width: 475px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: url('http://elitestore.es/media/wysiwyg/ss16/malonesouliers1.jpg') no-repeat #404e5e;
    height: 420px;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--img:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--img--two{
    float: left;
    width: 475px;
    margin-bottom: 10px;
    background: url('http://elitestore.es/media/wysiwyg/ss16/giuseppe zanotti san valentin reducido 5.jpg')no-repeat 100%;
    height: 420px;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--img--two:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--right--last{
    float: left;
    width: 475px;
    background: url('http://elitestore.es/media/wysiwyg/ss16/01_Dsquared2.jpg') no-repeat center left rgb(227,204,178);
    height: 600px;
    position: relative;
    text-decoration:none!important;
}
.home--left .home--left--triangle{
    text-align: center;
    width: 395px;
    position: relative;
    margin: 0 auto;
    height: 52px;
    top: 244px;
    padding-top: 10px;
    font: 600 1.85em/98% "Merriweather",Georgia,Serif;
    color: rgb(0, 0, 0);
    text-decoration: none!important;
    letter-spacing: 1pt;
    background: rgba(255,255,255,0.65);
}
.home--left .home--left--triangle em{
    font: italic 0.8em/100% "Merriweather", Georgia, Serif;
}
.home--left:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--left .home--left--triangle span{
    font: normal 0.78rem/88% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0pt;
}
.home--img--text {
    position: relative;
    font: 900 1.7em/16% "Merriweather", Georgia, Serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 339px;
    width: 354px;
    float: right;
    text-decoration: none!important;
    text-align: right;
    right: 18px;
}
.home--img--text span{
    font: normal 0.78rem/88% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    text-align: left;
    text-transform: initial;
    letter-spacing: initial;
    text-decoration: none!important;
}
.home--img--left--text {
    position: relative;
    font: 900 1.7em/16% "Merriweather", Georgia, Serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 339px;
    width: 354px;
    float: left;
    text-decoration: none!important;
    text-align: left;
    left: 18px;
}
.home--img--left--text span {
    font: normal 0.78rem/88% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    text-align: left;
    text-transform: initial;
    letter-spacing: 0pt;
}
.home--right--last--text em {
    font: normal 0.78rem/100% 'Merryweather', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0.6px;
}
.home--left--last .home--left--triangle em {
    font: normal 0.78rem/100% 'Merryweather', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0.6px;
}
@media only screen and (max-width: 975px)
{
    .home--left {
        background-repeat: no-repeat;
        width: 100%;
    }
    .home--right {
        float: right;
        width: 100%;
    }
    .home--img {
        width: 100%;
    }
    .home--img--two {
        width: 100%;
    }
    .home--right--last {
        float: left;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
}