<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_FpcCrawler>
            <version>1.0.0</version>
        </Mirasvit_FpcCrawler>
    </modules>
    <global>
        <blocks>
            <fpccrawler>
                <class>Mirasvit_FpcCrawler_Block</class>
            </fpccrawler>
        </blocks>
        <models>
            <fpccrawler>
                <class>Mirasvit_FpcCrawler_Model</class>
                <resourceModel>fpccrawler_resource</resourceModel>
            </fpccrawler>

            <fpccrawler_resource>
                <class>Mirasvit_FpcCrawler_Model_Resource</class>
                <entities>
                    <crawler_url>
                        <table>m_fpc_crawler_url</table>
                    </crawler_url>
                    <crawlerlogged_url>
                        <table>m_fpc_crawlerlogged_url</table>
                    </crawlerlogged_url>
                </entities>
            </fpccrawler_resource>
        </models>

        <helpers>
            <fpccrawler>
                <class>Mirasvit_FpcCrawler_Helper</class>
            </fpccrawler>
        </helpers>

        <resources>
            <fpccrawler_setup>
                <setup>
                    <module>Mirasvit_FpcCrawler</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fpccrawler_setup>
        </resources>

        <events>
            <fpc_import_filelog>
                <observers>
                    <mst_fpccrawler>
                        <type>singleton</type>
                        <class>fpccrawler/observer</class>
                        <method>onFpcImportFilelog</method>
                    </mst_fpccrawler>
                </observers>
            </fpc_import_filelog>
            <fpc_import_logged_filelog>
                <observers>
                    <mst_fpccrawler>
                        <type>singleton</type>
                        <class>fpccrawler/observer</class>
                        <method>onFpcImportLoggedFilelog</method>
                    </mst_fpccrawler>
                </observers>
            </fpc_import_logged_filelog>

        </events>
    </global>
    <frontend>
       <routers>
            <fpccrawler>
                <use>standard</use>
                <args>
                    <module>Mirasvit_FpcCrawler</module>
                    <frontName>fpccrawler</frontName>
                </args>
            </fpccrawler>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fpccrawler after="Mage_Adminhtml">Mirasvit_FpcCrawler_Adminhtml</fpccrawler>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_FpcCrawler>
                    <files>
                        <default>Mirasvit_FpcCrawler.csv</default>
                    </files>
                </Mirasvit_FpcCrawler>
            </modules>
        </translate>
        <layout>
            <updates>
                <fpccrawler>
                    <file>mst_fpccrawler.xml</file>
                </fpccrawler>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <fpccrawler>
            <crawler>
                <enabled>1</enabled>
                <delete_crawler_urls>0</delete_crawler_urls>
                <max_threads>2</max_threads>
                <!-- <thread_delay>0</thread_delay> -->
                <max_urls_per_run>10</max_urls_per_run>
                <schedule>*/5 * * * *</schedule>
                <status>-</status>
                <sort_crawler_urls>popularity</sort_crawler_urls>
                <run_as_apache_user>0</run_as_apache_user>
            </crawler>
            <crawler_logged>
                <enabled>0</enabled>
                <delete_crawler_urls>0</delete_crawler_urls>
                <crawl_customer_group>1</crawl_customer_group>
                <max_threads>2</max_threads>
                <!-- <thread_delay>0</thread_delay> -->
                <max_urls_per_run>10</max_urls_per_run>
                <schedule>*/5 * * * *</schedule>
                <status>-</status>
                <run_as_apache_user>0</run_as_apache_user>
            </crawler_logged>
            <extended_crawler_settings>
                <verify_peer>0</verify_peer>
            </extended_crawler_settings>
    </fpccrawler>
    </default>
    <crontab>
        <jobs>
            <fpc_crawler>
                <schedule>
                    <config_path>fpccrawler/crawler/schedule</config_path>
                </schedule>
                <run>
                    <model>fpccrawler/crawler_crawl::run</model>
                </run>
            </fpc_crawler>
            <fpc_crawlerlogged>
                <schedule>
                    <config_path>fpccrawler/crawler_logged/schedule</config_path>
                </schedule>
                <run>
                    <model>fpccrawler/crawlerlogged_crawl::run</model>
                </run>
            </fpc_crawlerlogged>
        </jobs>
    </crontab>
</config>
