
$color__blanco:#fff;
$color__gris__claro:#f0f0f0;
$color__gris__claro_medio:#cccccc;
$color__gris__medio:#ababab;
$color__gris__oscuro:#666;
$color__gris__mas_oscuro:#404040;
$color__casi__negro:#181818;
$color__negro:#000;

$color__rojo:#e53935;
$color__rojo__sales:#ff1744;
$color__verde:#8db201;
$color__amarillo__outlet:#ffb300;
$color__amarillo__mostaza:#9d6d0b;

$color__trans:rgba(255,255,255,0);

$fuente__texto:'Open Sans', Sans-serif;
$fuente__titulo:'Merriweather', Serif;
$fuente__iconos:'elitestoreregular';
