
@import "base";

.texto--banner--restPages{
    height: 46px;
    overflow: hidden;
    text-align: center;
    ul{
      li{
        a{
          color: $color__negro;
          font-style: italic;
          span{
            width: 100%;
            float: left;
            text-align: center;
            font: bold 1.2em/100% $fuente__texto;
          }
        }
      }
    }
}

.checkout-cart-index .page-title h1 {
  line-height: 42px;
  margin-top: 0.5em;
}

#shopping-cart-table {
  width: 100%;
  margin-top: 2em;
}

.shoping-cart-title {
  height: 25px;
  border-top: 1px solid $color__gris__claro_medio;
  border-bottom: 1px solid $color__gris__claro_medio;
}

.shoping-cart-title__product {
  width: 85px;
  height: 24px;
  line-height: 25px;
  float: left;
}

.shoping-cart-title__product__title {
  font: bolder 0.9em/100% $fuente__titulo;
  margin-top: 0.5rem;
}

.shoping-cart-title__product__subtitle {
  font: normal 0.87em/100% $fuente__texto;
  text-transform: lowercase;
  line-height: 30px;
}

.shoping-cart-title__product__reference {
  font: normal 0.87em/100% $fuente__texto;
  text-transform: lowercase;
  line-height: 0px;
}

.item-options {
  margin-top: 35px;
}

.shoping-cart-title__description {
  width: 30%;
  height: 24px;
  line-height: 25px;
  float: left;
}

.shoping-cart-title__qty {
  width: 10%;
  height: 24px;
  line-height: 25px;
  float: left;
}

.shoping-cart-title__action {
  width: 30%;
  height: 53px;
  line-height: 25px;
  float: left;
  position: relative;
}

.shoping-cart-title__price {
  width: 10%;
  height: 43px;
  line-height: 25px;
  float: left;
}

.item-options dd {
  float: left;
  margin: 0 0 3px 3px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.button.btn-update {
  &.up {
    float: left;
    width: 18px;
    margin: 0px auto;
    padding: 0;
    line-height: 2rem;
    &:before{
      content: "\F106";
      font-family: $fuente__iconos;
      color: $color__gris__medio;
    }
  }

  &.down {
    float: left;
    width: 18px;
    margin: 0px auto;
    padding: 0;
    line-height: 2rem;
    &:before {
      content: "\F107";
      font-family: $fuente__iconos;
      color: $color__gris__medio;
    }
  }
}

.input-text.qty.text {
  float: left;
  width: 12px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.shoping-cart-title__qty.container {
  width: 10%;
  height: 24px;
  line-height: 25px;
  float: left;
  margin-top: 1rem;
}

.shoping-cart-title__One--product {
  float: left;
  width: 100%;
  height: 125px;
  border-bottom: 1px dotted $color__gris__medio;
  &:last-child {
    float: left;
    width: 100%;
    height: 125px;
    border-bottom: 1px solid $color__gris__medio;
    margin-top: 1rem;
  }
}

.shoping-cart-title__action.container {
  margin-top: 0.5rem;
}

#checkout--whislist {
  margin-left: 20px;
  color: $color__negro;
  text-transform: none;
  &:before {
    font-family:$fuente__iconos;
    content: '\F006';
    color:$color__gris__medio;
    position: absolute;
    font-size: 1.3rem;
    left: 0;
  }
}

.btn-remove {
  margin-left: 20px;
  color: $color__negro;
  &:before {
    font-family:$fuente__iconos;
    content: '\F2b6';
    position: absolute;
    left: 3px;
  }
}

.shoping-cart-title__price.container {
  margin-top: 0.5rem;
}

.cart .cart-collaterals {
  width: 100%;
  float: left;
  margin: 24px auto;
}

.grid_cart--block1 {
  float: left;
  font: normal 1.5em/100% $fuente__titulo;
  position: relative;
  width: 25%;
}

.cart-easyreturns img{
  width: 100%;
}

.gift__message {
  float: left;
  margin-top: 19px;
  width: 100%;
  height: 203px;
}

.gift__message--title {
  font: italic 1em/100% $fuente__titulo;
  text-decoration: underline;
  cursor: pointer;
}

.gift__message--corpus {
  margin-top: 13px;
  width: 100%;
  height: 94%;
  .close {
    position: absolute;
    font-size: 2em;
    right: 6px;
    cursor: pointer;
  }
  textarea {
    height: 88%;
    resize: none;
    border: 2px solid $color__gris__medio;
  }
  &:before {
    content: url(../images/flecha--gift--texto.jpg);
    width: 29px;
    position: absolute;
    height: 20px;
    margin-top: -13px;
    margin-left: 12px;
  }
}

.shipping__choose--popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  left: 0;
  top: 0;
}

.shipping__choose--popup--content {
  position: relative;
  margin: 0 auto;
  top: 16em;
  width: 50%;
  max-width: 500px;
  background: $color__blanco;
  padding: 20px;
  box-shadow: 1px 1px 10px;
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 2em;
    color: $color__negro;
    cursor: pointer;
  }
  .form-list {
    margin: 30px 0px;
  }
  li {
    margin-bottom: 15px;
  }
  label {
    color: $color__casi__negro;
    padding: 4px;
  }
  .input-box {
    float: right;
    width: 65%;
    height: 26px;
    select {
      color: $color__casi__negro;
      width: 80%;
      font-size: 1em;
      border: solid 1px $color__casi__negro;
      -webkit-appearance: menulist;
      padding: 4px;
    }
    input {
      width: 76%;
      color: $color__casi__negro;
      font-size: 1em;
      border: solid 1px $color__casi__negro;
      /* padding: 9px; */
      padding-bottom: 4px;
      padding-top: 4px;
      padding-left: 8px;
    }
  }
  .buttons-set {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 35px;
    button {
      width: 50%;
      margin: 0 auto;
      background: $color__negro;
      color: $color__blanco;
      float: none;
      text-transform: uppercase;
    }
    .sp-methods {
      margin: 40px 0;
    }
  }
}

.grandTotal__total {
  margin-top: 20px;
  padding: 0px 24px 0px 24px;
  font: bolder 1.2em/100% $fuente__texto;
  strong {
    &:nth-child(1) {
      text-transform: uppercase;
    }
    &:nth-child(2) {
      float: right;
    }
  }
}

.cart .checkout-types {
  float: right;
  text-align: right;
  width: 100%;
}

.button.btn-continue {
  margin-top: 18px;
  border: 1px solid $color__negro;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.checkout-types li {
  background: $color__negro;
  color: $color__blanco;
  font-size: 1.1em;
  text-transform: uppercase;
  .button.btn-proceed-checkout.btn-checkout {
    text-transform: uppercase;
    padding: 0.5rem;
  }
}

/* Shopping Cart Totals */

.cart .totals {
  float: right;
  margin-top: -37px;
  table {
    width: 100%;
    th, td {
      padding: 5px;
    }
    th {
      font-weight: bold;
    }
    tfoot th {}
  }
}

.contenedor-sugerencias {
  width: 100%;
  margin-top: 40px;
  float: left;
  margin-bottom: 40px;
}

.titulos-sugerencias {
  position: relative;
  &:before {
    content: "_";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 30%;
    border-bottom: 1px solid $color__gris__claro_medio;
    text-indent: -99999px;
  }
  &:after {
    content: "_";
    position: absolute;
    bottom: 0px;
    width: 27%;
    right: 0;
    border-bottom: 1px solid $color__gris__claro_medio;
    text-indent: -99999px;
  }
}

.sugerencias-nav {
  text-align: center;
  width: 539px;
  margin: 0 auto;
  height: 40px;
  background: $color__blanco;
  li {
    float: left;
    font-family: $fuente__titulo;
    font-size: 1.2em;
    width: 262px;
    background: $color__blanco;
    color: $color__gris__oscuro;
    border: 1px solid $color__gris__claro_medio;
    height: 28px;
    padding-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    &.last {
      margin-right: 0px;
    }
    &.active {
      background: $color__negro;
      color: $color__blanco;
    }
  }
}

.titulo-sugerencias {
  margin: 10px 0;
}

.contenido-sugerencias {
  width: 100%;
  margin-top: 40px;
  float: left;
}

.listado-sugerencias {
  li {
    float: left;
    width: 18%;
    margin-right: 2%;
    text-align: center;
    a {
      color: $color__negro;
      line-height: 2em;
    }
  }
  .last {
    margin-right: 0px;
  }
}

.contenido-producto-sugerencias {
  margin-top: 10px;
  .manufacturer {
    font-family: $fuente__titulo;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.grid_cart--block2{
  width: 42%;
  float: left;
  margin-left: 2%;
  .cart-coupon{
    float: left;
    width: 100%;
    .cart__promo--code{
      border: 1px solid $color__gris__claro_medio;
      padding: 4% 1% 4% 4%;
      float: left;
      width: 94%;
      #discount-coupon-form{
        .discount{
          .discount-form{
            label{
              float: left;
              width: 100%;
              font: bold 1.5em/100% $fuente__titulo;
              margin-bottom: 18px;
            }
            .input-text{
              float: left;
              width: 56%;
              border: 1px solid $color__gris__claro_medio;
            }
            .button--container{
                float: right;
              .button{
                float: left;
                width: 107px;
                padding: 6px 0px;
                text-transform: uppercase;
                color: $color__blanco;
                background: $color__negro;
                &:nth-child(2){
                  margin-left: 6px;
                }
              }
            }

          }
        }
      }
    }
    #customer-credit-form-code{
      border: 1px solid $color__gris__claro_medio;
      padding: 4% 1% 4% 4%;
      float: left;
      width: 94%;
      margin-top: 20px;
      .title-credit{
        .title-credit-label{
          background-color: $color__blanco;
          color: $color__negro;
          float: left;
          width: 100%;
          font: bold 1.5em/100% $fuente__titulo;
          margin-bottom: 18px;
        }
      }
      .discount{
        dl{
          margin: 0px;
          padding: 0px;
          dd{
            margin: 0px;
            .checkout-cart-credit-amount{
              float: left;
              p{
                margin:0px;
                padding:0px;
                span{
                  .price{
                    color: $color__negro;
                    font: bold 1.3em/100% $fuente__texto;
                  }
                }
              }
              .input-box{
                margin-top: 35px;
                margin-top: 35px;
                float: left;
                width: 100%;
                input{
                  width: 96%;
                  float: left;
                }
              }
            }
          }
          .button-checkout-credit{
            float: right;
            margin-top: 58px;
            ul{
              padding: 0px;
              li{
                .input-box{
                  float: right;
                  button{
                      float: left;
                      width: 107px;
                      padding: 6px 0px;
                      text-transform: uppercase;
                      color: $color__blanco;
                      background: $color__negro;
                      &:nth-child(2){
                        margin-left: 6px;
                      }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.grid_cart--block3{
  float: right;
  position: relative;
  width: 29%;
  margin-left: 2%;
  .cart-total{
    margin-top:0px;
    width: 100%;
    #shopping-cart-totals-table{
      background-color: $color__gris__claro;
      padding: 11px;
      .a-right {
        text-align: right;
      }
      .choose-shipping {
        font-size: 0.9em;
        text-decoration: underline;
        cursor: pointer;
      }
      .partial{
            border-top: 1px solid $color__negro;
      }
    }
  }
}
