
@import "base";

header {
  background: $color__negro;
  width: 100%;
  position: relative;
  text-align: center;
}
.nav-container {
  background-color: $color__casi__negro;
  position: relative;
  width: 100%;
  text-align: center;
  height: 34px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08);
}
#nav{
	 li {
	  a {
		color: $color__blanco;
	  }
	  ul {
		margin-top: 15px;
		li {
		  color: $color__gris__claro_medio;
		  font-weight: lighter;
		  padding: 0px;
		  height: 32px;
		  a {
			color: $color__gris__claro_medio;
			font-weight: lighter;
			&:hover {
			  color: $color__blanco;
			  font-weight: 600;
			}
		  }
		}
	  }
	}
}
