
@import "base";


/* CSS Document */

/* ==|== Pagina de diseñador =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

.manufacturer_char_filter {
  float: left;
  padding: 0;
  margin: 0;
  clear: both;
}
.texto--banner--restPages{
    height: 46px;
    overflow: hidden;
    text-align: center;
    width:100%;
    ul{
      li{
        a{
          color: $color__negro;
          font-style: italic;
          span{
            width: 100%;
            float: left;
            text-align: center;
            font: bold 1.2em/100% $fuente__texto;
          }
        }
      }
    }
}
.manufacturer_char_filter_li {
  float: left;
  display: inline;
  font-family: $fuente__titulo;
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
  padding: 0px;
  width: 10px;
  &.deshabilitada {
    pointer-events: none;
    color: $color__gris__medio;
  }
}

.breadcrumbs {
  text-transform: uppercase;
  opacity: 0.4;
}

.designer-title {
  font-family: $fuente__titulo;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 30px;
}

.designers__description {
  position: relative;
  float: left;
  margin-top: 2rem;
  border-bottom: 1px solid $color__negro;
  border-top: 1px solid $color__negro;
  padding: 7px 0px 2px 0px;
  .imagen-manufacturer--logotipo {
    float: left;
    margin: 0px 0.5%;
    width: 22%;
    img{

    }
  }
  .featured{
    img{
        position:relative!important;
    }
  }
  .designers__description--left {
    margin: 0px 0.5%;
    position: relative;
    float: left;
    width: 22%;
    background: $color__blanco;
    min-height: 243px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    .designers__description--title{
      font-weight: bold;
      font-family: $fuente__titulo;
      letter-spacing: 0.05em;
      text-align: center;
    }
    p{
      text-align:justify;
      width: 90%;
      position: relative;
      margin: 0 auto;
    }
  }
  .imagen-manufacturer{
    margin: 0px 0.5%;
    width: 30%;
    position: relative;
    float: left;
    img{
      width:100%;
    }
  }

  .designers__description--right {
    margin: 0px 0.5%;
    width: 22%;
    position: relative;
    float: left;
    background: $color__blanco;
    height: 243px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    .designers__description--title{
      font-weight: bold;
      font-family: $fuente__titulo;
      letter-spacing: 0.05em;
      text-align: center;
    }
    p{
      text-align:justify;
      width: 90%;
      position: relative;
      margin: 0 auto;
    }
  }
}

/*.imagen-manufacturer--logotipo {
  float: left;
  margin: 27px 12px 0px 0px;
}*/

.addToDesigners {
  color: $color__gris__medio;
  position: relative;
  float: right;
  margin-top: 13px;
}

.designerssubLinks--content {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.designerssubLinks1, .designerssubLinks2 {
  border: 1px solid $color__blanco;
  color: $color__blanco;
  background-color: $color__negro;
  width: 48%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  display: inline;
  -webkit-box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.5);
  font-weight: 600;
  font-size: 1.4em;
}
.designerssubLinks1{
  float: left;
}
.designerssubLinks2{
  float:right;
}

.designerssubLinks3 {
  border: 1px solid $color__negro;
  color: $color__negro;
  margin-right: 29px;
  width: 31.4%;
  height: 79px;
  line-height: 74px;
  text-align: center;
  float: left;
  display: inline;
  -webkit-box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

#designerssubLinksId {
  margin-right: 0px;
}

.titulo-editors-pics {
  background: url('../images/editors-pics-titulo.jpg') no-repeat center;
  width: 100%;
  height: 65px;
  margin-top: 2rem;
}

.cabecera-editors-pics {
  width: 100%;
  border-bottom: 1px solid black;
  font-family: $fuente__titulo;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  p {
    margin: 10px 25px;
  }
}

.editors-pics {
  width: 100%;
  float: left;
  margin-top: 1.5em;
}

.listado-editors-pics {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0px;
  li {
    float: left;
    width: 18%;
    margin-right: 2%;
    text-align: center;
    a {
      color: $color__negro;
      line-height: 2em;
    }
  }
}

.contenido-editors-pics {
  margin-top: 10px;
  .manufacturer {
    font-family: $fuente__titulo;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.separador-editors-pics {
  width: 100%;
  border-bottom: 1px solid $color__negro;
  float: left;
  margin-top: 30px;
  display: none;
}

.theicon {
  float: left;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 35px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.theicon > a > div > img {
    position: absolute;
}

.theicon-bloque {
  width: 16%;
  background: $color__gris__claro;
  float: left;
  margin: 0 0.25%;
  position: relative;
  min-height: 285px;
  img {
    width: 100%;
    height: 100%;
  }
  .theicon-titulo {
    float: left;
    text-align: center;
    font-family: $fuente__titulo;
    font-weight: bold;
    line-height: 25px;
    margin: 10px 0;
    width: 100%;
  }
  .linea-titulo {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: $fuente__titulo;
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
    height: 33%;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .theicon-texto {
    margin: 0 10px 10px 10px;
  }
  .linea-titulo span {
    line-height: 123px;
  }
}

.titulo-subcategorias {
  background: url('../images/subcategorias-titulo.jpg') no-repeat center;
  width: 100%;
  height: 65px;
  margin-top: 2rem;
  float: left;
}

.subcategorias {
  width: 100%;
  float: left;
}

.listado-subcategorias {
  margin-top: 25px;
  float: none;
  width: 100%;
  padding: 0px;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  li {
    float: left;
    width: 24%;
    padding: 0px 0.5%;
    a {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.22em;
      color: $color__gris__oscuro;
      span {
        font-style: italic;
        font-weight: normal;
        text-transform: none;
      }
    }
  }
}

.blog-bloque {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  float: left;
  margin-bottom: 40px;
  .post {
    border: 1px solid $color__negro;
    padding: 30px 50px;
    text-align: left;
    float: left;
    .post-imagen {
      float: right;
      width: 45%;
      img {
        width: 100%;
      }
    }
    .post-titulo {
      font-family: $fuente__titulo;
      font-size: 2.8em;
      font-weight: bold;
      float: left;
      color: $color__negro;
      width: 50%;
      line-height: 1em;
      margin-top: 30px;
    }
    .post-descripcion {
      color: $color__negro;
      width: 50%;
      float: left;
      margin-top: 50px;
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }
}

.listado-designers {
  width: 100%;
  font-family: $fuente__titulo;
  margin: 0px;
  padding: 0px;
  margin-bottom: 200px;
  li {
    float: left;
    width: 100%;
  }
  ul.listado-designers-columna {
    width: 20%;
    float: left;
    -webkit-padding-start: 0px;
    margin: 0px 2%;
  }
  li {
    &.letra span {
      font-size: 3em;
      font-weight: bold;
      margin: 40px 0px 20px 0px;
      float: left;
    }
    ul.listado-designers-letra {
      margin: 0px;
      padding: 0px;
      li {
        text-transform: uppercase;
        margin-left: 33px;
        color: rgba(0, 0, 0, 0.4);
        a {
          color: rgb(0, 0, 0);
          float: left;
        }
        span.new {
          width: 40px;
          height: 11px;
          background: url('../images/new_designer_label.png') no-repeat;
          text-indent: -9999999px;
          float: left;
          margin-top: 3px;
          margin-left: 10px;
          position: absolute;
        }
      }
    }
  }
}

.block-layered-nav {
  position: relative;
}

#slayer-catalog {
  border-bottom: none;
  padding: 0px;
  font-size: 1.4em;
}

.block .block-title {
  letter-spacing: 0.1em;
  strong {
    text-transform: uppercase;
    line-height: 21px;
  }
}

#narrow-by-list {
  float: left;
  width: 100%;
  .filter-title {
    background-position: 95% center;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
    border-bottom: solid 1px $color__gris__medio;
    font-size: 1.2em;
    padding-top: 7px;
    text-transform: uppercase;
    padding-bottom: 7px;
    color: $color__negro;
    &.filter-title-expanded:after {
      content: '\f068';
    }
    &.filter-title-collapsed:after {
      content: '\f067';
    }
  }
  .filter-content {
    display: block;
    padding-top: 12px;
    background-image: none;
    &.filter-content-expanded {
      display: block;
      padding-top: 12px;
      background-image: none;
    }
    &.filter-content-collapsed {
      display: none;
    }
  }
}

div#filter-alfabeto-content {
    width: 100%;
}

.manufacturer_char_filter {
    width: 100%;
}

ol.layered-links {
  padding-top: 1em;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  li.level1 {
    padding: 0px;
    margin: 15px 0;
    float: none !important;
    width: 100%;
    background: none;
  }
}

.filter-content ol li.level1 {
  span {
    background: $color__blanco !important;
    border: 1px solid $color__gris__oscuro;
    padding: 7px 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    display: block;
    margin: 0px 0px 2px;
    color: $color__gris__oscuro;
    cursor: pointer;
  }
  &.selected span {
    background: $color__negro !important;
    color: white !important;
    border: 1px solid $color__gris__oscuro;
    padding: 7px 1px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.1em;
    display: block;
    margin: 0px 0px 2px;
  }
}
.col-main{
  .designers__sort__description{
    float: left;
    margin-top: 44px;
    padding: 6px 0px;
    border-bottom: 1px solid $color__gris__medio;
    border-top: 1px solid $color__gris__medio;
	width:100%;

	/*.imagen-manufacturer--logotipo{
      float: left;
      margin: 27px 18px 0px 0px;
      width: 24%;
      line-height: 200px;
    }*/
    .designers__description--left{
      float: left;
      width: 23.5%;
      background: $color__blanco;
      padding: 7px 11px;
      text-align: center;
      height: 436px;
      .designers__description--title{
        text-align: center;
        font: bold 1em/100% $fuente__titulo;
        margin-bottom: 13px;
		margin-top: 20px;
      }
    }
    .imagen-manufacturer{
      float: left;
      width: 49%;
      margin-left: 0.4%;
      img{
        width:100%;
      }
    }
  }
  .manufacturer__short--conteiner{
    float: left;
    margin-top: 36px;
	width:100%;
    .manufacturer__short__conteiner--left{
      .bloque-izquierda{
        float: left;
        width: 23%;
        margin-right: 3%;
        .title{
          border-top: 1px solid $color__gris__claro_medio;
          padding: 7px 0px;
        }
        ul{
          padding:0px;
          margin: 0px;
          li{
              border-top: 1px solid $color__gris__claro_medio;
              padding-top: 0.8rem;
			  a{
				color:black;
			  }
            ul{
              padding-left:20px;
              li{
                border-top:none;
                padding-top:initial;
				a{
				color:black;
			  }
              }
            }
          }
        }
        .mfl{
          padding: 15px 0px;
          li{
            font: bold 1.2em/100% $fuente__titulo;
            ul{
              li{
                font: normal 1rem/100% $fuente__texto;
                margin-top: 12px;
                a{
                  color:$color__negro;
                }
              }
            }
          }
        }
        .mws{
            border-bottom: 1px solid $color__gris__medio;
            padding-bottom: 9px;
          li{
            font: bold 1.2em/100% $fuente__titulo;
            ul{
              li{
                font: normal 1rem/100% $fuente__texto;
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
    .manufacturer__short__conteiner--right{
      float: left;
      width: 74%;
      .banner--container{
        .banner3{
          float: left;
          width: 28%;
          border:1px solid $color__negro;
          &:nth-child(2)
          {
            margin: 0px 7%;
          }
          a{
            .imagen{
                background:$color__negro;
              img{
                width:100%;
              }
            }
            .text{
              background: $color__negro;
              color: $color__blanco;
              text-align: center;
              padding: 10px 5px;
              .title{
                font: bold 1.13rem/100% $fuente__texto;
              }
              .description{
                font: normal 0.94rem/100% $fuente__titulo;
                margin-top: 7px;
              }
            }
          }
        }
        .banner2{
          float: left;
          width: 46%;
          border: 1px solid $color__negro;
          &:nth-child(2)
          {
            margin: 0px 0px 0px 7%;
          }
          a{
            .imagen{
              text-align: center;
            }
            .text{
              background: $color__negro;
              color: $color__blanco;
              text-align: center;
              padding: 10px 5px;
              .title{
                font: bold 1.13rem/100% $fuente__texto;
              }
              .description{
                font: normal 0.94rem/100% $fuente__titulo;
                margin-top: 7px;
              }
            }
          }
        }
        .banner1{
          float: left;
          width: 100%;
          border:1px solid $color__negro;
          &:nth-child(2)
          {
            margin:0px 7%;
          }
          a{
            .imagen{
              text-align: center;
            }
            .text{
              background: $color__negro;
              color: $color__blanco;
              text-align: center;
              padding: 10px 5px;
              .title{
                font: bold 1.13rem/100% $fuente__texto;
              }
              .description{
                font: normal 0.94rem/100% $fuente__titulo;
                margin-top: 7px;
              }
            }
          }
        }
      }
      .blog-bloque--shortdesigner{
        width: 100%;
        text-align: center;
        margin-top: 40px;
        float: left;
        margin-bottom: 40px;
        .post {
            border: 1px solid $color__negro;
            padding: 30px 50px;
            text-align: left;
            float: left;
          .post-imagen {
            float: right;
            width: 45%;
            img {
              width: 100%;
            }
          }
          .post-titulo {
              font-family: $fuente__titulo;
              font-size: 2em;
              font-weight: bold;
              float: left;
              color: $color__negro;
              width: 50%;
              line-height: 1em;
              margin-top: 0px;
          }
          .post-descripcion {
              color: $color__negro;
              width: 100%;
              float: left;
              margin-top: 50px;
              font-size: 1em;
              line-height: 1.6em;
              float: left;
              margin-top: 28px;
              width: 50%;
              position: relative;
              line-height: 1em;
              margin-top: 27px;
          }
        }
      }
      .theicon-mini{
        float: left;
        width: 100%;
        margin-top: 30px;
        .theicon-bloque {
          width: 100%;
          background: $color__blanco;
          float: left;
          margin: 0 0.25%;
          position: relative;
          min-height: initial;
          padding: 2rem 0px;
          .theicon-texto{
            width: 55%;
            text-align: center;
            margin: 0 auto;
          }
        }
      }
      .buttons{
        .designers--buttons{
          width: 48.6%;
          background: $color__negro;
          color: $color__blanco;
          margin-bottom: 2em;
          padding: 2em;
          font: 1.2em/100% $fuente__texto;
          letter-spacing: 2px;
          a{
            color:white;
          }

        }
		.boton-unico{
			width:100%;
		}
      }
    }
  }
}
