
/*variables globales para sass*/
@import "base";


/*key frame usado para el texto que aparece en la home en los bloques sueltos el primero de la izquierda*/

@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: -116px;
  }
}

@-moz-keyframes display-none-transition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: -116px;
  }
}

@-o-keyframes display-none-transition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: -116px;
  }
}

@keyframes display-none-transition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: -114px;
  }
}

/*key frame usado*/
/*key frame usado para el texto que aparece en la home en los bloques nuevos pedidos por fernando*/

@-webkit-keyframes display-none-transition-medios {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: -95px;
  }
}

@keyframes display-none-transition-medios {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: -95px;
  }
}

/*key frame usado*/
/*key frame usado para el efecto del blog*/
@-webkit-keyframes leaves {
  0% {
    -webkit-transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1.2);
  }
}


@keyframes leaves {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}


@-webkit-keyframes opacidad {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}


@keyframes opacidad {
  0% {
    opacity: 1s;
  }

  100% {
    opacity: 0.5;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloquesmedios {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

/* Standard syntax */
@keyframes bloquesmedios {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}
.grid-by-slider{
    position: relative;
    float: left;
    width: 100%;
    height: 410px;
    .slider-content-container{
        position: absolute;
        top: 0px;
        height: 389px;
    }
}
/*key frame usado para el efecto del blog*/
.titulo-editors-pics {
    width: 100%;
    float: left;
    text-align: center;
    font-family: $fuente__titulo;
    font-size: 2rem;
    padding-top: 2rem;
    span {
      font-family: $fuente__iconos;
      font-size: 4rem;
      margin-right: -4px;
    }
}

.texto--banner {
  float: left;
  width: 100%;
  height: 43px;
  position: relative;
  overflow: hidden;
  margin-top: 49%;
  ul li {
    text-align: center;
    margin: 0 auto;
    a {
      color: $color__negro;
      font-style: italic;
    }
    span {
      width: 100%;
      float: left;
      text-align: center;
      font: bold 1.2em/100% $fuente__texto;
    }
  }
}
.contentedor-slider--subtitle{
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: 2px;
    color: $color__gris__oscuro;
    padding-top: 0rem;
}
.estrecho{
  &:before {
    content: " ";
    float: left;
    width: 300%;
    -moz-box-shadow: 0px 45px 50px -40px rgba(0, 0, 0, 0.41) inset;
    box-shadow: 0px 35px 40px -40px rgba(0, 0, 0, 0.45) inset;
    margin-top: 17px;
    margin-left: -100%;
    padding: 18px 0px;
  }
}
    .bloquesSueltos {
      float: left;
      margin: 38px auto;
      padding-left: 39px;
      li img {
        width: 100%;
      }
      .primerli a .primerli__content, .segundoli .segundoli__content {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      .segundoli__content{
        .segundoli__content--botones {
          position: absolute;
          top: 78%;
          width: 100%;
          text-align: center;
        }

        .segundoli__content--botones--izquierda {
          border: 1px solid $color__blanco;
          color: $color__blanco;
          text-transform: uppercase;
          font: normal 12px $fuente__texto;
          padding: 10px 33px;
          margin-right: 39px;
        }

        .segundoli__content--botones--derecha {
          border: 1px solid $color__blanco;
          color: $color__blanco;
          text-transform: uppercase;
          font: normal 12px $fuente__texto;
          padding: 10px 48px;
        }
      }
    }
.home__blog--Title {
  width: 100%;
  float: left;
  text-align: center;
  font-family: $fuente__titulo;
  font-size: 2rem;
  padding-top: 2rem;
  span{
    font-family: $fuente__iconos;
    font-size: 4rem;
    margin-right: -4px;
  }
}

.home__blog--content {
  width: 32%;
  float: left;
}
  .post1{
    margin-right: 2%;
  }
  .post2{
    margin-right: 2%;
  }
  .post3{
  }
.home__blog--minititle {
  font: bolder 1.52em/143% $fuente__titulo;
  margin: 22px 0px 12px 0px;
}

.texto-slider {
  position: absolute;
  top: 38%;
  left: 27%;
  width: 46%;
  margin: 0 auto;
  color: white;
  text-align: center;
  .texto--mini{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
  }
  .texto--amplio{
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0px 20%;
  }
}

.texto--maxi {
    font: normal 3.2rem "Merriweather", Serif;
    margin: 42px auto;
    letter-spacing: 1px;
}
.btn-izq--slider {
  position: relative;
  display: inline;
  border: 1px solid $color__blanco;
  padding: 10px 45px;
  top: 20px;
  margin-right: 19px;
  cursor: pointer;
  color: $color__blanco;
}
  .btn-izq--slider:hover {
    background: rgba(0,0,0,0.4);
  }
    .btn-izq--slider:hover a{
      color:$color__blanco;
    }
.btn-der--slider {
  position: relative;
  display: inline;
  border: 1px solid $color__gris__mas_oscuro;
  padding: 10px 45px;
  top: 20px;
  background: $color__gris__mas_oscuro;
  color: $color__blanco;
  margin-right: 19px;
  cursor: pointer;
}

.home--bloques--home {
  text-align: center;
  color: $color__negro;
  margin-top: -9px;
}

.home__hr--separacion {
  float: left;
  width: 100%;
}

.bloquesSueltos li {
  float: left;
  margin-right: 10px;
  width: 32%;
}

/*******************************************************************\
Estilos para todos los Botones de la web
\*******************************************************************/
/* Common button styles */

.home__blog {
  float: left;
  margin: 2rem 0px 0px 0px;
  width:100%;
}

/*******************************************************************\
P�gina principal: Cabecera;
\*******************************************************************/

.home__blog__content--corpus {
  position: relative;
  img {
    width: 100%;
    height: 50%;
  }
  &:hover {
    img {
      -webkit-animation: leaves 1s forwards;
      animation: leaves 1s forwards;
    }

.efectoZoom:after {
      -webkit-animation: opacidad 1s forwards;
      animation: opacidad 1s forwards;
    }
  }
  .home__blog--texto{
    .read-more{
        font: bolder 1.4em/143% $fuente__titulo;
        margin: 12px 0px;
        height: 44px;
        color: rgb(0, 0, 0);
		float:left;
    }
  }
}




.efectoZoom {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.circuloBlog {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 1;
}



/*  Estilos propios pagina producto======================================================================================= */

/*slider*/
.rslides--container{
	position:absolute;
	width:100%;
	display: flex;
  z-index: 120;
	.rslides {
	  list-style: none;
	  overflow: hidden;
	  width: 100%;
	  left: 0px;
	  padding: 0;
	  margin: 0px auto;
	  top: 0px;
	  z-index: -1;
	  max-width: 1444px;
	  li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		&:first-child {
		  position: relative;
		  display: block;
		  float: left;
		}
	  }
	  img {
		display: block;
		height: auto;
		float: left;
		width: 100%;
		border: 0;
	  }
	}
}

/*fin de slider*/

/* Remember Me Popup ===================================================================== */

.window-overlay {
  background: $color__gris__claro;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.remember-me label {
  float: none;
  margin: 0 6px;
}

.remember-me-popup {
  background: $color__blanco;
  border: 1px solid $color__gris__claro_medio;
  left: 50%;
  top: 50%;
  position: absolute;
  margin: -85px 0 0 -200px;
  width: 400px;
  text-align: left;
  -moz-box-shadow: 0 0 6px $color__gris__claro_medio;
  -webkit-box-shadow: 0 0 6px $color__gris__claro_medio;
  -box-shadow: 0 0 6px $color__gris__claro_medio;
  h3 {
    background: $color__gris__claro_medio;
    border-bottom: 1px solid $color__gris__claro_medio;
    font-size: 14px;
    padding: 5px 10px;
  }
  .remember-me-popup-head {
    position: relative;
    .remember-me-popup-close {
      display: block;
      position: absolute;
      top: 7px;
      right: 7px;
      height: 15px;
      width: 15px;
      text-indent: -9999em;
    }
  }
  .remember-me-popup-body {
    padding: 10px;
    a {
      display: inline-block;
      height: 19px;
      border: 1px solid $color__gris__claro_medio;
      background: $color__gris__claro;
      padding: 0 8px;
      font: bold 12px/19px $fuente__texto;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      color: $color__blanco;
    }
  }
}

.home-main {
  width: 900px;
  float: left;
  margin: 30px 0 0;
}

.home-right {
  width: 300px;
  float: right;
  margin: 30px 0 0;
}

.home-left {
  width: 300px;
  float: left;
  margin: 30px 0 0;
}

.home-left-col {
  .home-main {
    float: right;
  }
  .home-left {
    float: left;
  }
}

/*********** < SLIDER */

.slider-container {
  position: relative;
  border-top: 1px solid $color__gris__medio;
  background: $color__gris__medio;
  margin: 53px 0 0 -15px;
  padding: 42px 0 0;
}

.banner {
  margin-bottom: 10px;
  a {
    display: block;
    position: relative;
    margin: 0px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    span {
      position: absolute;
      padding: 12px;
      top: 50%;
      background: $color__casi__negro;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: $color__blanco;
    }
    &.text-left span {
      left: 0;
      text-align: left;
    }
    &.text-center span {
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
    }
    &.text-right span {
      right: 0;
      text-align: right;
    }
    em {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $color__negro;
      filter: alpha(opacity = 0);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    }
    &:hover em {
      filter: alpha(opacity = 10);
      opacity: 0.1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=10)";
    }
  }
}

#nav {
	li{
		color:$color__blanco;
		a{
			color:$color__blanco;
		}

	}
	.red{
		color:$color__rojo;
		a{
			color:$color__rojo;
		}
	}
	.menu-principal, .menu__principal__sinsabana{
	  .blanco {
				color: $color__blanco;
		}
	  .rojo
		{
			  color: $color__rojo;
		}

	  ul {
			li {
				.gris{
					color: $color__gris__medio;
					&:hover {
					  color: $color__blanco;
					  font-weight: 600;
					}
				}
				.rojo{
					color: $color__rojo__sales;
				}
			}
		}
		a{
			color: $color__blanco;
      text-transform: uppercase;
		}
	}
}
.middlebanners{
    width: 100%;
    float: left;
    margin-top: 4rem;
    .text-banner{
      float: left;
      width: 32%;
      margin:14% 2% 0 0;
      .titulo-text-banner{
        text-align: center;
        font: bold 2em/100% $fuente__titulo;
      }
      .text-text-banner{
        font: normal 1em/160% $fuente__texto;
        margin-top: 12px;
        text-align: center;
      }
    }
    .principal-image-banner{
      float: left;
      width: 32%;
      margin-right: 2%;
      img{
        width: 100%;
      }
    }
    .bloque-imagenes-banner{
      width: 32%;
      float: right;
      .bloque-dedos-imagenes-banner{
        float: left;
        .bloque-dedos-imagenes-banner-bloque{
            float: left;
            width: 49%;
            position: relative;
            overflow: hidden;
            a{
              img{
                width: 100%;
              }
              .texto{
                  position: absolute;
                  color: rgb(255, 255, 255);
                  width: 100%;
                  text-align: center;
                  background: rgba(0, 0, 0, 0.8);
                  opacity: 0;
                  padding-top: 33px;
                  height: 58px;
                  font: normal 1.3em/100% "Merriweather", Serif;
                  text-transform: capitalize;
                }
            }

            &:nth-child(2){
              margin-left: 0.4em;

            }
            &:nth-child(4){
              margin-left: 0.4em;
            }
            &:hover .texto{
              -webkit-animation: display-none-transition-medios 0.3s forwards;
              animation: display-none-transition-medios 0.3s forwards;
            }
        }
      }
    }
}
.bottombanners{
    width: 100%;
    float: left;
    margin-top: 2rem;
    .text-banner{
      float: left;
      width: 32%;
      margin:14% 2% 0 0;
      .titulo-text-banner{
        text-align: center;
        font: bold 2em/100% $fuente__titulo;
      }
      .text-text-banner{
        font: normal 1em/150% $fuente__texto;
        margin-top: 12px;
        text-align: center;
      }
    }
    .principal-image-banner{
      float: left;
      width: 32%;
      img{
        width: 100%;
      }
    }
    .bloque-imagenes-banner{
      width: 32%;
      float: left;
      margin-right: 2%;
      .bloque-dedos-imagenes-banner{
        float: left;
        .bloque-dedos-imagenes-banner-bloque{
            float: left;
            width: 49%;
            position: relative;
            overflow: hidden;
            a{
              img{
                width: 100%;
              }
              .texto{
                  position: absolute;
                  color: rgb(255, 255, 255);
                  width: 100%;
                  text-align: center;
                  background: rgba(0, 0, 0, 0.8);
                  opacity: 0;
                  padding-top: 33px;
                  height: 58px;
                  font: normal 1.3em/100% "Merriweather", Serif;
                  text-transform: capitalize;
                }
            }

            &:nth-child(2){
              margin-left: 0.4em;

            }
            &:nth-child(4){
              margin-left: 0.4em;
            }
            &:hover .texto{
              -webkit-animation: display-none-transition-medios 0.3s forwards;
              animation: display-none-transition-medios 0.3s forwards;
            }
        }
      }
    }
}
