
/*variables globales para sass*/
@import "base";

/*combo de paises */

.currency label {
  display: inline-block;
}

ul#currencyListview {
  display: none;
  padding: 6px;
  background-color: $color__blanco;
  position: absolute;
  z-index: 1;
  text-align: left;
  margin-top: -1px;
  width: 80%;
  li{
    a{
      color:$color__negro;
    }
  }
}

.btn-group:hover ul#currencyListview {
  display: block;
}

ul#currencyListviewl {
  display: none;
  border: 1px solid $color__gris__medio;
  border-top: 4px solid $color__gris__medio;
  margin-top: 0px;
  padding: 6px;
  background-color: $color__blanco;
  position: absolute;
  z-index: 1;
  text-align: left;
  width: 150%;
}

.btn-groupl {
  &:hover ul#currencyListviewl {
    display: block;
  }
  float: left;
}

.currency {
  a, span {}
}

.dropdown-toggle {
  color: $color__negro;
}

#dropdownSelected {
  color: $color__blanco;
  margin-left: 5px;
  line-height: 23px;
  text-transform: uppercase;
  font-size: 0.88em;
  &:after {
    content: ", ";
  }
}

#dropdown span {
  margin-left: 18px;
}

.form-language {
  width: 113px;
}
.zone-switch .form-language .btn-groupl #dropdownSelected .imagen {
  position: relative !important;
  margin-top: 7px;
}
.zone-switch {
    float: left;
    position: relative;
    border: 1px solid $color__blanco;
    padding: 2px;
    border-right-style: dotted;
}

.language-switch {
  float: left;
  position: relative;
  width: 75px;
  text-align: left;
  padding: 4px 2px 0px 4px;
  border: 1px solid $color__blanco;
  border-left-style: dotted;
  height: 23px;
}

.language-switch::after {
    content: '\F0D7';
    font-family: $fuente__iconos;
    color: $color__blanco;
    position: absolute;
    right: 5px;
}

.lang-currency-container {
  float: left;
  position: relative;
  margin-top: 79px;
}

/*combo de paises*/

.currency label {
  display: inline-block;
}

.btn-group:hover ul#currencyListview {
  display: block;
}

ul#currencyListviewl {
  display: none;
  border: 1px solid $color__gris__claro_medio;
  border-top: 4px solid $color__gris__claro_medio;
  margin-top: 0px;
  padding: 6px;
  background-color: $color__blanco;
  position: absolute;
  z-index: 1;
  text-align: left;
  width: 150%;
}

.btn-group {
  display: inline-block;
  float: left;
  width: 100%;
  height: 14px;
}

.currency {
  a, span {}
}

.dropdown-toggle {
  color: $color__negro;
}

#dropdown span {
  margin-left: 18px;
}

.form-language {
  width: 113px;
}
#dropdownCurrencySelected {
  color: $color__blanco;
}

.currency-switch {
  float: left;
  position: relative;
  width: 56px;
  text-align: left;
  height: 23px;
  border-right-style: none;
  border-left-style: none;
  border-top: 1px solid $color__blanco;
  border-bottom: 1px solid $color__blanco;
  padding: 4px 2px 0px 4px;
}

.currency-switch::after {
    content: "\F0D7";
    font-family: $fuente__iconos;
    color: $color__blanco;
    font-style: normal;
    position: absolute;
    right: 5px;
}

#paises-mobile .zone-switch{
	margin-right: 40px;
}

#paises-mobile .zone-switch .btn-group1 #dropdownSelected:after{
	content: none;
}

#paises-mobile .currency-switch{
	border-right:none;
}
#paises-mobile .language-switch{
	float:right;
}
