/*combo de paises*/

.currency label {
  display: inline-block;
}

ul#currencyListview {
  display: none;
  border: 1px solid rgb(172, 172, 172);
  border-top: 4px solid rgb(172, 172, 172);
  padding: 6px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  text-align: left;
  margin-top: -1px;
  width: 80%;
}

.btn-group:hover ul#currencyListview {
  display: block;
}

ul#currencyListviewl {
  display: none;
  border: 1px solid rgb(172, 172, 172);
  border-top: 4px solid rgb(172, 172, 172);
  margin-top: 0px;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  text-align: left;
  width: 150%;
}

.btn-groupl {
  &:hover ul#currencyListviewl {
    display: block;
  }
  float: left;
}

.btn-group {
  display: inline-block;
  margin-top: 3px;
  float: left;
  width: 100%;
}

.currency {
  a, span {}
}

.dropdown-toggle {
  color: rgb(0, 0, 0);
}

#dropdownSelected {
  color: rgb(255, 255, 255);
  margin-left: 5px;
  line-height: 23px;
  &:after {
    content: ", ";
  }
}

#dropdown span {
  margin-left: 18px;
}

.form-language {
  width: 113px;
}
.zone-switch .form-language .btn-groupl #dropdownSelected .imagen {
  position: relative !important;
  margin-top: 7px;
}
.zone-switch {
  float: left;
  position: relative;
}

.language-switch {
  float: left;
  position: relative;
  width: 55px;
}

.lang-currency-container {
  float: left;
  position: relative;
  margin-top: 79px;
}

/*combo de paises*/

.currency label {
  display: inline-block;
}

ul#currencyListview {
  display: none;
  border: 1px solid rgb(172, 172, 172);
  border-top: 4px solid rgb(172, 172, 172);
  padding: 6px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  text-align: left;
  margin-top: -1px;
  width: 80%;
}

.btn-group:hover ul#currencyListview {
  display: block;
}

ul#currencyListviewl {
  display: none;
  border: 1px solid rgb(172, 172, 172);
  border-top: 4px solid rgb(172, 172, 172);
  margin-top: 0px;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  text-align: left;
  width: 150%;
}

.btn-groupl {
  &:hover ul#currencyListviewl {
    display: block;
  }
  float: left;
}

.btn-group {
  display: inline-block;
  margin-top: 3px;
  float: left;
  width: 100%;
}

.currency {
  a, span {}
}

.dropdown-toggle {
  color: rgb(0, 0, 0);
}

#dropdownSelected {
  color: rgb(255, 255, 255);
  margin-left: 5px;
  line-height: 23px;
  &:after {
    content: ", ";
  }
}

#dropdown span {
  margin-left: 18px;
}

.form-language {
  width: 113px;
}
#dropdownCurrencySelected {
  color: rgb(255, 255, 255);
}

.currency-switch {
  float: left;
  position: relative;
  width: 38px;
  margin-left: 3px;
  height: 19px;
  border-right: 1px solid rgb(255, 255, 255);
}