
/*variables globales para sass*/
@import "base";

/* Login Modal */
.sabana-login-modal{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: $color__gris__medio;
    z-index: 1;
	display:none;
}
#login-modal{

}

.modulo-normal{
			background-color: $color__negro;
			padding: 23px;
		}
.modal-window {
  display: none;
  width: 305px;
  background: $color__blanco;
  margin:0 auto;
  top: 17%;
  position: relative;
  #close_x{
    position: absolute;
    top: 25px;
    right: 17px;
    color: $color__blanco;
    width: 17px;
    height: 17px;
  }
  #login-modal, #login-modal-content {
    padding: 21px;
    background: $color__negro;
    border: 8px solid $color__blanco;
		-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
  }
  #login-modal-content{
	  #signup-box{
		  .modulo{
			width: 292px;
			float: left;
			padding: 15px;
			height: 583px;
			background:$color__negro;
		  }
		  .izquierda{
			  margin-left: 7px;
			  padding: 0px!important;
			  width: 325px!important;
		  }
	  }
    #login-box, #signup-box, #forgot-box{
		.modulo{
			background-color: $color__negro;
		}
      .title{
        font: bold 1.3em/133% $fuente__titulo;
        letter-spacing: 2pt;
        margin-top: 11px;
        width: 96%;
        text-align: center;
        margin: 11px auto;
        color: $color__blanco;
      }
	  .texto__register{
		color: $color__blanco;
		font: normal 1em/194% $fuente__texto;
	  }
      .texto{
        color: $color__blanco;
        margin-top: 20px;
        text-align:center;
        font: normal 0.9em/177% $fuente__titulo;
      }
      form{
        .formcontent{
           margin-top: 48px;
              .field{
                  border-bottom: 2px solid $color__blanco;
                  margin-top: 17px;
                  input{
                    border: none;
                    background: none;
                    width: 240px;
                    font-size: 0.8em;
                    color: $color__blanco;
										text-align: left;
                  }
              }
            }
        .forgot-your-password-content{
          width: 102%;
          text-align: right;
          margin-top: 17px;
          color:$color__gris__medio;
          a{
            color:$color__gris__medio;
            font-size: 0.87em;
          }
        }

        .need-account-link-content{
			margin: 25px 0px 55px 0px;
			text-align: center;
			font: normal 1em/100% $fuente__titulo;
			color: $color__blanco;
		  #already-registered-link{
			color: $color__blanco;
			text-decoration: underline;
			font-style: italic;
		  }
          .align--left{
            float: left;
          }
          .align--right{
            float:right;
              a{
                color: $color__blanco;
                font: italic 1em/100% $fuente__texto;
                text-decoration: underline;
              }
            }
        }
        button{
          width: 100%;
          border: 1px solid $color__blanco;
          height: 39px;
          color: $color__blanco;
          margin: 113px 0px 15px 0px;
          .imagecontainer{
              width: 100%;
              margin-top: 46px;
              img{
                width:13%;
              }
            }
          span{
            color: $color__blanco;
            font-size: 1.1em;
            text-transform: uppercase;
            letter-spacing:1px;
          }
        }
      }
    }
  }

  #login-modal-content .field label {
    width: 140px;
  }

  #signup-box, #forgot-box {
    display: none;
  }

  .login-block {
    display: none;
    position: absolute;
    width: 300px;
    background: white;
    z-index: 1;
    right: 0;
    margin: -2px auto;
    background: $color__blanco;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 10px -2px rgb(0, 0, 0);
  }
}

#error-mensaje{
    text-align: center;
    color: $color__rojo;
    margin: 20px 0px;
	background: $color__negro;
}

#signup-form{
    margin-top: -52px;
}
