
/*variables globales para sass*/
@import "base";

.mr-nl-popup-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  float: left;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mr-nl-popup-frame {
    width: 82%;
    max-width: 1106px;
    margin: 7% auto;
    float:none;
    .block-content {
      background: transparent;
    }
    .leftblock{
        display: inline-block;
        background: url(../images/leftnewsletter.jpg) no-repeat;
        width: 36%;
        height: 404px;
        background-size: 100%;
        position:relative;
    }
    .block-subscribe {
      position: relative;
      width: 100%;
      background-color: $color__negro;
      .close {
          width: 18px;
          height: 18px;
          position: absolute;
          right: 38px;
          top: 28px;
          z-index: 1;
          font: lighter 3.4em/100% $fuente__texto;
      }
      .centerblock{
        width: 27%;
        top: 44px;
        display: inline-block;
        position:relative;
        .block-title-news{
            color: $color__blanco;
            text-transform: capitalize;
            font: normal 1.5em/100% $fuente__titulo;
            letter-spacing: 1pt;
            padding-bottom: 10px;
            text-align: center;
            width: 100%;
        }
        form{
          .block-content{
            background: $color__negro;
            padding: 0px;
            margin: 0px;
            .bloqueprimero{
              color: $color__blanco;
              text-align: center;
              font: normal 1em/150% $fuente__titulo;
            }
            .florpopup{
              text-align: center;
              margin-top: 2rem;
              margin-bottom: 1rem;
              img{
                width: 11%;
              }
            }
            .bloquesegundo{
              color: $color__gris__claro_medio;
              width: 59%;
              text-align: center;
              margin: 14px auto;
              font: bold 1em/150% $fuente__titulo;
            }
            .bloquetercero{
              width: 180px;
              height: 29px;
              margin: 0 auto;
              .subscribe{
                width: 100%;
                position:relative;
                margin-top: 2rem;
                input{
                  background: none;
                  color: white;
                  text-align: left;
                  font-size: 1rem;
				          min-width: 176px;
                }
                button{
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  padding: 0px;
                  width: 11px;
                  z-index: 40;
				          font:normal 1.3em/100% $fuente__iconos;
                }
              }
            }
            .bloquecuarto{
              color: $color__blanco;
              font: normal 1.1em/100% $fuente__titulo;
              margin-top: 57px;
              text-align: center;
              a{
                text-decoration: underline;
                color: $color__blanco;
                font: italic 1em/100% $fuente__texto;
              }
            }
            .bloquequinto{
                width: 100%;
                color: $color__gris__medio;
                text-align: center;
                margin: 18px 0px 10px 0px;
                text-transform: uppercase;
                font: bold 0.8em/100% $fuente__texto;
                margin: 3rem 0px 0px 0px;
                a {
                  width: 100%;
                }
            }
          }
        }
      }
      p, label, .label {
        font-size: 12px;
        font-weight: normal;
        color: $color__gris__claro;
      }
      .input-box {
        width: auto;
        position: relative;
      }
      input, select {
		border-bottom: 3px solid $color__gris__medio;
		border-top: none;
		border-left: none;
		border-right: none;
      }
      input[type="checkbox"] {
        width: auto;
      }
    }
    .rightblock{
        display: inline-block;
        position:relative;
        background: url(../images/rightnewsletter.jpg) no-repeat;
        width: 36%;
        height: 404px;
        background-size: 100%;
    }
  }
}

.hacha{
  position:absolute;
}

.desktop-promo {
  color: #ffb400;
  float: none;
}

.calendar {
  z-index: 30;
}

#mr_nl_popup_dob_trig {
  position: absolute;
  padding: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  right: -1px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}

#mr_nl_messagesBlock .messages {
  margin-top: 10px !important;
}
