
/*variables globales para sass*/
@import "base";

.rememeber{
    margin-top: 17px;
    width: 136px;
    float: left;
    input[type="checkbox"] {
         display:none;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 11px;
        height: 11px;
        cursor: pointer;
        margin-right: 5px;
        &:before{
            content:'\f20c';
        }
    }
    input[type="checkbox"]:checked + label span {
        &:before{
            content:'\f23a';
        }
    }
    label{
        color:$color__gris__medio;
    }
    .modal-window #login-modal-content #login-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #signup-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #forgot-box form .forgot-your-password-content a {
        color: $color__gris__medio;
        font-size: 0.87em;
    }
}
.gender{
    margin-top: 17px;
    width: 85px;
    float: left;
    input[type="checkbox"] {
         display:none;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 11px;
        height: 11px;
        cursor: pointer;
        margin-right: 5px;
        &:before{
            content:'\f20c';
        }
    }
    input[type="checkbox"]:checked + label span {
        &:before{
            content:'\f23a';
        }
    }
    label{
        color:$color__gris__medio;
    }
    .modal-window #login-modal-content #login-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #signup-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #forgot-box form .forgot-your-password-content a {
        color: $color__gris__medio;
        font-size: 0.87em;
    }
}
.confirmnews{
    margin-top: 17px;
    width: 100%;
    float: left;
    input[type="checkbox"] {
         display:none;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 11px;
        height: 11px;
        cursor: pointer;
        margin-right: 5px;
        &:before{
            content:'\f20c';
        }
    }
    input[type="checkbox"]:checked + label span {
        &:before{
            content:'\f23a';
        }
    }
    label{
        color:rgb(178,178,178);
		font-style: italic;
        a{
            color:$color__gris__medio;
        }
    }
    .modal-window #login-modal-content #login-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #signup-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #forgot-box form .forgot-your-password-content a {
        color: rgb(178, 178, 178);
        font-size: 0.87em;
    }
}