.rememeber{
    margin-top: 17px;
    width: 136px;
    float: left;
    input[type="checkbox"] {
         display:none;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/checkbox.png) left top no-repeat;
        cursor: pointer;
        margin-right: 5px;

    }
    input[type="checkbox"]:checked + label span {
        background:url(../images/checkboxsel.png) left top no-repeat;
    }
    label{
        color:rgb(178,178,178);
    }
    .modal-window #login-modal-content #login-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #signup-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #forgot-box form .forgot-your-password-content a {
        color: rgb(178, 178, 178);
        font-size: 0.87em;
    }
}
.gender{
    margin-top: 17px;
    width: 85px;
    float: left;
    input[type="checkbox"] {
         display:none;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/checkbox.png) left top no-repeat;
        cursor: pointer;
        margin-right: 5px;

    }
    input[type="checkbox"]:checked + label span {
        background:url(../images/checkboxsel.png) left top no-repeat;
    }
    label{
        color:rgb(178,178,178);
    }
    .modal-window #login-modal-content #login-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #signup-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #forgot-box form .forgot-your-password-content a {
        color: rgb(178, 178, 178);
        font-size: 0.87em;
    }
}
.confirmnews{
    margin-top: 17px;
    width: 100%;
    float: left;
    input[type="checkbox"] {
         display:none;
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/checkbox.png) left top no-repeat;
        cursor: pointer;
        margin-right: 5px;

    }
    input[type="checkbox"]:checked + label span {
        background:url(../images/checkboxsel.png) left top no-repeat;
    }
    label{
        color:rgb(178,178,178);
		font-style: italic;
    }
    .modal-window #login-modal-content #login-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #signup-box form .forgot-your-password-content a, 
    .modal-window #login-modal-content #forgot-box form .forgot-your-password-content a {
        color: rgb(178, 178, 178);
        font-size: 0.87em;
    }
}