
/*variables globales para sass*/
@import "base";

.texto--banner--restPages{
    height: 46px;
    overflow: hidden;
    text-align: center;
    ul{
      li{
        a{
          color: $color__negro;
          font-style: italic;
          span{
            width: 100%;
            float: left;
            text-align: center;
            font: bold 1.2em/100% $fuente__texto;
          }
        }
      }
    }
}
.restepasword{
	position: relative;
    width: 320px;
    margin: 6% auto;
    background: $color__negro;
    -webkit-box-shadow: 7px 8px 19px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 8px 19px -11px rgba(0,0,0,0.75);
    box-shadow: 7px 8px 19px -11px rgba(0,0,0,0.75);
    border: 12px solid rgb(255, 255, 255);
	.page-title{
		top: 38px;
		position: relative;
		text-align: center;
		color: $color__blanco;
		font-family: $fuente__titulo;
	}
	form{
		.fieldset
		{
		padding: 0px;
		width: 91%;
		margin: 41px auto 40px;
		position: relative;
		top: 34px;
			.field{    
			border-bottom: 2px solid $color__blanco;
				.input-box{
					margin: 17px 0px 0px;
				}
				label{
					color:$color__blanco;
				}
				input{
					border: none;
					background: none;
					width: 97%;
					color:$color__blanco;
				}
			}
		}
		.buttons-set{
			padding: 0;
			margin: 0px 0px 40px;
			text-align: right;
			position: relative;
			top: 35px;
			.required{
				position: absolute;
				color: rgb(255, 0, 0);
				right: 11px;
				bottom: 0px;
			}
			.button{
				border: 1px solid $color__blanco;
				color: $color__blanco;
				font: normal 1em/100% $fuente__texto;
				text-transform: uppercase;
				width: 59%;
				margin: 13px 19% 37px;
				position: relative;
			}
		}
	}
}