html, body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

h2.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
}

#container {
    color: #555;
    float: right;
    margin-top: 0px;
    font-family: Helvetica,Arial;
}

#countdown_dashboard {
	height: 40px;
    width: 205px;
    margin: 0 auto;
}

.dash {
    width: 45px;
    height: 40px;
    /* background: transparent url('../images/dash.png') 0 0 no-repeat; */
    float: left;
    margin-left: 0px;
    position: relative;
}

.dash .digit {
	font-size: 19pt;
	float: left;
	width: 16px;
	text-align: center;
	font-family: "Open Sans";
	font-weight:lighter;
	position: relative;
	color: #fff;
}
.seconds_dash {
	margin-left: 14px;
}
.seconds_dash .digit {
	color: rgb(255,0,0);
}

.seconds_dash .dash_title {
	color: rgb(255,0,0);
}

.dash_title {
	/*position: absolute;*/
	display: block;
	bottom: 0px;
	right: 0px;
	font-size: 8pt;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
	height:8px;
	font-weight:normal;
	font-family: "Merriweather";
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

#subscribe_form {
	position: relative;
} 

#email_field {
	font-size: 16pt;
	padding: 6px 10px;
	width: 300px;
}

#subscribe_button {
	font-size: 14pt;
	color: #333;
	padding: 4px 8px;
}

.copyright {
	font-size: 9pt;
	color: #333;
	margin: 40px 0px;
}

.faded {
	color: #999;
}

.form_message {
	width: 400px;
	padding: 10px;
	margin: 15px auto;
	display: none;
}

#error_message {
	background-color: #ffe;
	border-left: 5px solid #bb3;
	border-right: 5px solid #bb3;
	color: #770;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}

.banner_class {
    width: 100%;
    float: left;
    position: relative;
    background: url('../images/minibanner-1rebajas_960.png') no-repeat center;
    height: 85px;
    text-align: center;
}


@media screen and (max-width: 975px) {
.banner_class {
	width: 100%;
    margin-top: 82px;
	margin-bottom: -80px;			
	background-size:100%;
	/*background: url(../images/minibanner-suscribe-movil.png) no-repeat center;*/
    
}
#container{
	float:none;
}
}
@media screen and (max-width: 799px) {
    .banner_class {
	width: 100%;
    margin-top: 82px;
	margin-bottom: -80px;	
	background: url(../images/minibanner-1rebajas_800.png) no-repeat center;
	background-size:100%;
    
}
}

@media screen and (max-width: 600px) {
    .banner_class {
	width: 100%;
    margin-top: 82px;
	margin-bottom: -80px;	
	background: url(../images/minibanner-1rebajas_600x110.png) no-repeat center;
    background-size:100%;
}
}
/*fin de estilos para mid seasson sale de 28/04/2016*/