<?xml version="1.0"?>
<config>
    <modules>
        <ThemeOptions_ExtraConfig>
            <version>1.0.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </ThemeOptions_ExtraConfig>
    </modules>
	<global>
		<models>
            <!-- ... -->
            <ExtraConfig>
                <class>ThemeOptions_ExtraConfig_Model</class>
            </ExtraConfig>   
            <!-- ... -->
        </models>
		<helpers>
			<ExtraConfig>
				<class>ThemeOptions_ExtraConfig_Helper</class>
			</ExtraConfig>
		</helpers>
	    <resources />
	    <extraconfig />
	    <blocks>
            <mygeneral><class>ThemeOptions_ExtraConfig_Block</class></mygeneral>
		</blocks>
	</global>
	<!---->
	<default>
		<mygeneral>
			<generaloptions>
                <menutype>1</menutype>
                <topbanner>default/phone.png</topbanner>
				<use_cufon>0</use_cufon>
				<additional_nav>Clearance</additional_nav>
				<additional_nav_href>#</additional_nav_href>
				<topbtn>1</topbtn>
                <enable_ajax>1</enable_ajax>
			</generaloptions>
			<background>
                <maincolor>fff</maincolor>
                <pattern>default/pattern.png</pattern>
                <bg_repeat></bg_repeat>
                <bg_attachment></bg_attachment>
                <bg_position_x></bg_position_x>
                <bg_position_y></bg_position_y>
			</background>            
            <product_list>
				<hover_swap>1</hover_swap>
				<column_count>3</column_count>
				<layer>1</layer>
				<sale_label>1</sale_label>
				<new_label>1</new_label>
				<addto>0</addto>
            </product_list>
			<share>
				<use_share>1</use_share>
				<share_code><![CDATA[
<div style="clear: both;">&nbsp;</div>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>            
</div>]]></share_code>
			</share>
			<slideshow>
				<use_slideshow>1</use_slideshow>
				<autoplay>1</autoplay>
				<speed>8000</speed>
                <slides_count>2</slides_count>
			</slideshow>
			<productpage>
				<layout>default</layout>              
				<use_zoom>1</use_zoom>
				<use_carousel>1</use_carousel>
			</productpage>
            <colors>
                <active_color>FF4A4A</active_color>
                <button_hover>fd2527</button_hover>
            </colors>

		</mygeneral>
	</default>
	<!---->
    <adminhtml>   
        <layout>
            <updates>
                <ExtraConfig>
                    <file>options.xml</file>
                </ExtraConfig>
            </updates>
        </layout>
    </adminhtml>     
</config>
