<config>
	<tabs>
        <mycustom_tab translate="label" module="ExtraConfig">
            <label>ETheme Options</label>
            <sort_order>1</sort_order>
        </mycustom_tab>
    </tabs>
    <sections>
        <mygeneral translate="label" module="ExtraConfig">
			<label>Theme Options</label>
            <sort_order>1</sort_order>
            <class>superclass</class>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>mycustom_tab</tab>
            <groups>
                <generaloptions translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <menutype translate="label">
			    			<label>Menu type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/menutypes</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </menutype> 
                        <use_cufon translate="label">
			    			<label>Use Cufon</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </use_cufon> 
                        <additional_nav translate="label">
			    			<label>Additional Navigation Link</label>
                            <frontend_type>text</frontend_type>
                            <comment>Unset to disable</comment>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </additional_nav> 
                        <additional_nav_href translate="label">
			    			<label>Additional Navigation Link Url</label>
                            <frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </additional_nav_href>    
                        <topbtn translate="label">
			    			<label>"Back to top" button</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </topbtn> 
                        <enable_ajax translate="label">
                            <label>Enable Ajax Add to cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </enable_ajax>                                           
                    </fields>
                </generaloptions>
                <background translate="label">
                    <label>Background Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <maincolor translate="label">
			    			<label>Background-color</label>
                            <frontend_type>color</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </maincolor> 
                        <pattern translate="label">
			    			<label>Background-image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">wysiwyg/blanco</upload_dir> 
                            <base_url type="media" scope_info="1">wysiwyg/blanco</base_url>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </pattern>  
                        <bg_repeat translate="label">
			    			<label>Background-repeat</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/repeat</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </bg_repeat>
                        <bg_attachment translate="label">
			    			<label>Background-attachment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/attachment</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </bg_attachment> 
                        <bg_position_x translate="label">
			    			<label>Background-position (X)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/positionx</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </bg_position_x> 
                        <bg_position_y translate="label">
			    			<label>Background-position (Y)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/positiony</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </bg_position_y>                                           
                    </fields>
                </background>                                  
                <slideshow translate="label">
                    <label>Slideshow Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_slideshow translate="label">
			    			<label>Use Slideshow</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </use_slideshow>
                        <autoplay translate="label">
			    			<label>Autoplay</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>2</sort_order>
                            <depends>
                                <use_slideshow>1</use_slideshow>
                            </depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </autoplay>
                        <speed translate="label">
			    			<label>Speed</label>
                            <frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
                            <depends>
                                <use_slideshow>1</use_slideshow>
                            </depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </speed> 						
                    
                    </fields>
                </slideshow>
                <product_list translate="label">
                    <label>Product List Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <hover_swap translate="label">
			    			<label>Product hover efect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </hover_swap>
                        <column_count translate="label">
			    			<label>Products per row</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/columncount</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </column_count> 
                        <layer translate="label">
			    			<label>Shopping options</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/layertypes</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </layer> 
                        <new_label translate="label">
			    			<label>"New Product" label</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </new_label> 
                        <sale_label translate="label">
			    			<label>"Sale" label</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </sale_label>  
                        <addto translate="label">
			    			<label>"Add to Wishlist" and "Add to Compare" buttons</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </addto>                             
                    </fields>
                </product_list>
                <productpage translate="label">
                    <label>Product Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <layout translate="label">
			    			<label>Product page layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ExtraConfig/productpages</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </layout>                                           
                        <use_zoom translate="label">
			    			<label>Use zoom for product images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </use_zoom> 
                        <use_carousel translate="label">
			    			<label>Use product scrollbar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </use_carousel>                   
                    </fields>
                </productpage>
                <share translate="label">
                    <label>Share Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_share translate="label">
			    			<label>Use Share Links</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </use_share>
                        <share_code translate="label">
			    			<label>Share Code</label>
                            <frontend_type>textarea</frontend_type>
							<sort_order>20</sort_order>
                            <depends>
                                <use_share>1</use_share>
                            </depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </share_code>                        
                    </fields>
                </share>
                <colors translate="label">
                    <label>Colors</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_color translate="label">
			    			<label>Active Color</label>
                            <frontend_type>color</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </active_color>	
                        <button_hover translate="label">
			    			<label>"Add to Cart" button hover</label>
                            <frontend_type>color</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </button_hover>			
                    </fields>
                </colors> 
            </groups>
        </mygeneral>
    </sections>
</config>