<?xml version="1.0"?>
<config>
    <modules>
        <WP_ThemeFashionstore>
            <version>1.3.0</version>
        </WP_ThemeFashionstore>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <links>WP_ThemeFashionstore_Block_Links</links>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <themefashionstore>
                <class>WP_ThemeFashionstore_Helper</class>
            </themefashionstore>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <theme_fashionstore translate="title" module="themefashionstore">
                                            <title><![CDATA[Web & People: Theme Fashionstore]]></title>
                                            <sort_order>1000</sort_order>
                                        </theme_fashionstore>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <theme_fashionstore>
            <general>
                <version>1.3.0</version>
            </general>
        </theme_fashionstore>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <about_webandpeople translate="title" module="themefashionstore">
                                            <title><![CDATA[Web & People: About Us]]></title>
                                            <sort_order>1000</sort_order>
                                        </about_webandpeople>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <themefashionstore>
                <class>WP_ThemeFashionstore_Block</class>
            </themefashionstore>
        </blocks>
    </global>
</config>
