<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_AsyncIndex>
            <active>true</active>
            <version>1.1.3.1</version>
        </Mirasvit_AsyncIndex>
    </modules>
    <global>
        <models>
            <asyncindex>
                <class>Mirasvit_AsyncIndex_Model</class>
            </asyncindex>

            <index>
                <rewrite>
                    <process>Mirasvit_AsyncIndex_Model_Process</process>
                    <event>Mirasvit_AsyncIndex_Model_Event</event>
                </rewrite>
            </index>

            <index_resource>
                <rewrite>
                    <event>Mirasvit_AsyncIndex_Model_Resource_Event</event>
                </rewrite>
            </index_resource>

            <catalogrule>
                <rewrite>
                    <rule>Mirasvit_AsyncIndex_Model_CatalogRule_Rule</rule>
                </rewrite>
            </catalogrule>
        </models>
        <helpers>
            <asyncindex>
                <class>Mirasvit_AsyncIndex_Helper</class>
            </asyncindex>
            <catalog>
                <rewrite>
                    <product_flat>Mirasvit_AsyncIndex_Helper_Catalog_Product_Flat</product_flat>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <asyncindex>
                <class>Mirasvit_AsyncIndex_Block</class>
            </asyncindex>
            <index>
                <rewrite>
                    <adminhtml_process_grid>Mirasvit_AsyncIndex_Block_Adminhtml_Process_Grid</adminhtml_process_grid>
                </rewrite>
            </index>
        </blocks>
        <resources>
            <asyncindex_setup>
                <setup>
                    <module>Mirasvit_AsyncIndex</module>
                </setup>
            </asyncindex_setup>
        </resources>
        <events>
            <store_save_after>
                <observers>
                    <asyncindex>
                        <type>model</type>
                        <class>asyncindex/observer</class>
                        <method>onStoreSaveAfter</method>
                    </asyncindex>
                </observers>
            </store_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mirasvit_AsyncIndex before="Mage_Index">Mirasvit_AsyncIndex_Adminhtml</Mirasvit_AsyncIndex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <asyncindex>
                    <file>asyncindex.xml</file>
                </asyncindex>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <asyncindex>
                                            <title>Fast Asynchronous Re-indexing</title>
                                        </asyncindex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <catalog_product_save_after>
                <observers>
                    <catalogrule>
                        <type>disabled</type>
                    </catalogrule>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
        <asyncindex>
            <general>
                <full_reindex>1</full_reindex>
                <change_reindex>1</change_reindex>
                <validate_product_index>0</validate_product_index>
                <validate_category_index>0</validate_category_index>
                <queue_batch_size>100</queue_batch_size>
                <cronjob>1</cronjob>
                <danger_queue_size>2000</danger_queue_size>
            </general>
        </asyncindex>
    </default>
    <crontab>
        <jobs>
            <asyncindex>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>asyncindex/observer::process</model>
                </run>
            </asyncindex>
        </jobs>
    </crontab>
</config>