<?xml version="1.0" encoding="UTF-8"?>
<config>
 <modules>
  <Tdg_Check>
   <version>1.0.0</version>
  </Tdg_Check>
 </modules>
 <admin>
  <fieldsets>
   <customer_dataflow>
    <identificacion><billing>1</billing><shipping>1</shipping></identificacion>
   </customer_dataflow>
  </fieldsets>
 </admin>
 <global>
  <models>
   <check>
    <class>Tdg_Check_Model</class>
   </check>
  </models>
  <resources>
   <check_setup>
    <setup>
     <module>Tdg_Check</module>
    </setup>
    <connection>
     <use>core_setup</use>
    </connection>
   </check_setup>
   <check_write>
    <connection>
     <use>core_write</use>
    </connection>
   </check_write>
   <check_read>
    <connection>
     <use>core_read</use>
    </connection>
   </check_read>
  </resources>
  <fieldsets>
   <sales_copy_order_billing_address>
    <identificacion><to_order>*</to_order></identificacion>
   </sales_copy_order_billing_address>
   <sales_copy_order_shipping_address>
    <identificacion><to_order>*</to_order></identificacion>
   </sales_copy_order_shipping_address>
   <sales_convert_quote_address>
    <identificacion><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></identificacion>
   </sales_convert_quote_address>
   <sales_convert_order_address>
    <identificacion><to_quote_address>*</to_quote_address></identificacion>
   </sales_convert_order_address>
   <customer_address>
    <identificacion><to_quote_address>*</to_quote_address></identificacion>
   </customer_address>
   <checkout_onepage_billing>
    <identificacion><to_customer>*</to_customer></identificacion>
   </checkout_onepage_billing>
  </fieldsets>
 </global>
</config> 