<?xml version="1.0"?>
<config>
    <modules>
        <Orange35_Wishlistpanel>
            <version>1.1.10</version>
            <sku>MPLG010</sku>
            <customized>false</customized>
            <license>Mv0F3QmF3n4gsUtytweBP7zz945OaqLi3uxtByAG2KfcXjQ9wcl7iX045z1WD45SOaq3JZoJbRo99f+QNxPArYsu1rOVxZJYhVWfQUuKVfrUlZyXta5GpBp4p/jXxyUNu6t1NCFPAA/cjP34bi5itg7lAdUjc/Emn86dd9fVff7UtTkE4QiCPP4wnF/InlKShX6A6XEUUQ1GOg0MUqvV0kdpcl9p4DooPbPiuEDyXwMFmDfcfg6/sfmBo5wPnelRzNPvsWx+2vzAQYccxBN+gaEDne/ARAAn3dbf0q3w95gaRncZeID53uE5PAF+97x7Eo1F1zDW6fhq48BUFHTcIA==</license>
        </Orange35_Wishlistpanel>
    </modules>
    <global>
        <models>
            <orange35_wishlistpanel>
                <class>Orange35_Wishlistpanel_Model</class>
                <resourceModel>orange35_wishlistpanel_resource</resourceModel>
            </orange35_wishlistpanel>
            <orange35_wishlistpanel_resource>
                <class>Orange35_Wishlistpanel_Model_Resource</class>
            </orange35_wishlistpanel_resource>
				<wishlist>
					<rewrite>
						<item>Orange35_Wishlistpanel_Model_Wishlist_Item</item>
					</rewrite>
				</wishlist>
        </models>
        <blocks>
            <orange35_wishlistpanel>
                <class>Orange35_Wishlistpanel_Block</class>
            </orange35_wishlistpanel>
        </blocks>
        <helpers>
            <orange35_wishlistpanel>
                <class>Orange35_Wishlistpanel_Helper</class>
            </orange35_wishlistpanel>
        </helpers>
        <resources>
            <orange35_wishlistpanel_setup>
                <setup>
                    <module>Orange35_Wishlistpanel</module>
                </setup>
            </orange35_wishlistpanel_setup>
        </resources>
		<events>
			<cataloginventory_stock_item_save_after>
				<observers>
					<yourobservername2>
						<class>orange35_wishlistpanel/observer</class>
						<method>sendWishlistRecordatory</method>
					</yourobservername2>
				</observers>
			</cataloginventory_stock_item_save_after>
		</events>
    </global>
    <frontend>
        <layout>
            <updates>
                <orange35_wishlistpanel>
                    <file>orange35_wishlistpanel.xml</file>
                </orange35_wishlistpanel>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orange35_Wishlistpanel>
                    <files>
                        <default>Orange35_Wishlistpanel.csv</default>
                    </files>
                </Orange35_Wishlistpanel>
            </modules>
        </translate>
        <events>
            <customer_login>
                <observers>
                    <yourobservername>
                        <type>model</type>
                        <class>orange35_wishlistpanel/observer</class>
                        <method>customerLogin</method>
                    </yourobservername>
                </observers>
            </customer_login>
        </events>
        <routers>
            <wishlist>
                <args>
                    <modules>
                        <orange35_wishlistpanel before="Mage_Wishlist">Orange35_Wishlistpanel</orange35_wishlistpanel>
                    </modules>
                    <frontName>wishlistpanel</frontName>
                </args>
            </wishlist>
		</routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <orange35_wishlistpanel>
                    <file>orange35_wishlistpanel.xml</file>
                </orange35_wishlistpanel>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <wishlistpanel_section>
            <general_group>
                <module_enabled>1</module_enabled>
                <no_items_label>As you find products you like, click the "Add to wishlist" link to add them to this tray.</no_items_label>
                <first_item_label>&lt;strong/&gt;Your first favorite is in your Wishlist!&lt;/strong&gt;&lt;br/&gt;We'll store products you add in here while you shop</first_item_label>
                <css_selector>.link-wishlist:not(.use-ajax)</css_selector>
                <show_allcart>1</show_allcart>
                <show_allcompare>0</show_allcompare>
            </general_group>
        </wishlistpanel_section>
    </default>
</config>