<?xml version="1.0"?>
<config>
  <modules>
    <Elite_Modalwindow>
      <version>0.1.0</version>
    </Elite_Modalwindow>
  </modules>
  <frontend>
		<routers>
			<modalwindow>
				<use>standard</use>
				<args>
					<module>Elite_Modalwindow</module>
					<frontName>modalwindow</frontName>
				</args>
			</modalwindow>
		</routers>
		<layout>
			<updates>
			   <modalwindow>
						<file>modalwindow.xml</file>
				</modalwindow>
			</updates>
		</layout>	
  </frontend>
  <global>
	<helpers>
      <modalwindow>
        <class>Elite_Modalwindow_Helper</class>
      </modalwindow>
    </helpers>
	<blocks>
		<modalwindow>
			<class>Elite_Modalwindow_Block</class>
		</modalwindow>
	</blocks>
  </global>
</config> 