/* CSS Document */
.product-manufacturer {
  text-align: center; }
  .product-manufacturer a {
    color: black;
    font: bold 0.8em/100% "Merriweather"; }

.category-product-name {
  text-align: center;
  height: 35px; }
  .category-product-name a {
    font: lighter 0.8em/116% "Open Sans";
    color: #666666;
    text-transform: lowercase;
    float: left;
    text-align: center;
    width: 100%; }

.actions .price-box {
  text-align: center;
  font: lighter 0.8em/100% "Open Sans";
  color: #666666;
  float: left;
  width: 100%; }

.product-name a {
  color: black; }
.product-name h1 {
  font-family: "Merriweather"; }

.col1-layout .products-grid {
  border-bottom: 1px solid #ddd;
  position: relative;
  width: 790px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  position: relative; }
  .col1-layout .products-grid .product-image {
    display: block;
    margin: 0 0 10px; }
  .col1-layout .products-grid .price-box {
    margin: 5px 0; }
  .col1-layout .products-grid .availability {
    line-height: 21px; }
  .col1-layout .products-grid.last {
    border-bottom: 0; }
  .col1-layout .products-grid li.item {
    float: left;
    width: 24%;
    height: 45.6875em;
    margin: 0px 0px 36px 0px;
    position: relative;
    background: white;
    border: 1px solid whitesmoke; }

.col2-left-layout .products-grid, .col2-right-layout .products-grid {
  width: 632px;
  margin: 0 auto; }

.col2-left-layout .products-grid, .col2-right-layout .products-grid {
  width: 100%;
  margin-left: 0px;
  padding-left: 0; }

/* View Type: List */
.products-list li.item {
  border-bottom: 1px solid #ddd;
  padding: 12px 10px; }
  .products-list li.item.last {
    border-bottom: 0; }
.products-list .product-image {
  float: left;
  margin: 0; }
.products-list .product-shop {
  margin-left: 150px; }
.products-list .product-name {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 13px; }
.products-list .price-box {
  float: left;
  margin: 3px 13px 5px 0; }
.products-list .availability {
  float: left;
  margin: 3px 0 0; }
.products-list .desc {
  clear: both;
  padding: 6px 0 0;
  margin: 0 0 15px;
  line-height: 1.35; }
  .products-list .desc .link-learn {
    font-size: 11px; }
.products-list .add-to-links {
  clear: both; }
  .products-list .add-to-links li {
    display: inline; }
  .products-list .add-to-links .separator {
    display: inline;
    margin: 0 2px; }

.category--titleandbread .breadcrumbs {
  text-transform: uppercase;
  opacity: 0.4; }
.category--titleandbread .category-title {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 1.8em;
  font-style: italic;
  margin-top: 30px; }

.col-left.sidebar {
  padding: 0px;
  margin-top: 25px; }

.block .block-title {
  letter-spacing: 0.1em; }

.deseado {
  background: url(../images/estrella_BLK.png) 0 0 repeat-x !important; }

.padre-deseado {
  border: 2px solid black !important; }

#first-parrafo {
  background: url(../images/eclectic_edit.png) center center no-repeat;
  text-indent: -999999px; }

#second-parrafo {
  background: url(../images/exclusivity.png) center center no-repeat;
  text-indent: -999999px; }

.tags .tag {
  width: 91px;
  font: normal 0.8em/100% "Open Sans";
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  padding: 3px; }
  .tags .tag:nth-child(2n+1) {
    float: left; }
  .tags .tag:nth-child(2n) {
    float: right; }
.tags .tagsinflotar {
  position: relative;
  margin: 0 auto;
  width: 91px;
  font: normal 0.8em/100% "Open Sans";
  text-align: center;
  border: 1px solid black;
  float: left;
  text-align: center;
  text-transform: uppercase;
  padding: 3px;
  left: 28%; }

/*# sourceMappingURL=catalogo.css.map */
