.mr-nl-popup-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  max-width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .mr-nl-popup-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .mr-nl-popup-container .mr-nl-popup-frame {
    width: 82%;
    max-width: 1106px;
    margin: 5% auto; }
    .mr-nl-popup-container .mr-nl-popup-frame .block-content {
      background: transparent; }
    .mr-nl-popup-container .mr-nl-popup-frame .leftblock {
      display: inline-block;
      background: url(../images/leftnewsletter.jpg) no-repeat;
      width: 36%;
      height: 404px;
      background-size: 100%;
      position: relative; }
    .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe {
      position: relative;
      width: 100%;
      background-color: black; }
      .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .close {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 38px;
        top: 28px;
        z-index: 1;
        background: url(../images/X.png) no-repeat;
        text-indent: -9999999px;
        font: lighter 3.4em/100% "Open Sans"; }
      .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock {
        width: 27%;
        display: inline-block;
        position: relative; }
        .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock .block-title-news {
          color: white;
          text-transform: capitalize;
          font: normal 1.5em/100% "Merriweather";
          letter-spacing: 1pt;
          text-align: center; }
        .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content {
          background: transparent;
          padding: 0px;
          margin: 22px 0px 0px 0px; }
          .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloqueprimero {
            color: white;
            text-align: center;
            font: normal 1em/150% "Merriweather"; }
          .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .florpopup {
            text-align: center;
            margin-top: 28px; }
            .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .florpopup img {
              width: 11%; }
          .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquesegundo {
            color: #c2ac8d;
            width: 59%;
            text-align: center;
            margin: 14px auto;
            font: bold 1em/150% "Merriweather"; }
            .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquesegundo span {
              text-transform: capitalize; }
          .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquetercero {
            width: 90%;
            height: 29px;
            border-bottom: 2px solid white;
            margin: 0 auto; }
            .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquetercero .subscribe {
              width: 100%;
              position: relative; }
              .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquetercero .subscribe input {
                background: none;
                border: none;
                color: white; }
              .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquetercero .subscribe button {
                position: absolute;
                top: -4px;
                right: 0px;
                padding: 0px;
                width: 11px; }
          .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquecuarto {
            color: white;
            font: normal 1.1em/100% "Merriweather";
            margin-top: 57px;
            text-align: center; }
            .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquecuarto a {
              text-decoration: underline;
              color: white;
              font: italic 1em/100% "Open Sans"; }
          .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .centerblock form .block-content .bloquequinto {
            width: 100%;
            color: #666666;
            text-align: center;
            margin: 68px 0px 31px 0px;
            text-transform: uppercase;
            font: bold 0.8em/100% "Open Sans"; }
      .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe p, .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe label, .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .label {
        font-size: 12px;
        font-weight: normal;
        color: #fefefe; }
      .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe .input-box {
        width: auto;
        position: relative; }
      .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe input, .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe select {
        width: 100%; }
      .mr-nl-popup-container .mr-nl-popup-frame .block-subscribe input[type="checkbox"] {
        width: auto; }
    .mr-nl-popup-container .mr-nl-popup-frame .rightblock {
      display: inline-block;
      position: relative;
      background: url(../images/rightnewsletter.jpg) no-repeat;
      width: 36%;
      height: 404px;
      background-size: 100%; }

.hacha {
  position: absolute; }

.calendar {
  z-index: 999; }

#mr_nl_popup_dob_trig {
  position: absolute;
  padding: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  right: -1px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer; }

#mr_nl_messagesBlock .messages {
  margin-top: 10px !important; }

/*# sourceMappingURL=newsletter.css.map */
