/*variables globales para sass*/
@font-face {
  font-family: 'elitestoreregular';
  src: url("fonts/elitestore_regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/elitestore_regular.eot?#iefix") format("embedded-opentype"), url("fonts/elitestore_regular.woff2") format("woff2"), url("fonts/elitestore_regular.woff") format("woff"), url("fonts/elitestore_regular.ttf") format("truetype"), url("fonts/elitestore_regular.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal; }
.texto--banner--restPages {
  height: 46px;
  overflow: hidden;
  text-align: center; }
  .texto--banner--restPages ul li a {
    color: #000;
    font-style: italic; }
    .texto--banner--restPages ul li a span {
      width: 100%;
      float: left;
      text-align: center;
      font: bold 1.2em/100% "Open Sans", Sans-serif; }

.onestepcheckout-extraproducts {
  margin-top: 10px;
  margin-bottom: 10px; }
  .onestepcheckout-extraproducts span {
    font-weight: bold; }
  .onestepcheckout-extraproducts li {
    padding: 2px 0; }

select.address-select {
  margin: 3px 0 3px 0;
  width: 97%;
  height: 31px; }

.onestepcheckout-enterprise span.validation-error, .onestepcheckout-enterprise div.validation-error {
  padding-right: 0; }

ul.onestepcheckout-custom-options {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: disc; }

.onestepcheckout-coupons input#id_couponcode, .onestepcheckout-giftcards input#id_giftcardcode {
  margin-bottom: 5px;
  width: 200px; }

#onestepcheckout-form label {
  font-weight: normal; }

p.onestepcheckout-login-link {
  padding-top: 5px; }

#onestepcheckout-email-error {
  width: 245px;
  clear: both;
  padding-top: 3px; }

div.onestepcheckout-error {
  color: #e53935;
  border: 1px solid #e53935;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25px;
  background: #f0f0f0 url(images/onestepcheckout-error.jpg) no-repeat 5px 5px; }

.onestepcheckout-column-left .onestepcheckout-error {
  width: 85%; }

div.onestepcheckout-enable-newsletter-bottom {
  margin-top: 20px;
  text-align: right; }
div.onestepcheckout-enable-terms {
  margin-top: 10px; }

div.checkoutcontainer .checkout-error-message {
  font-size: 14px;
  margin-left: 10px;
  color: #e53935; }
div.checkoutcontainer .payment-methods .form-list label {
  text-align: left; }
div.checkoutcontainer div.input-error label {
  color: #e53935; }
div.checkoutcontainer div.input-error input, div.checkoutcontainer div.input-error select {
  border: 1px solid #e53935; }
div.checkoutcontainer div.input-different-shipping {
  margin-top: 10px; }
div.checkoutcontainer div.input-address-short, div.checkoutcontainer div.input-firstname, div.checkoutcontainer div.input-lastname, div.checkoutcontainer div.input-email, div.checkoutcontainer div.input-telephone, div.checkoutcontainer div.input-company, div.checkoutcontainer div.input-fax, div.checkoutcontainer div.input-password {
  width: 49%;
  float: left; }
div.checkoutcontainer li.taxvat div.input-box {
  width: 100%; }
div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text {
  width: 83%; }
div.checkoutcontainer div.input-postcode {
  width: 39%;
  float: left; }
  div.checkoutcontainer div.input-postcode .input-text {
    width: 70%; }
div.checkoutcontainer div.input-region {
  width: 60%;
  float: left; }
  div.checkoutcontainer div.input-region .input-text {
    width: 77%; }
div.checkoutcontainer div.input-country {
  width: 100%; }
  div.checkoutcontainer div.input-country select {
    width: 85%; }
div.checkoutcontainer div.input-region select {
  width: 77%; }

.group-select li {
  padding: 4px 0; }

.shipment-methods dd {
  font-weight: bold;
  margin: 0; }

p.checkout-choose-payment-method, p.checkout-choose-shipping-method {
  margin-top: 1em;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px; }
p.checkout-choose-payment-method {
  margin-top: 2em; }

.payment-methods dd {
  padding: 0 0 0 20px; }
  .payment-methods dd li {
    padding: 0; }

div.onestepcheckout-shipping-method {
  margin-bottom: 20px; }
div.loading-ajax, div.loading-ajax-login {
  height: 50px;
  text-align: center;
  background: url(../images/loader.gif) no-repeat center center;
  background-size: 25px 25px; }

/* Popup CSS */
#onestepcheckout_popup_overlay_iframe {
  z-index: 61;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0; }

#onestepcheckout_popup_overlay {
  z-index: 71;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  cursor: pointer; }

#onestepcheckout-toc-popup {
  width: 482px;
  height: 530px;
  position: absolute;
  z-index: 72; }
  #onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px; }
  #onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    overflow: auto;
    height: 450px; }
  #onestepcheckout-toc-popup h1 {
    margin-left: 20px; }
  #onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    margin: 0 20px 20px;
    height: 440px;
    overflow: auto;
    padding-right: 10px; }

#onestepcheckout-login-popup, #onestepcheckout-toc-popup {
  text-align: left; }

.onestepcheckout-popup-footer {
  background: url(images/onestepcheckout-popup-footer.png) no-repeat;
  height: 13px; }

.onestepcheckout-popup-wrapper {
  *background-image: url(images/onestepcheckout-popup-header.png);
  background: url(images/onestepcheckout-popup-header.png) no-repeat; }
  .onestepcheckout-popup-wrapper h1 {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 15px; }

.onestepcheckout-popup-contents {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  padding-bottom: 1px; }

.onestepcheckout-popup-wrapper label {
  font-weight: normal; }
.onestepcheckout-popup-wrapper .input-text {
  width: 190px; }

#onestepcheckout-forgot-table td {
  vertical-align: middle; }

/* Popup CSS (login link) */
#onestepcheckout-login-popup {
  width: 482px;
  position: absolute;
  z-index: 72;
  background: #fff;
  border: 8px solid;
  /*position: fixed;*/ }
  #onestepcheckout-login-popup table {
    width: 99%; }
    #onestepcheckout-login-popup table td {
      padding-top: 3px;
      padding-bottom: 3px; }
  #onestepcheckout-login-popup button {
    padding: 3px 10px; }
  #onestepcheckout-login-popup p.close {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: -5px; }

#onestepcheckout-toc-popup p.close {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: -5px; }

#onestepcheckout-login-popup p.close a {
  text-decoration: none;
  color: #000; }
  #onestepcheckout-login-popup p.close a:link, #onestepcheckout-login-popup p.close a:visited {
    text-decoration: none;
    color: #000; }

#onestepcheckout-toc-popup p.close a {
  text-decoration: none;
  color: #000; }
  #onestepcheckout-toc-popup p.close a:link, #onestepcheckout-toc-popup p.close a:visited {
    text-decoration: none;
    color: #000; }

#onestepcheckout-login-popup p.close a:hover, #onestepcheckout-toc-popup p.close a:hover {
  text-decoration: underline; }

#onestepcheckout-login-error, #onestepcheckout-forgot-error {
  color: #e53935;
  margin-bottom: 10px; }

div.onestepcheckout-comments {
  margin-top: 5px;
  margin-bottom: 20px; }
  div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 95%; }

/* onestepcheckout-twocolumns */
.onestepcheckout-two-columns .onestepcheckout-column-left {
  width: 47%;
  float: left;
  margin-right: 30px;
  background: transparent url(images/line-gradient.gif) no-repeat scroll right top; }
.onestepcheckout-two-columns .onestepcheckout-column-right {
  width: 43%;
  float: left; }
.onestepcheckout-two-columns p.onestepcheckout-numbers {
  margin-top: 20px; }
.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
  text-align: center; }
.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper {
  text-align: center;
  margin-top: 10px; }
.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
  text-align: center; }

.checkoutcontainer .payment-methods .input-box {
  width: 100%; }
  .checkoutcontainer .payment-methods .input-box .input-text, .checkoutcontainer .payment-methods .input-box textarea {
    width: 95%; }
  .checkoutcontainer .payment-methods .input-box select {
    width: 95%; }
    .checkoutcontainer .payment-methods .input-box select.year, .checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr, .checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr {
      width: 75px; }
    .checkoutcontainer .payment-methods .input-box select.month, .checkoutcontainer .payment-methods .input-box select#protxDirect_start, .checkoutcontainer .payment-methods .input-box select#protxDirect_expiration {
      width: 140px; }
.checkoutcontainer li.shipping-address-title {
  font-family: Arial,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #404040;
  font-weight: bold;
  padding-top: 5px; }

.onestepcheckout-giftmessagecontainer {
  margin-bottom: 10px; }

#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
  padding: 0;
  border: 0;
  margin: 0; }

.onestepcheckout-giftmessages .group-select li .input-box-last {
  margin-right: 0; }
.onestepcheckout-giftmessages .group-select li .input-box {
  width: 125px;
  margin-right: 20px; }
  .onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px; }
.onestepcheckout-giftmessages .group-select li textarea {
  width: 267px; }

.onestepcheckout-address-line {
  margin-bottom: 10px; }

.onestepcheckout-column-left .customer-dob .dob-month, .onestepcheckout-column-left .customer-dob .dob-day, .onestepcheckout-column-left .customer-dob .dob-year {
  float: left; }
.onestepcheckout-column-left .customer-dob input.input-text {
  display: block;
  width: 74px; }
.onestepcheckout-column-left .customer-dob label {
  font-size: 10px;
  font-weight: normal;
  color: #fff; }
.onestepcheckout-column-left .customer-dob .dob-day, .onestepcheckout-column-left .customer-dob .dob-month {
  width: 60px; }
.onestepcheckout-column-left .customer-dob .dob-day input.input-text, .onestepcheckout-column-left .customer-dob .dob-month input.input-text {
  width: 46px; }
.onestepcheckout-column-left .customer-dob .dob-year {
  width: 110px; }
  .onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px; }

.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
  padding-top: 10px; }

.onestepcheckout-feedback select, .onestepcheckout-feedback-freetext textarea {
  width: 95%; }

#control_overlay {
  background-color: #000; }

.oscmodal {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #f0f0f0; }

#addressreview, #paypaliframe_wrapper {
  width: 750px;
  min-height: 430px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #E9EAEE;
  border: 2px solid white;
  padding: 15px 40px 20px 40px;
  margin: 0 auto;
  text-align: left;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  position: relative; }

#addressreview .leftcol {
  float: left;
  width: 200px; }
#addressreview .rightcol {
  float: left;
  width: 540px; }
#addressreview h4 {
  padding-top: 15px;
  padding-bottom: 3px;
  font-size: 16px; }
#addressreview #buttons {
  position: absolute;
  right: 40px;
  bottom: 20px; }
  #addressreview #buttons div {
    float: left;
    zoom: 1;
    margin: 0 10px 0 10px; }

#addressreview_summary div.data {
  height: 375px;
  overflow-y: auto;
  padding-right: 2px; }

.agreement-content {
  overflow: auto;
  text-align: left; }

.buttons-set {
  clear: both;
  margin: 0;
  padding: 0;
  border-top: none;
  text-align: right; }

.payment-buttons {
  margin-top: 10px;
  text-align: right; }
  .payment-buttons .small {
    margin-left: 10px; }

input[type="radio"] {
  display: none; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label span {
  display: inline-block;
  width: 11px;
  height: 11px;
  cursor: pointer;
  margin-right: 5px; }
  input[type="radio"] + label span:first-child:before {
    font-family: "elitestoreregular";
    content: '\f20c'; }

input[type="radio"]:checked + label span:first-child:before {
  font-family: "elitestoreregular";
  content: '\f23a'; }

label {
  color: #ababab; }

#onestepcheckout-form .group-select {
  border: none; }
  #onestepcheckout-form .group-select .onestepcheckout-title {
    font: bold 2.8em/100% "Merriweather", Serif; }
  #onestepcheckout-form .group-select .onestepcheckout-description {
    font: normal 1.3em/100% "Merriweather", Serif;
    color: #ababab;
    font-style: italic;
    text-align: left; }
  #onestepcheckout-form .group-select .onestepcheckout-login-link #onestepcheckout-login-link {
    color: #000;
    font: bold 1.2em/100% "Open Sans", Sans-serif; }
  #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left {
    width: 31%;
    float: left;
    margin-right: 1.5%;
    border-right: 1px solid #cccccc;
    padding-right: 1.5%; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul {
      margin: 0px;
      padding: 0px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul li.shipping-address-title {
        border-bottom: 1px solid #cccccc;
        font: bold 1.3em/100% "Merriweather", Serif;
        text-transform: capitalize;
        padding-bottom: 10px;
        color: #000;
        padding-left: 41.2px;
        margin-bottom: 20px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-box {
        width: 50%; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-box input {
          width: 88%; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-address {
        width: 100%; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-address input {
          width: 44%;
          float: left;
          margin-right: 14px;
          margin-bottom: 0px; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-address input:nth-of-type(2) {
          margin-right: 0px;
          margin-top: -18px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-country select {
        width: 94%;
        height: 31px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-city {
        float: right;
        margin-top: -57px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #shipping_address ul #shipping_address_list div ul li .input-region select {
        height: 31px;
        width: 94%; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul {
      margin: 0px;
      padding: 0px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li .onestepcheckout-numbers-1 {
        border-bottom: 1px solid #cccccc;
        font: bold 1.3em/100% "Merriweather", Serif;
        text-transform: capitalize;
        padding-bottom: 10px; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li .onestepcheckout-numbers-1:before {
          font-family: "elitestoreregular";
          font-weight: normal;
          font-size: 2em;
          content: '\F2B8';
          float: left;
          margin-top: 5px;
          margin-right: 10px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-box {
        width: 50%; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-box input {
          width: 97%; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-address {
        width: 100%; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-address input {
          width: 48%;
          float: left;
          margin-bottom: 0px; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-address input:nth-of-type(2) {
          margin-right: 0px;
          margin-top: -18px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-country select {
        width: 100%;
        height: 25px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-city {
        float: right;
        margin-top: -51px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left #billing_address ul li div #billing_address_list li .input-region select {
        height: 25px;
        width: 100%; }
  #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle {
    width: 31%;
    float: left;
    margin-right: 1.5%;
    padding-right: 1.5%;
    position: relative;
    border-right: 1px solid #cccccc; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle .onestepcheckout-shipping-method .onestepcheckout-numbers-2 {
      border-bottom: 1px solid #cccccc;
      font: bold 1.3em/100% "Merriweather", Serif;
      text-transform: capitalize;
      padding-bottom: 10px;
      margin-top: 20px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle .onestepcheckout-shipping-method .onestepcheckout-numbers-2:before {
        font-family: "elitestoreregular";
        font-weight: normal;
        font-size: 2em;
        content: '\F2B9';
        float: left;
        margin-top: 5px;
        margin-right: 10px; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle .onestepcheckout-numbers-3 {
      border-bottom: 1px solid #cccccc;
      font: bold 1.3em/100% "Merriweather", Serif;
      text-transform: capitalize;
      padding-bottom: 10px;
      margin-top: 20px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle .onestepcheckout-numbers-3:before {
        content: '\F2BA';
        font-family: "elitestoreregular";
        font-weight: normal;
        font-size: 2em;
        float: left;
        margin-top: 5px;
        margin-right: 10px; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle .payment-methods .customercredit span:before {
      content: none; }
  #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right {
    width: 31%;
    float: left; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-numbers-4 {
      border-bottom: 1px solid #cccccc;
      font: bold 1.3em/100% "Merriweather", Serif;
      text-transform: capitalize;
      padding-bottom: 10px;
      margin-top: 20px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-numbers-4:before {
        content: '\F2B7';
        font-family: "elitestoreregular";
        font-weight: normal;
        font-size: 2em;
        float: left;
        margin-top: 5px;
        margin-right: 10px; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary {
      width: 100%;
      border: solid 10px #fff; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary thead {
        border-bottom: 1px solid #000; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary thead tr th {
          text-align: left; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr {
        height: 111px;
        border-bottom: 1px dotted #000; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr td.name {
          width: 65%; }
          #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr td.name .imagen {
            float: left; }
          #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr td.name .description {
            float: right;
            width: 50%;
            margin-top: 28px; }
            #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr td.name .description .manufacturer {
              text-align: left;
              font: bolder 0.9em/100% "Merriweather", Serif; }
            #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr td.name .description .name {
              text-align: left;
              font: normal 0.87em/100% "Open Sans", Sans-serif;
              text-transform: lowercase;
              margin-top: 2px; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary tbody tr td.qty {
          width: 10%;
          text-align: center; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary th.qty {
        width: 10%;
        text-align: center; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary td.total, #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-summary th.total {
        width: 35%;
        text-align: right; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-totals {
      width: 100%;
      background: #f0f0f0;
      border: solid 10px #f0f0f0; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-totals tr {
        height: 25px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-totals tr.grand-total td {
        font-weight: bold; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-totals td.title {
        width: 65%;
        text-align: right; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-summary table.onestepcheckout-totals td.value {
        width: 35%;
        text-align: right; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-totals tbody tr.partial {
      border-top: 1px dotted #000; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-enable-newsletter {
      float: left; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .onestepcheckout-place-order-wrapper #onestepcheckout-place-order {
      color: #fff;
      background: #000;
      font-size: 0.9em;
      text-transform: uppercase;
      padding: 9px 0;
      width: 100%; }
    #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .checkout-agreements li .agree {
      margin: 0px;
      margin-bottom: 4px;
      padding: 0px; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .checkout-agreements li .agree input[type="checkbox"] {
        display: none; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .checkout-agreements li .agree input[type="checkbox"] + span.terms-contidions {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .checkout-agreements li .agree input[type="checkbox"] + span.terms-contidions:before {
          font-family: "elitestoreregular";
          content: '\F20C'; }
      #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .checkout-agreements li .agree input[type="checkbox"]:checked + span.terms-contidions {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer; }
        #onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right .checkout-agreements li .agree input[type="checkbox"]:checked + span.terms-contidions:before {
          font-family: "elitestoreregular";
          content: '\F23A'; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer; }
  input[type="checkbox"] + label span:before {
    font-family: "elitestoreregular";
    content: '\F20C'; }

input[type="checkbox"]:checked + label span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  input[type="checkbox"]:checked + label span:before {
    font-family: "elitestoreregular";
    content: '\F23A'; }

input[type="checkbox"] + label span.terms-conditions {
  width: auto; }
  input[type="checkbox"] + label span.terms-conditions:before {
    content: none; }

.onestepcheckout-summary {
  margin-bottom: 30px; }

.onestepcheckout-column-right-block-left {
  float: left;
  width: 100%;
  margin-bottom: 4px; }
  .onestepcheckout-column-right-block-left ol.checkout-agreements {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0; }
    .onestepcheckout-column-right-block-left ol.checkout-agreements li {
      padding: 0; }
  .onestepcheckout-column-right-block-left label {
    font: normal 0.85em/100% "Open Sans", Sans-serif; }
    .onestepcheckout-column-right-block-left label a {
      color: black; }

.onestepcheckout-column-right-block-right {
  float: right;
  width: 54%; }

/*# sourceMappingURL=onestepcheckout.css.map */
