/*variables globales para sass*/
@font-face {
  font-family: 'elitestoreregular';
  src: url("fonts/elitestore_regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/elitestore_regular.eot?#iefix") format("embedded-opentype"), url("fonts/elitestore_regular.woff2") format("woff2"), url("fonts/elitestore_regular.woff") format("woff"), url("fonts/elitestore_regular.ttf") format("truetype"), url("fonts/elitestore_regular.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal; }
.product-collateral .box-collateral {
  margin: 0 0 15px; }

/* Product Images */
.product-view .product-img-box {
  float: left;
  width: 52.7737%;
  position: relative;
  margin-top: 12px; }

.product--imagen {
  float: right; }

.col3-layout .product-view .product-img-box {
  float: none;
  margin: 0 auto; }

.product-view .product-img-box .product-image img {
  width: 100%; }
.product-view .product-img-box .product-image-zoom {
  position: relative;
  width: 265px;
  height: 265px;
  overflow: hidden;
  z-index: 9; }
  .product-view .product-img-box .product-image-zoom img {
    position: absolute;
    left: 0;
    top: 0;
    cursor: move; }
.product-view .product-img-box .zoom-notice {
  text-align: center; }
.product-view .product-img-box .zoom {
  position: relative;
  z-index: 9;
  height: 18px;
  margin: 0 auto 13px;
  padding: 0 28px;
  cursor: pointer; }
  .product-view .product-img-box .zoom.disabled {
    -moz-opacity: .3;
    -webkit-opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: .3; }
  .product-view .product-img-box .zoom #track {
    position: relative;
    height: 18px; }
  .product-view .product-img-box .zoom #handle {
    position: absolute;
    left: 0;
    top: -1px;
    width: 9px;
    height: 22px; }
  .product-view .product-img-box .zoom .btn-zoom-out {
    position: absolute;
    left: 2px;
    top: 0; }
  .product-view .product-img-box .zoom .btn-zoom-in {
    position: absolute;
    right: 2px;
    top: 0; }
.product-view .product-img-box .more-views ul {
  margin-top: 61px; }

#primero {
  margin: 3em 0px 0px 0px;
  height: 31px; }

.product-image-popup {
  margin: 0 auto; }
  .product-image-popup .buttons-set {
    float: right;
    clear: none;
    border: 0;
    margin: 0;
    padding: 0; }
  .product-image-popup .image {
    display: block; }

/* Product Shop */
.product-view .product-shop {
  float: right;
  width: 42.9927%;
  margin: 16px 0px; }

.product-shop-info {
  width: 83.7011%; }
  .product-shop-info .product-name h1 {
    font-weight: normal; }
  .product-shop-info .product-name p {
    margin: 0 0 10px 0; }
  .product-shop-info .product-name .product-name__brand {
    font-family: "Merriweather", Serif;
    font-weight: bold;
    font-size: 2.3em; }
  .product-shop-info .product-name .product-name__name {
    text-transform: capitalize;
    font-size: 1.5em; }
  .product-shop-info .price-box {
    top: 0 !important; }
    .product-shop-info .price-box .price, .product-shop-info .price-box .special-price strike {
      font-size: 1.5em;
      font-weight: normal; }

/* Product Options */
.product-options {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px; }
  .product-options .product-options-list {
    float: left;
    width: 100%; }
    .product-options .product-options-list dl.last {
      margin: 0;
      width: 48%;
      float: left; }
    .product-options .product-options-list .last {
      margin: 0; }
  .product-options dt label {
    font-weight: bold; }
  .product-options dt .qty-holder {
    float: right; }
    .product-options dt .qty-holder label {
      vertical-align: middle; }
  .product-options dt .qty-disabled {
    background: none;
    border: 0;
    padding: 3px;
    color: #000; }
  .product-options dl.last dd.last {
    margin-left: 0px; }
  .product-options dd input.input-text {
    width: 98%; }
  .product-options dd input.datetime-picker {
    width: 150px; }
  .product-options dd .time-picker {
    display: -moz-inline-box;
    display: inline-block;
    padding: 2px 0;
    vertical-align: middle; }
  .product-options dd textarea {
    width: 98%;
    height: 8em; }
  .product-options dd select {
    width: 100%; }

.selcet--unactivate {
  pointer-events: none; }

.product-options .options-list input.radio {
  float: left;
  margin: 3px -18px 0 0; }
.product-options .options-list input.checkbox {
  float: left;
  margin: 3px -20px 0 0; }
.product-options .options-list .label {
  display: block;
  margin-left: 20px; }
.product-options ul.validation-failed {
  padding: 0 7px; }

.product-options-bottom {
  float: left;
  width: 100%;
  margin: 0 0 20px 0 !important; }
  .product-options-bottom .add-to-cart {
    margin: 0;
    width: 48%;
    float: left; }
  .product-options-bottom .price-box {
    margin: 10px 0; }
  .product-options-bottom .add-to-wish {
    margin: 0;
    width: 48%;
    float: right; }

/* Product Colores */
.product-options dd select {
  margin: 0;
  border: 1px solid #666;
  width: 100%;
  margin-top: 0px;
  height: 40px;
  line-height: 25px;
  color: #000;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("../images/arrowdown-ficha-producto.png") no-repeat 95% 50%;
  font-size: 1em;
  padding-left: 15px; }

p.sizechart-link {
  float: right;
  width: 48%;
  text-align: right; }
  p.sizechart-link a {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.9em;
    color: #ababab;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 1.1em; }

.product-shop-info .color {
  float: left;
  border: 1px solid #fff;
  color: #fff;
  margin: 0px; }
.product-shop-info ul {
  height: 27px;
  position: relative;
  margin: 0px;
  padding: 0px; }
.product-shop-info .color--selected {
  color: #000;
  border-color: #000;
  border-radius: 77px;
  height: 25px;
  width: 25px;
  padding: 2px;
  margin-right: 5px; }
.product-shop-info .color img {
  margin: 2px; }

/* Add to Buttons */
.product-view .add-to-cart .button.button--shikoba, .product-view .add-to-wish .button.button--shikoba {
  line-height: 37px;
  font-size: 1.2em;
  text-transform: uppercase; }

.add-to-wish .button--shikoba:hover > span a {
  color: transparent; }

.button-remove {
  width: 100%;
  height: 40px;
  border: solid 1px #ababab;
  text-transform: uppercase;
  color: #ababab;
  line-height: 37px;
  font-size: 1.2em; }

/* Product Out of Stock */
.product-view .product-shop-info .out-of-stock {
  width: 100%;
  float: left; }
  .product-view .product-shop-info .out-of-stock div {
    width: 48%;
    background: rgba(0, 0, 0, 0.3);
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 60px 0 20px 0; }

.product-img-box.out-of-stock-images {
  opacity: 0.4; }

/* Product Info Acordeon */
.product-view .product-shop-info .acordeon {
  position: relative;
  float: left;
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #cccccc; }
  .product-view .product-shop-info .acordeon dt {
    border-top: 1px solid #cccccc;
    font-weight: bold;
    line-height: 3em;
    letter-spacing: 0.05em;
    position: relative;
    cursor: pointer; }
    .product-view .product-shop-info .acordeon dt:after {
      content: '\f067';
      font-family: "elitestoreregular";
      position: absolute;
      right: 1rem; }
    .product-view .product-shop-info .acordeon dt:hover {
      color: #ababab; }
    .product-view .product-shop-info .acordeon dt.desplegado {
      position: relative; }
      .product-view .product-shop-info .acordeon dt.desplegado:after {
        content: '\f068';
        font-family: "elitestoreregular";
        position: absolute;
        right: 1rem; }
  .product-view .product-shop-info .acordeon dd {
    margin: 0 0 15px 0;
    display: none; }
    .product-view .product-shop-info .acordeon dd.desplegado {
      display: block; }
    .product-view .product-shop-info .acordeon dd ul {
      height: auto; }

/* Contact Product Form */
.productcontact-link {
  color: #ababab;
  text-decoration: underline; }

/* Grouped Product */
.product-view .box-up-sell .products-grid td {
  width: 25%; }
.product-view .box-tags .form-add label {
  float: left; }
.product-view .box-tags .form-add .input-box {
  float: left;
  width: 260px;
  margin: 0 5px; }
.product-view .box-tags .form-add input.input-text {
  width: 254px; }
.product-view .box-tags .form-add p {
  clear: both; }

.product-review .product-img-box {
  float: left;
  width: 140px; }
  .product-review .product-img-box .product-image {
    display: block;
    width: 125px;
    height: 125px; }
  .product-review .product-img-box .label {
    font-size: 11px;
    margin: 0 0 3px; }
  .product-review .product-img-box .ratings .rating-box {
    float: none;
    display: block;
    margin: 0 0 3px; }
.product-review .product-details {
  margin-left: 150px; }
.product-review .product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px; }
.product-review .ratings-table {
  margin: 0 0 10px; }
.product-review dt {
  font-weight: bold; }
.product-review dd {
  font-size: 13px;
  margin: 5px 0 0; }

.completalocon {
  font: bold 2em/100% "Merriweather", Serif;
  width: 348px;
  margin: 0 auto;
  position: relative; }

.completalocon-content {
  position: relative; }
  .completalocon-content:before {
    content: "_";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 36%;
    border-bottom: 1px solid #cccccc;
    text-indent: -99999px; }
  .completalocon-content:after {
    content: "_";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 36%;
    border-bottom: 1px solid #cccccc;
    text-indent: -99999px; }

/*# sourceMappingURL=producto-view.css.map */
