/*variables globales para sass*/
@font-face {
  font-family: 'elitestoreregular';
  src: url("fonts/elitestore_regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/elitestore_regular.eot?#iefix") format("embedded-opentype"), url("fonts/elitestore_regular.woff2") format("woff2"), url("fonts/elitestore_regular.woff") format("woff"), url("fonts/elitestore_regular.ttf") format("truetype"), url("fonts/elitestore_regular.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal; }
.modalwindow {
  background-color: #000;
  padding: 11px;
  position: relative;
  width: 80%;
  max-width: 750px;
  height: 95%;
  max-height: 606px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2); }
  .modalwindow.small-window {
    height: 66%;
    width: 50%;
    max-width: 400px;
    max-height: 500px;
    left: 50%;
    margin-left: -211px;
    z-index: 301 !important;
    position: fixed;
    top: 50%;
    margin-top: -261px; }
  .modalwindow .border {
    background-color: #fff;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .modalwindow .border .content {
      padding: 30px 27px 36px 27px; }
      .modalwindow .border .content .close {
        position: absolute;
        top: 17px;
        right: 16px;
        color: #666;
        width: 17px;
        font: normal 2em/100% "elitestoreregular";
        height: 17px; }
      .modalwindow .border .content .loading {
        margin-top: 25%;
        text-align: center; }
      .modalwindow .border .content .titulo {
        font-family: "Merriweather", Serif;
        font-size: 1.8em;
        font-weight: bold;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        text-transform: uppercase; }
        .modalwindow .border .content .titulo span {
          font-size: 0.5em;
          color: rgba(0, 0, 0, 0.4);
          margin-left: 10px;
          font-weight: normal;
          text-transform: none;
          float: left; }
        .modalwindow .border .content .titulo .simboloWishlist {
          width: 20px;
          height: 19px;
          position: absolute;
          margin-top: -3px;
          margin-left: 14px; }
          .modalwindow .border .content .titulo .simboloWishlist:before {
            content: '\f005';
            font: normal 2em/100% "elitestoreregular";
            color: #000;
            top: 2px;
            position: relative; }
      .modalwindow .border .content .subtitulo {
        font: bold 1.3em/100% "Open Sans", Sans-serif;
        text-transform: uppercase;
        letter-spacing: 1pt;
        margin: -14px 0 20px 0;
        width: 100%;
        float: left; }
        .modalwindow .border .content .subtitulo span {
          font: normal 0.76em/100% "Open Sans", Sans-serif;
          color: #000;
          margin-left: 4px;
          text-transform: initial;
          letter-spacing: initial; }
      .modalwindow .border .content .subtitulo2 {
        margin: -14px 0 20px 0;
        width: 100%;
        float: left; }
      .modalwindow .border .content a {
        color: #000;
        margin: 5px 0 20px 0;
        float: left;
        width: 100%;
        font-size: 0.85em; }
        .modalwindow .border .content a:hover {
          color: #ababab; }
      .modalwindow .border .content .col1 {
        float: left;
        width: 100%; }
      .modalwindow .border .content .col2 {
        float: right;
        width: 100%; }
      .modalwindow .border .content .field-group {
        float: left;
        width: 100%;
        margin-bottom: 15px; }
        .modalwindow .border .content .field-group .field {
          float: left;
          width: 46%; }
          .modalwindow .border .content .field-group .field.ancho {
            width: 100%; }
          .modalwindow .border .content .field-group .field.field-right {
            float: right; }
        .modalwindow .border .content .field-group textarea {
          float: left;
          width: 98%;
          height: 100px;
          border: 1px solid #ababab; }
        .modalwindow .border .content .field-group .label {
          float: left;
          width: 100%;
          color: #666; }
          .modalwindow .border .content .field-group .label span {
            color: red;
            padding: 1px 3px 0 0;
            float: left; }
        .modalwindow .border .content .field-group .field .form-input-text {
          border: 1px solid #f0f0f0;
          color: #000;
          font-size: 1em;
          width: 98%;
          height: 33px;
          padding-left: 2%; }
        .modalwindow .border .content .field-group .contact-phone input[type="checkbox"] {
          display: none; }
          .modalwindow .border .content .field-group .contact-phone input[type="checkbox"] + label span {
            display: inline-block;
            width: 11px;
            height: 11px;
            font-family: "elitestoreregular";
            content: \F20C; }
          .modalwindow .border .content .field-group .contact-phone input[type="checkbox"]:checked + label span {
            font-family: "elitestoreregular";
            content: \F23A; }
        .modalwindow .border .content .field-group .field select {
          border: 1px solid #cccccc;
          color: #000;
          font-size: 1em;
          width: 100%;
          height: 37px;
          padding-left: 7px;
          background-color: #fff; }
        .modalwindow .border .content .field-group.image-product {
          border: 1px solid #f0f0f0;
          text-align: center;
          padding: 10px 0; }
      .modalwindow .border .content .image-product .marca {
        font: bold 1em/100% "Merriweather", Serif; }
      .modalwindow .border .content .buttons {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem; }
        .modalwindow .border .content .buttons button {
          width: 100%;
          background: #000;
          border: 1px solid;
          height: 37px;
          color: #fff;
          font-weight: bold;
          font-size: 0.95em;
          margin: 0 auto;
          line-height: 0.9em;
          text-transform: uppercase; }
      .modalwindow .border .content .sp-methods {
        float: left;
        width: 100%;
        margin-top: 30px;
        height: 100px; }
        .modalwindow .border .content .sp-methods dt {
          font-weight: normal; }
        .modalwindow .border .content .sp-methods dd ul li input[type="radio"] {
          display: none; }
          .modalwindow .border .content .sp-methods dd ul li input[type="radio"] + label {
            font-weight: normal; }
            .modalwindow .border .content .sp-methods dd ul li input[type="radio"] + label span {
              display: inline-block;
              width: 30px;
              height: 11px;
              font-family: "elitestoreregular";
              font-size: 1.2em; }
              .modalwindow .border .content .sp-methods dd ul li input[type="radio"] + label span:first-child:before {
                content: '\F20C'; }
          .modalwindow .border .content .sp-methods dd ul li input[type="radio"]:checked + label span:first-child:before {
            content: '\F23A'; }
        .modalwindow .border .content .sp-methods .loading-mask {
          width: 100%;
          margin-top: 20px;
          text-align: center; }

/*# sourceMappingURL=windows-modal.css.map */
