<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Importador>
            <version>0.1.0</version>
        </MGS_Importador>
    </modules>
    <frontend>
        <routers>
            <MGS_Importador>
                <use>standard</use>
                <args>
                    <module>MGS_Importador</module>
                    <frontName>importador</frontName>
                </args>
            </MGS_Importador>
        </routers>        
    </frontend>
 <global>
    	<models>
    		<importador>
    			 <class>MGS_Importador_Model</class>
    			<resourceModel>importador_resource</resourceModel>
    		</importador>
    	</models>
    </global>
    
  <!-- añadido par ael cambio de la pagina -->
    <crontab>
			<jobs>
				<MGS_Importador>
					<schedule>
						<cron_expr>*/30 * * * *</cron_expr>
					</schedule>
					<run>
						<model>importador/cron::importar</model>
					</run>
				</MGS_Importador>
			</jobs>
    </crontab>
    
</config>