.m-fpc-debug-info {
  width: 420px;
  min-height: 115px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: #47bbb3;
  color: #fff;
  z-index: 100000;
  font-family:Arial;
}
.m-fpc-debug-info .m-fpc-h1 {
  font-family:Arial;
  background: rgb(57, 172, 163);
  color: #fff;
  padding: 3px 3px 5px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align:left;
  text-transform:none;
}
.m-fpc-debug-info .m-fpc-debug-info-main-block {
  padding: 2px 5px 10px 5px;
}
.m-fpc-debug-info .m-fpc-action {
  font-family:sans-serif,Arial;
  padding:0px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-transform:none;
  padding-top:15px;
}
.m-fpc-debug-info .m-fpc-ignored {
  padding-top: 0px !important;
}
.m-fpc-debug-info .m-fpc-hit-info {
  font-family:sans-serif,Arial;
  padding:0px;
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.95);
  text-transform:none;
}
.m-fpc-debug-info .m-fpc-time-text {
  font-family:sans-serif,Arial;
  padding:0px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-transform:none;
}
.m-fpc-debug-info .m-fpc-time {
  font-family:Arial;
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  line-height: 65px;
  text-align:center;
}
.m-fpc-debug-info .m-fpc-time-sec-text {
  font-family:sans-serif,Arial;
  font-size: 35px;
  text-align:center;
  text-transform:none;
}
.m-fpc-debug-info.m-fpc-debug-info-not-cacheable {
  height: 220px;
  box-shadow: 0 0 0 5px #E0E0E0;
}
.m-fpc-debug-info.m-fpc-debug-info-hit {
  box-shadow: 0 0 0 5px #CCFFD3;
}
.m-fpc-debug-info.m-fpc-debug-info-miss {
  box-shadow: 0 0 0 5px #FECBCB;
}
.m-fpc-debug-info .m-fpc-disabled-info {
  font-family:sans-serif,Arial;
  padding:0px;
  margin: 12px 0px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.95);
  text-transform:none;
  color: #911E42 !important;
}
.m-fpc-debug-info .m-fpc-detail-info-hide-show-button-style {
  float: right;
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.m-fpc-debug-info .m-fpc-info-scroll-hide {
  display: none;
}
/*scroll*/
.m-fpc-debug-info .m-fpc-info-scroll {
  overflow-y: auto;
  height: 350px;
  padding: 0px 5px 10px 5px;
  text-align: justify;
}
.m-fpc-debug-info .m-fpc-info-scroll::-webkit-scrollbar {
  width: 7px;
}
.m-fpc-debug-info .m-fpc-info-scroll::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.2);
  border-radius: 7px;
}
.m-fpc-debug-info .m-fpc-info-scroll::-webkit-scrollbar-thumb {
  background-color: #EAEAEA;
  border-radius: 7px;
}
.m-fpc-debug-info .m-fpc-info-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #EAEAEA;
  border-radius: 7px;
}

/*detail info table*/
.m-fpc-debug-info .m-fpc-detail-info-table {
  display:table;
  width:100%;
  padding-top: 3px;
}
.m-fpc-debug-info .m-fpc-detail-row {
  display:table-row;
}
.m-fpc-debug-info .m-fpc-detail-col {
  display:table-cell;
  text-align: left;
  padding: 2px;
  vertical-align: top;
  width: 50%;
  font-family:sans-serif,Arial;
  padding:5px;
  text-align: left;
  font-size: 10px;
  text-transform:none;
  color: #222 !important;
}
.m-fpc-debug-info .m-fpc-dark {
  background-color: #D9F0EE;
}
.m-fpc-debug-info .m-fpc-light {
  background-color: #ECF8F7;
}

/*flush cache button*/
.m-fpc-debug-info .m-fpc-flush-cache-button-style {
  float: left;
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.m-fpc-debug-info .m-fpc-flush-cache-button-style-flushed {
  float: left;
  color: #911E42;
}

/*small debug info block*/
.m-fpc-debug-info-small {
  width: 120px;
  min-height: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: #47bbb3;
  color: #fff;
  z-index: 100000;
  font-family:Arial;
}

.m-fpc-debug-info-small .m-fpc-debug-info-main-block-small {
  padding: 2px 5px 10px 5px;
}

.m-fpc-debug-info-small .m-fpc-hit-info-small {
  font-family:sans-serif,Arial;
  padding:0px;
  margin: 5px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.95);
  text-transform:none;
}

.m-fpc-debug-info-small .m-fpc-flush-cache-button-style-small {
  float: left;
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.m-fpc-debug-info-small .m-fpc-flush-cache-button-style-flushed {
  float: left;
  color: #911E42;
}

.m-fpc-debug-info-small.m-fpc-debug-info-hit {
  box-shadow: 0 0 0 3px #CCFFD3;
}
.m-fpc-debug-info-small.m-fpc-debug-info-miss {
  box-shadow: 0 0 0 3px #FECBCB;
}
.m-fpc-debug-info-small.m-fpc-debug-info-not-cacheable {
  box-shadow: 0 0 0 5px #E0E0E0;
}