<?xml version="1.0"?>
<config>
  <modules>
    <Elite_OrderStatusControl>
      <version>0.1.0</version>
    </Elite_OrderStatusControl>
  </modules>
  <global>
    <helpers>
      <orderstatuscontrol>
        <class>Elite_OrderStatusControl_Helper</class>
      </orderstatuscontrol>
    </helpers>
	<events>
            <sales_order_save_after><!--Nombre del observer en magento-->
                <observers>
                    <order_status_control><!--nombre descriptivo no afecta en la lógica-->
                        <type>singleton</type>
                        <class>Elite_OrderStatusControl_Model_Observer</class>
                        <method>orderStatusControl</method>
                    </order_status_control>
                </observers>
            </sales_order_save_after>
	</events>
  </global>
</config> 