<?xml version="1.0"?>
<config>
  <modules>
    <Elite_ProductsDetails>
      <version>0.1.0</version>
    </Elite_ProductsDetails>
  </modules>
  <frontend>
		<routers>
			<productcontact>
				<use>standard</use>
				<args>
					<module>Elite_ProductsDetails</module>
					<frontName>productcontact</frontName>
				</args>
			</productcontact>
		</routers>
		<layout>
			<updates>
			   <productcontact>
						<file>productcontact.xml</file>
				</productcontact>
			</updates>
		</layout>	
  </frontend>
  <global>
	<models>
        <productsdetails>
			<class>Elite_ProductsDetails_Model</class>
        </productsdetails>
    </models>
    <helpers>
      <productsdetails>
        <class>Elite_ProductsDetails_Helper</class>
      </productsdetails>
    </helpers>
	<blocks>
		<productsdetails>
			<class>Elite_ProductsDetails_Block</class>
		</productsdetails>
	</blocks>
  </global>
</config> 