<?xml version="1.0"?>
<config>
    <modules>
        <Elite_StockOfDropdownProduct>
            <version>1.0</version>
        </Elite_StockOfDropdownProduct>
    </modules>
               
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Elite_StockOfDropdownProduct_Block_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>