<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx Order Management Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_OrdersManagement
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <sections>
        <mageworx_ordersmanagement translate="label" module="mageworx_ordersmanagement">
            <label>Order Management</label>
            <tab>mageworx</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </mageworx_ordersmanagement>
    </sections>
</config>
