<?xml version="1.0"?>
<config>
  <modules>
    <Elite_CustomCategoryAttributes>
      <version>0.1.0</version>
    </Elite_CustomCategoryAttributes>
  </modules>
  <global>
    <helpers>
      <customcategoryattributes>
        <class>Elite_CustomCategoryAttributes_Helper</class>
      </customcategoryattributes>
    </helpers>
	<models>
	  <customcategoryattributes>
		<class>Elite_CustomCategoryAttributes_Model</class>
		<resourceModel>customcategoryattributes_mysql4</resourceModel>
	  </customcategoryattributes>
	</models>
	<resources>
	  <categoryattribute1468489769_setup>
		<setup>
		  <module>Elite_CustomCategoryAttributes</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1468489769_setup>
	  <categoryattribute1468489769_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1468489769_write>
	  <categoryattribute1468489769_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1468489769_read>
	</resources>
  </global>
</config> 