.anim-obj {display: block;}
.anim-obj > .frame { display: block; width: 100%; height: 100%; }
.anim-obj.weather-cloudy {width: 110px; height: 110px;}
.anim-obj.weather-cloudy > .frame { background: url(../img/weather/cloudy.png); width: 110px; height: 110px;}


.anim-obj.weather-snowy {width: 110px; height: 110px;}
.anim-obj.weather-snowy > .frame { background: url(../img/weather/snowy.png); width: 110px; height: 110px;}


.anim-obj.weather-rainy-snowy {width: 110px; height: 110px;}
.anim-obj.weather-rainy-snowy > .frame { background: url(../img/weather/rainy-snowy.png); width: 110px; height: 110px;}


.anim-obj.weather-clear {width: 110px; height: 110px;}
.anim-obj.weather-clear > .frame { background: url(../img/weather/clear.png); width: 110px; height: 110px;}


.anim-obj.weather-sunny {width: 110px; height: 110px;}
.anim-obj.weather-sunny > .frame { background: url(../img/weather/sunny.png); width: 110px; height: 110px;}

.anim-obj.weather-rainy {width: 110px; height: 110px;}
.anim-obj.weather-rainy > .frame { background: url(../img/weather/rainy.png); width: 110px; height: 110px;}


.anim-obj.weather-cloud2 {width: 110px; height: 110px;}
.anim-obj.weather-cloud2 > .frame { background: url(../img/weather/cloud2.png); width: 110px; height: 110px;}


.anim-obj.motion-drag {width: 77px; height: 44px;}
.anim-obj.motion-drag > .frame { background: url(../img/motionicon/drag.png); width: 77px; height: 44px;}


.anim-obj.motion-drag2 {width: 77px; height: 44px;}
.anim-obj.motion-drag2 > .frame { background: url(../img/motionicon/drag2.png); width: 77px; height: 44px;}


.anim-obj.motion-enter {width: 65px; height: 71px;}
.anim-obj.motion-enter > .frame { background: url(../img/motionicon/enter.png); width: 65px; height: 71px;}

.anim-obj.motion-more {width: 44px; height: 50px;}
.anim-obj.motion-more > .frame { background: url(../img/motionicon/more.png); width: 44px; height: 50px;}

.anim-obj.motion-more2 {width: 65px; height: 71px;}
.anim-obj.motion-more2 > .frame { background: url(../img/motionicon/more2.png); width: 65px; height: 71px;}


.anim-obj.motion-scroll {width: 65px; height: 71px;}
.anim-obj.motion-scroll > .frame { background: url(../img/motionicon/scroll.png); width: 65px; height: 71px;}

.anim-obj.motion-hall {width: 83px; height: 56px;}
.anim-obj.motion-hall > .frame { background: url(../img/motionicon/hall.png); width: 83px; height: 56px;}


.anim-obj.motion-hall2 {width: 83px; height: 56px;}
.anim-obj.motion-hall2 > .frame { background: url(../img/motionicon/hall2.png); width: 83px; height: 56px;}


.show-window { background: #fff ; height: 500px; position: relative;  overflow: hidden;}
.show-window .bg { background: url(../img/main/show-window-center.png) no-repeat 50% 0; height: 100%; position:absolute; width: 100%; }
.show-window h2 { background: url(../img/main/title-show-window.png) no-repeat; width:101px; height: 51px; text-indent: -9999em; overflow: hidden; position: absolute; top:55px; left:50%; margin-left: -50px; z-index: 100;}
.show-window .btns { position: absolute; top:50px; right:50px;}
.show-window .btns a { display: block; width: 30px; height: 30px; text-indent: -9999em; overflow: hidden; float:left; margin:6px;}
.show-window .btns a.btn-grid-1 { background: url(../img/main/btn-grid-1.png) 0 0 ;}
.show-window .btns a.btn-grid-2 { background: url(../img/main/btn-grid-2.png) 0 0 ;}
.show-window .btns a.btn-grid-1:hover,
.show-window .btns a.btn-grid-1.active { background-position: 0 -30px; }
.show-window .btns a.btn-grid-2:hover,
.show-window .btns a.btn-grid-2.active { background-position: 0 -30px; }

.show-window .slide-btn {
    position:absolute; 
    display:block; width:80px; height:83px; 
    overflow:hidden; text-indent:-9999em; 
    top:15%;
    z-index:100; 
    display:none;
}
.show-window .slide-btn.prev {background:url('../img/common/bn_slide_prev.png') 0 0 no-repeat; left:0;}
.show-window .slide-btn.next {background:url('../img/common/bn_slide_next.png') 0 0 no-repeat; right:0;}


.grid-by-slider {position: absolute; top:0; left:0; width: 100%; height: 500px; }
.grid-by-slider .slider-content-container { position: absolute; left:50%; top:231px;}
.grid-by-slider .slider-content-container .slider-content { position: absolute;  top:50%; width: 100000px; }
.grid-by-slider.active .slider-content-container .slider-content .good,
.grid-by-slider.active .slider-content-container .slider-content .good .img-container img { -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;}
.grid-by-slider .slider-content-container .slider-content .good { float:left; display: block; width: 332px; height:332px; position: relative; margin-top:-166px;}
.grid-by-slider .slider-content-container .slider-content .good.active { width: 332px; margin-top:-235px;}
.grid-by-slider .slider-content-container .slider-content .good .img-container { position: relative; display: block; }
.grid-by-slider .slider-content-container .slider-content .good .img-container a { display: block; position: relative;}
.grid-by-slider .slider-content-container .slider-content .good .img-container a:focus .over {display:block;} /* 2014-04-22 */
.grid-by-slider .slider-content-container .slider-content .good.active .img-container a { width: 332px; height: 332px;}
.grid-by-slider .slider-content-container .slider-content .good .img-container img { position: absolute; width: 232px; height: 232px; display: block; }
.grid-by-slider .slider-content-container .slider-content .good .img-container .over { position: absolute; top:0; left:0; width: 100%; height:100%; background:url(../img/main/over-bg.png); display: none;}
.grid-by-slider .slider-content-container .slider-content .good .img-container:hover .over { position: absolute; top:0; left:0; width: 100%; height:100%; background:url(../img/main/over-bg.png); display: block;}
.grid-by-slider .slider-content-container .slider-content .good .img-container .over .anim-obj { position: absolute; top:50%; left:50%; margin-left: -32px; margin-top: -35px;}
.grid-by-slider .slider-content-container .slider-content .good .img-container .over i { display: block; position: absolute; width: 100%; height: 100%; top:0; left:0; background:url(../img/main/210_over.png) 50% 50% no-repeat;}
.grid-by-slider .slider-content-container .slider-content .good .good-name { 
    position: absolute;
    width: 332px;
    text-align: center;
    display: block;
    display: none;
}
.grid-by-slider .slider-content-container .slider-content .good .good-name img {zoom:0.7;}
.grid-by-slider .slider-content-container .slider-content .good.active .img-container img { width: 332px; height: 332px; display:block; }
.grid-by-slider .slider-content-container .slider-content .good.active .good-name { zoom:1; }
.grid-by-slider .slider-content-container .slider-content .good.active .good-name img {zoom:1;}

/* ie8 zoom prefix*/
@media \0screen {
.grid-by-slider .slider-content-container .slider-content .good .good-name {position: absolute; width: 332px; text-align: center; display: block; left:50%; margin-left: -166px; top:332px; display: none;}
.grid-by-slider .slider-content-container .slider-content .good .good-name img {zoom:0.7; text-align:center; position:relative; left:50%; margin-left:-50%;}
.grid-by-slider .slider-content-container .slider-content .good.active { width: 470px; height: 470px; margin-top:-235px;}
.grid-by-slider .slider-content-container .slider-content .good.active .img-container a { width: 470px; height: 470px;}
.grid-by-slider .slider-content-container .slider-content .good.active .img-container img { width: 470px; height: 470px; display:block; }
.grid-by-slider .slider-content-container .slider-content .good.active .good-name { top:450px; text-align:center; }
.grid-by-slider .slider-content-container .slider-content .good.active .good-name img {zoom:1; left:0; margin:0;}
}

/*.grid-by-slider .slider-content-container .slider-content .good:hover .good-name { top:300px;}*/
.grid-by-slider .slider { background: url(../img/main/slider-track.png) no-repeat; width: 1000px; height:17px; position: absolute; bottom: 62px; left: 50%; margin-left: -500px; }
.grid-by-slider .slider .bar {background:#fff /*url(../img/main/slider-bar.png) no-repeat 50% 50%*/; width: 105px; height: 56px; display: block; text-indent: -9999em; overflow: hidden; position: absolute; top:50%; margin-top:-28px; }
.grid-by-slider .slider .bar .anim-obj {position: absolute;top: 50%;left: 50%;margin-left: -36px;margin-top: -24px;}

.grid-by-list { position: absolute; top:0; left:0; width: 100%; height: 800px;}
.grid-by-list .good-list { position: relative; margin: 0 auto; width: 1012px; top:160px;}
.grid-by-list .good-list li { position: absolute; top:0; left:0;}
.grid-by-list .good-list li .good { width: 254px; height: 254px; }
.grid-by-list .good-list li .good .img-container {padding:0 22px; }
.grid-by-list .good-list li .good .img-container a img { width: 210px; height: 210px; display: block;}
.grid-by-list .good-list li .good .img-container a { width: 210px; height: 210px; display: block; position: relative;}
.grid-by-list .good-list li .good .img-container a:focus > .over {display:block;}  /* 2014-04-22 */
.grid-by-list .good-list li .good .img-container .over { position: absolute; top:0; left:0; width: 100%; height:100%; display: block;background:url(../img/main/over-bg.png); display: none;}
.grid-by-list .good-list li .good .img-container .over .anim-obj { position: absolute; top:50%; left:50%; margin-left: -32px; margin-top: -35px;}
.grid-by-list .good-list li .good .img-container .over i { display: block; position: absolute; width: 100%; height: 100%; top:0; left:0; background:url(../img/main/210_over.png) 50% 50% no-repeat;}
.grid-by-list .good-list li .good .good-brand { font-family: 'MyriadPro-Bold','Nanum Gothic', 'ë‚˜ëˆ”ê³ ë”•','ë‹ì›€','dotum','AppleSDGothic', 'AppleGothic', Helvetica, sans-serif; font-size: 14px; color: #333; text-align: center; display: block; text-decoration: none; line-height: 20px; }

.grid-by-list .good-list li .good .good-name { font-family: 'MyriadPro-Bold','Nanum Gothic', 'ë‚˜ëˆ”ê³ ë”•','ë‹ì›€','dotum','AppleSDGothic', 'AppleGothic', Helvetica, sans-serif; font-size: 11px; color: #666; text-align:center; display: block; text-decoration: none; line-height: 14px; }


.grid-by-list .btn-prev { background: url(../img/main/btn-prev.png)  0 0 no-repeat; width: 20px; height: 36px; display: block; text-indent: -9999em; overflow: hidden; position: absolute; top:400px; left:50%; margin-left: -560px; }
.grid-by-list .btn-next { background: url(../img/main/btn-next.png) 100% 0 no-repeat; width: 20px; height: 36px; display: block; text-indent: -9999em; overflow: hidden; position: absolute; top:400px; left:50%; margin-left: 540px; }
.grid-by-list .list-index { background: url(../img/main/index-bg.png) no-repeat; width: 70px; height: 9px; position: absolute; bottom: 64px; left:50%; margin-left:-25px;}
.grid-by-list .list-index li { float:left; width: 9px; height: 9px;/* background: url(../img/main/icon-index.png);*/ margin-right: 14px; }
.grid-by-list .list-index li.active { background: url(../img/main/icon-index.png); }
.grid-by-list .list-index li a { display: block; width: 100%; height: 100%; text-indent: -9999em; overflow: hidden; }
