<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Productcontact>
            <version>0.1.1</version>
        </Magestore_Productcontact>
    </modules>
    <frontend>
        <routers>
            <productcontact>
                <use>standard</use>
                <args>
                    <module>Magestore_Productcontact</module>
                    <frontName>productcontact</frontName>
                </args>
            </productcontact>
        </routers>
        <layout>
            <updates>
                <productcontact>
                    <file>productcontact.xml</file>
                </productcontact>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Productcontact>
                    <files>
                        <default>Magestore_Productcontact.csv</default>
                    </files>
                </Magestore_Productcontact>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<productcontact>
				<use>admin</use>
				<args>
					<module>Magestore_Productcontact</module>
					<frontName>productcontact</frontName>
				</args>
			</productcontact>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<productcontact>
					<file>productcontact.xml</file>
				</productcontact>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <productcontact>
                <class>Magestore_Productcontact_Model</class>
                <resourceModel>productcontact_mysql4</resourceModel>
            </productcontact>
            <productcontact_mysql4>
                <class>Magestore_Productcontact_Model_Mysql4</class>
                <entities>
                    <productcontact>
                        <table>productcontact</table>
                    </productcontact>
                </entities>
            </productcontact_mysql4>
        </models>
        <resources>
            <productcontact_setup>
                <setup>
                    <module>Magestore_Productcontact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productcontact_setup>
            <productcontact_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productcontact_write>
            <productcontact_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productcontact_read>
        </resources>
        <blocks>
            <productcontact>
                <class>Magestore_Productcontact_Block</class>
            </productcontact>
        </blocks>
        <helpers>
            <productcontact>
                <class>Magestore_Productcontact_Helper</class>
            </productcontact>
        </helpers>
		<template>
			<email>
				<productcontact_email_config_email_template_sent_to_customer translate="label" module="productcontact">
					<label>Email template sent to customer</label>
					<file>productcontact/email-to-customer.html</file>
					<type>html</type>
				</productcontact_email_config_email_template_sent_to_customer>
				<productcontact_email_config_email_template_sent_to_admin translate="label" module="productcontact">
					<label>Email template sent to admin</label>
					<file>productcontact/email-to-admin.html</file>
					<type>html</type>
				</productcontact_email_config_email_template_sent_to_admin>
			</email>
		</template>
    </global>
	
	<default>
		<productcontact>
			<general>
				<is_active>1</is_active>
			</general>
			<contact_form>
				<is_show_company_name>1</is_show_company_name>
				<is_show_personal_name>1</is_show_personal_name>
				<is_show_address>1</is_show_address>
				<is_show_zipcode>1</is_show_zipcode>
				<is_show_city>1</is_show_city>
				<is_show_country>1</is_show_country>
				<is_show_phone>1</is_show_phone>
				<is_show_fax>1</is_show_fax>
				<is_show_email>1</is_show_email>
				<is_show_website>1</is_show_website>
				<is_show_detail>1</is_show_detail>
				<is_require_personal_name>1</is_require_personal_name>
				<is_require_country>1</is_require_country>
				<is_require_email>1</is_require_email>
				<is_require_detail>1</is_require_detail>
				<message_success><![CDATA[Thanks for your contact. We will response you as soon as possible.]]></message_success>
				<message_error><![CDATA[Your contact for product can't sent. Please try again]]></message_error>
			</contact_form>
			<email_config>
				<email_sender></email_sender>
				<email_receive_contact_form><![CDATA[hello@example.com]]></email_receive_contact_form>
				<email_template_sent_to_customer>productcontact_email_config_email_template_sent_to_customer</email_template_sent_to_customer>
				<email_template_sent_to_admin>productcontact_email_config_email_template_sent_to_admin</email_template_sent_to_admin>
			</email_config>
		</productcontact>
	</default>
</config>