<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Fastimport>
            <version>0.1.0</version>
        </MGS_Fastimport>
    </modules>
    <frontend>
        <routers>
            <MGS_Fastimport>
                <use>standard</use>
                <args>
                    <module>MGS_Fastimport</module>
                    <frontName>fastimport</frontName>
                </args>
            </MGS_Fastimport>
        </routers>        
    </frontend>
 <global>
    	<models>
    		<fastimport>
    			 <class>MGS_Fastimport_Model</class>
    			<resourceModel>fastimport_resource</resourceModel>
    		</fastimport>
    	</models>
    </global>
    
  <!-- añadido par ael cambio de la pagina -->
    <crontab>
			<jobs>
				<MGS_Fastimport>
					<schedule>
						<cron_expr>*/15 * * * *</cron_expr>
					</schedule>
					<run>
						<model>fastimport/cron::importar</model>
					</run>
				</MGS_Fastimport>
			</jobs>
    </crontab>
    
</config>