<?xml version="1.0"?>
<config>
    <modules>
        <Seo_Rewrites>
            <version>1.0</version>
        </Seo_Rewrites>
    </modules>
    <global>
        <events>
            <catalog_category_save_commit_after><!--Nombre del observer en magento-->
                <observers>
                    <catalog_rewrites_url><!--nombre descriptivo no afecta en la lógica-->
                        <type>singleton</type>
                        <class>Seo_Rewrites_Model_Observer</class>
                        <method>categoryRewrites</method>
                    </catalog_rewrites_url>
                </observers>
            </catalog_category_save_commit_after>
			<catalog_product_save_after>
				<observers>
                    <catalog_rewrites_url><!--nombre descriptivo no afecta en la lógica-->
                        <type>singleton</type>
                        <class>Seo_Rewrites_Model_Observer</class>
                        <method>manufacturerRewrites</method>
                    </catalog_rewrites_url>
                </observers>
			</catalog_product_save_after>
        </events>
    </global>
</config>

