<?xml version="1.0"?>
<config>
  	<modules>
		<Elite_Ajaxcontrol>
		  <version>0.1.0</version>
		</Elite_Ajaxcontrol>
	</modules>
	<frontend>
		<routers>
			<ajaxcontrol>
				<use>standard</use>
				<args>
					<module>Elite_Ajaxcontrol</module>
					<frontName>ajaxcontrol</frontName>
				</args>
			</ajaxcontrol>
		</routers>
		<layout>
			<updates>
			   <ajaxcontrol>
						<file>ajaxcontrol.xml</file>
				</ajaxcontrol>
			</updates>
		</layout>	
	</frontend>
	<global>
        <blocks>
            <ajaxcontrol>
                <class>Elite_Ajaxcontrol_Block</class>
            </ajaxcontrol>
			<sugerencias>
                <class>Elite_Sugerencias_Block</class>
            </sugerencias>
			<menu>
                <class>Elite_Menu_Block</class>
            </menu>
			<updatecart>
                <class>Elite_Updatecart_Block</class>
            </updatecart>
            <ourstores>
                <class>Elite_Ourstores_Block</class>
            </ourstores>
            <quicklogin>
                <class>Elite_Quicklogin_Block</class>
            </quicklogin>
        </blocks>
    </global>
</config>

