<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Paypalcurrency>
            <version>1.0.1</version>
        </Magpleasure_Paypalcurrency>
    </modules>
    <frontend>
        <routers>
            <paypalcurrency>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Paypalcurrency</module>
                    <frontName>paypalcurrency</frontName>
                </args>
            </paypalcurrency>
        </routers>
        <layout>
            <updates>
                <paypalcurrency>
                    <file>paypalcurrency.xml</file>
                </paypalcurrency>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<paypalcurrency_admin>
				<use>admin</use>
				<args>
					<module>Magpleasure_Paypalcurrency</module>
					<frontName>paypalcurrency_admin</frontName>
				</args>
			</paypalcurrency_admin>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
		<layout>
			<updates>
				<paypalcurrency>
					<file>paypalcurrency.xml</file>
				</paypalcurrency>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <currency>
            <import>
                <services>
                    <paypal>
                        <name>PayPal</name>
                        <model>paypalcurrency/currency_import_paypal</model>
                    </paypal>
                </services>
            </import>
        </currency>
        <models>
            <paypalcurrency>
                <class>Magpleasure_Paypalcurrency_Model</class>
                <resourceModel>paypalcurrency_mysql4</resourceModel>
            </paypalcurrency>
            <paypalcurrency_mysql4>
                <class>Magpleasure_Paypalcurrency_Model_Mysql4</class>
                <entities>
                    <paypalcurrency>
                        <table>paypalcurrency</table>
                    </paypalcurrency>
                </entities>
            </paypalcurrency_mysql4>
            <paypal>
                <rewrite>
                    <config>Magpleasure_Paypalcurrency_Model_Paypal_Config</config>
                </rewrite>
            </paypal>
        </models>
        <resources>
            <paypalcurrency_setup>
                <setup>
                    <module>Magpleasure_Paypalcurrency</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paypalcurrency_setup>
            <paypalcurrency_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paypalcurrency_write>
            <paypalcurrency_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paypalcurrency_read>
        </resources>
        <blocks>
            <paypalcurrency>
                <class>Magpleasure_Paypalcurrency_Block</class>
            </paypalcurrency>
        </blocks>
        <helpers>
            <paypalcurrency>
                <class>Magpleasure_Paypalcurrency_Helper</class>
            </paypalcurrency>
        </helpers>
    </global>
    <default>
        <paypal>
            <api>
                <xcom_app_id backend_model="adminhtml/system_config_backend_encrypted"/>
            </api>
            <wpp>
                <xcom_app_id backend_model="adminhtml/system_config_backend_encrypted"/>
            </wpp>
        </paypal>
    </default>
</config>