<?xml version="1.0" ?>
    <config>
    <modules>
        <Elite_Contactus>
            <version>0.1.0</version>
        </Elite_Contactus>
    </modules>
     <frontend>
        <routers>
            <contactus>
                <use>standard</use>
                <args>
                    <module>Elite_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
        </routers>
        <layout>
            <updates>
                <contactus>
                    <file>elite_contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <contactus>
                <class>Elite_Contactus_Block</class>
            </contactus>
        </blocks>
        <models>
            <contactus>
                <class>Elite_Contactus_Model</class>
            </contactus>
        </models>
        <helpers>
          <contactus>
            <class>Elite_Contactus_Helper</class>
          </contactus>
        </helpers>
    </global>
</config>