<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <servired_standard translate="label" module="servired">
                    <label>Servired</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label" module="payment">>
                            <label>Habilitado</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label" module="payment">>
                            <label>Titulo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <allowspecific translate="label" module="payment">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label" module="payment">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <autoinvoice translate="label comment">
                            <label>Crear factura automaticamente</label>
                            <comment>Solo si el pago es realizado con exito</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </autoinvoice>
                        <error_status translate="label">
                            <label>Estado para pedido cancelado por servired</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_status>
                        <merchantnumber translate="label comment">
                            <label>FUC Numero de Comercio</label>
                            <comment>Identificacion otorgada por Servired al Comercio</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantnumber>
                        <merchanttitular translate="label">
                            <label>Nombre del Comercio</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchanttitular>
                        <mensagen translate="label comment">
                            <label>Mensaje Generico</label>
                            <comment>Mensaje para mostrar en Resumen de tarjeta del Cliente</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mensagen>
                        <sendmailorderconfirmation translate="label">
                            <label>Enviar confirmacion de mail</label>
                            <frontend_type>Select</frontend_type>
                            <sort_order>71</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sendmailorderconfirmation>
                        <signaturetype translate="label">
                            <label>Metodo para la firma</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <source_model>servired/system_config_source_signaturemethod</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </signaturetype>
                        <merchantpassword translate="label comment">
                            <label>Clave del Comercio</label>
                            <comment>Clave otorgada por Servired al Comercio (para encriptacion)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>81</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantpassword>
                        <merchanturl translate="label comment">
                            <label>Url del Comercio</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <comment><![CDATA[Cambiar de ser estrictamente necesario. Por defecto: <strong>{{secure_base_url}}/servired/standard/callback</strong>]]>
                            </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchanturl>
                        <merchantterminal translate="label comment">
                            <label>Numero de Terminal</label>
                            <comment>Numero de Terminal otorgado por Servired al Comercio</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantterminal>
                        <merchantdata translate="label">
                            <label>Datos del Comercio</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantdata>
                        <windowstate translate="label">
                            <label>Estado de la Ventana</label>
                            <frontend_type>select</frontend_type>
                            <source_model>servired/system_config_source_windowstate</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </windowstate>
                        <urlservired translate="label comment">
                            <label>Entorno Real de trabajo</label>
                            <comment><![CDATA[Entorno real: "https://sis.sermepa.es/sis/realizarPago" <br> Entorno de Pruebas: "https://sis-t.sermepa.es:25443/sis/realizarPago"]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </urlservired>
                        <specificurl translate="label comment">
                            <label>Url especifica</label>
                            <comment>Si este campo esta vacio toma el dato del anterior campo</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificurl>
                    </fields>
                </servired_standard>
            </groups>
        </payment>
    </sections>
</config>
