<?xml version="1.0"?>
<config>
    <modules>
        <Echidna_Wordpress>
            <version>0.1.0</version>
        </Echidna_Wordpress>
    </modules>
    <frontend>
        <routers>
            <wordpress>
                <use>standard</use>
                <args>
                    <module>Echidna_Wordpress</module>
                    <frontName>wordpress</frontName>
                </args>
            </wordpress>
        </routers>
        <layout>
            <updates>
                <wordpress>
                    <file>wordpress.xml</file>
                </wordpress>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<wordpress>
				<use>admin</use>
				<args>
					<module>Echidna_Wordpress</module>
					<frontName>wordpress</frontName>
				</args>
			</wordpress>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<wordpress module="wordpress">
				<title>Wordpress Blog</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="wordpress">
						<title>Configure</title>
						<sort_order>0</sort_order>
						<action>wordpress/adminhtml_install</action>
					</items>
				</children>
			</wordpress>
		</menu>
		<acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <wordpress>
                                        <title>Wordpress - All</title>
                                    </wordpress>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
		<layout>
			<updates>
				<wordpress>
					<file>wordpress.xml</file>
				</wordpress>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <wordpress>
                <class>Echidna_Wordpress_Model</class>
            </wordpress>
        </models>
        <blocks>
            <wordpress>
                <class>Echidna_Wordpress_Block</class>
            </wordpress>
        </blocks>
        <helpers>
            <wordpress>
                <class>Echidna_Wordpress_Helper</class>
            </wordpress>
        </helpers>
    </global>
</config>