<?xml version="1.0"?>
<config>
    <modules>
        <Elite_Urlrewrites>
            <version>0.0.1</version>
        </Elite_Urlrewrites>
    </modules>
    <global>
        <models>
            <elite_urlrewrites>
                <class>Elite_Urlrewrites_Model</class>
            </elite_urlrewrites>
        </models>
        <events>
            <catalog_product_save_after><!-- observe the event -->
                <observers>
                    <elite_urlrewrites>
                        <class>elite_urlrewrites/observer</class>
                        <method>productUrlrewrites</method>
                    </elite_urlrewrites>
                </observers>
            </catalog_product_save_after>
			<catalog_product_attribute_update_after>	
				<observers>
                    <elite_urlrewrites>
                        <class>elite_urlrewrites/observer</class>
                        <method>massiveProductUrlrewrites</method>
                    </elite_urlrewrites>
                </observers>
			</catalog_product_attribute_update_after>
        </events>
    </global>
</config>