<?xml version="1.0"?>
<config>
  <modules>
    <Elite_LayerNavigation>
      <version>0.1.0</version>
    </Elite_LayerNavigation>
  </modules>
  <frontend>
    <routers>
      <layernavigation>
        <use>standard</use>
          <args>
            <module>Elite_LayerNavigation</module>
            <frontName>layernavigation</frontName>
          </args>
      </layernavigation>
    </routers>
		<layout>
		  <updates>
			<layernavigation>
			  <file>elite_layernavigation.xml</file>
			</layernavigation>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <layernavigation>
        <class>Elite_LayerNavigation_Helper</class>
      </layernavigation>
    </helpers>
	<models>
	  <layernavigation>
		<class>Elite_LayerNavigation_Model</class>
		<resourceModel>layernavigation_mysql4</resourceModel>
	  </layernavigation>
			<catalog>
				<rewrite>
					<layer_filter_category>Elite_LayerNavigation_Model_Catalog_Layer_Filter_Category</layer_filter_category>
					<layer_filter_item>Elite_LayerNavigation_Model_Catalog_Layer_Filter_Item</layer_filter_item>
				</rewrite>
			</catalog>
	</models>
	<blocks>
	  <layernavigation>
		<class>Elite_LayerNavigation_Block</class>
	  </layernavigation>
			<catalog>
				<rewrite>
					<product_list>Elite_LayerNavigation_Block_Catalog_Product_List</product_list>
					<layer_filter_category>Elite_LayerNavigation_Block_Catalog_Layer_Filter_Category</layer_filter_category>
				</rewrite>
			</catalog>
	</blocks>
  </global>
</config> 