<?xml version="1.0"?>
<config>
    <modules>
        <Elite_QuickLogin>
            <version>1.0.0</version>
        </Elite_QuickLogin>
    </modules>
    <frontend>
        <!--<routers>
            <customer>                    
                <use>standard</use>
				<args>
					<module>Elite_QuickLogin</module>
					<frontName>customer</frontName>
				</args>
            </customer>
        </routers>-->
        <routers>
            <customer>
                <args>
                    <modules>
                        <Elite_QuickLogin before="Mage_Customer">Elite_QuickLogin_Customer</Elite_QuickLogin>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <quicklogin>
                    <file>quicklogin.xml</file>
                </quicklogin>
            </updates>
        </layout>
    </frontend>
</config>