<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Amasty Survey
 *
 * @category	Belitsoft
 * @package		Belitsoft_Survey
 * @copyright	Copyright (c) 2012 Mageplace. (http://www.amasty.com)
 */
-->
<config>
	<modules>
		<Belitsoft_Survey>
			<version>1.4.0</version>
		</Belitsoft_Survey>
	</modules>
	
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<survey before="Mage_Adminhtml">Belitsoft_Survey_Adminhtml</survey>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<frontend>
		<translate>
			<modules>
				<Belitsoft_Survey>
					<files>
						<default>Belitsoft_Survey.csv</default>
					</files>
				</Belitsoft_Survey>
			</modules>
		</translate>
		<layout>
			<updates>
				<survey>
					<file>survey.xml</file>
				</survey>
			</updates>
		</layout>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<belitsoft_survey>
						<class>belitsoft_survey/observer</class>
						<method>processCoreBlockAbstractToHtmlBefore</method>
					</belitsoft_survey>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
 	</frontend>
	
	<global>
		<helpers>
			<belitsoft_survey>
				<class>Belitsoft_Survey_Helper</class>
			</belitsoft_survey>
		</helpers>
		
		<blocks>
			<belitsoft_survey>
				<class>Belitsoft_Survey_Block</class>
			</belitsoft_survey>
		</blocks>
		
		<models>
			<belitsoft_survey>
				<class>Belitsoft_Survey_Model</class>
				<resourceModel>belitsoft_survey_mysql4</resourceModel>
			</belitsoft_survey>
			<belitsoft_survey_mysql4>
				<class>Belitsoft_Survey_Model_Mysql4</class>
				<entities>
					<category>
						<table>survey_category</table>
					</category>
					<category_store>
						<table>survey_category_store</table>
					</category_store>
					<category_customer_group>
						<table>survey_category_customer_group</table>
					</category_customer_group>
					<survey>
						<table>survey_survey</table>
					</survey>
					<survey_store>
						<table>survey_survey_store</table>
					</survey_store>
					<survey_customer_group>
						<table>survey_survey_customer_group</table>
					</survey_customer_group>
					<category_survey>
						<table>survey_category_survey</table>
					</category_survey>
					<question>
						<table>survey_question</table>
					</question>
					<field>
						<table>survey_field</table>
					</field>
					<answer>
						<table>survey_answer</table>
					</answer>
					<config>
						<table>survey_config</table>
					</config>
				</entities>
			</belitsoft_survey_mysql4>
		</models>
		
		<resources>
			<survey_setup>
				<setup>
					<module>Belitsoft_Survey</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</survey_setup>
			<survey_write>
				<connection>
					<use>core_write</use>
				</connection>
			</survey_write>
			<survey_read>
				<connection>
					<use>core_read</use>
				</connection>
			</survey_read>
		</resources>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<survey>
					<file>survey.xml</file>
				</survey>
			</updates>
		</layout>

		<events>
			<controller_action_predispatch>
				<observers>
					<survey_check>
						<type>singelton</type>
						<class>belitsoft_survey/feed</class>
						<method>check</method>
					</survey_check>
				</observers>
			</controller_action_predispatch>
		</events>
            
		<translate>
			<modules>
				<Belitsoft_Survey>
					<files>
						<default>Belitsoft_Survey.csv</default>
					</files>
				</Belitsoft_Survey>
			</modules>
		</translate>
	</adminhtml>

	<layout>
		<updates>
			<survey>
				<file>survey.xml</file>
			</survey>
		</updates>
	</layout>

	<default>
		<web>
			<routers>
				<belitsoft_survey>
					<area>frontend</area>
					<class>Belitsoft_Survey_Controller_Varien_Router_Standard</class>
				</belitsoft_survey>
			</routers>
		</web>
		<survey>
			<feed>
				<url>http://www.mageplace.com/index.php?option=com_extensionfeed&amp;extension=surveys&amp;view=feed&amp;format=feed</url>
				<use_https>0</use_https>
				<check_frequency>1</check_frequency>
				<enabled>1</enabled>
			</feed>
		</survey>
	</default>
</config>