<?xml version="1.0"?>
<config>
    <modules>
        <Glace_Ajaxcart>
            <version>0.2.0</version>
        </Glace_Ajaxcart>
    </modules>
    <frontend>
		<secure_url>
            <wishlist>/ajaxcart/wishlist</wishlist>
        </secure_url>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Glace_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>            
			<checkout>
				<args>
					<modules>
						<ajaxcart before="Mage_Checkout_CartController">
							Glace_Ajaxcart_CartController
						</ajaxcart>
					</modules>
				</args>
			</checkout> 
			<wishlist>
				<args>
					<modules>
						<ajaxcart before="Mage_Wishlist_IndexController">
							Glace_Ajaxcart_WishlistController
						</ajaxcart>
					</modules>
				</args>
			</wishlist> 
			<catalog>
				<args>
					<modules>
						<ajaxcart before="Mage_Catalog_Product_CompareController">
							Glace_Ajaxcart_Product_CompareController
						</ajaxcart>
					</modules>
				</args>
			</catalog> 
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>glace/ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <ajaxcart>
                    <files>
                        <default>Glace_Ajaxcart.csv</default>
                    </files>
                </ajaxcart>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<basket>
					<file>glace/ajaxcart.xml</file>
				</basket>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>						
						<system>
						   <children>
							<config>
							 <children>
							  <ajaxcart translate="title" module="ajaxcart">
							   <title>Ajax Cart</title>
							   <sort_order>20</sort_order>
							  </ajaxcart>
							 </children>
							</config>
						   </children>
						  </system>						
					</children>
				</admin>			
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <ajaxcart>
                <class>Glace_Ajaxcart_Model</class>
            </ajaxcart>
            <catalog>
                <rewrite>
                    <product_url>Glace_Ajaxcart_Model_Catalog_Product_Url</product_url>
                </rewrite>
            </catalog>  
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Glace_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Glace_Ajaxcart_Block</class>
            </ajaxcart>
            <groupdeals>
                <rewrite>
                    <product_list>Glace_Ajaxcart_Block_Groupdeals_Catalog_Product_List</product_list>
                    <product_list_sidedeals>Glace_Ajaxcart_Block_Groupdeals_Catalog_Product_List_Sidedeals</product_list_sidedeals>
                    <product_list_universaldeals>Glace_Ajaxcart_Block_Groupdeals_Catalog_Product_List_Universaldeals</product_list_universaldeals>
                </rewrite>
            </groupdeals> 
			<multipledeals>
                <rewrite>
                    <list>Glace_Ajaxcart_Block_Multipledeals_Catalog_Product_List</list>
                    <recent>Glace_Ajaxcart_Block_Multipledeals_Catalog_Product_Recent</recent>
                </rewrite>
            </multipledeals>    
            <page>
                <rewrite>
                    <html_header>Glace_Ajaxcart_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>   
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Glace_Ajaxcart_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>   
            <bundle>
                <rewrite>
                    <checkout_cart_item_renderer>Glace_Ajaxcart_Block_Bundle_Checkout_Cart_Item_Renderer</checkout_cart_item_renderer>
                </rewrite>
            </bundle>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Glace_Ajaxcart_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                    <cart_item_renderer_configurable>Glace_Ajaxcart_Block_Checkout_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
            <wishlist>
                <rewrite>
                    <customer_sidebar>Glace_Ajaxcart_Block_Wishlist_Customer_Sidebar</customer_sidebar>
                </rewrite>
            </wishlist>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Glace_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<update_blocks>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>updateBlocksBefore</method>
					</update_blocks>
				</observers>
			</core_block_abstract_to_html_before>
			<core_block_abstract_to_html_after>
				<observers>
					<update_blocks>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>updateBlocksAfter</method>
					</update_blocks>
				</observers>
			</core_block_abstract_to_html_after>
			<checkout_cart_update_items_before>
				<observers>
					<update_custom_options>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>updateCustomOptions</method>
					</update_custom_options>
				</observers>
			</checkout_cart_update_items_before>		
			<catalog_product_collection_load_after> 
				<observers> 
				  	<set_product_min_max> 
						<type>singleton</type> 
						<class>ajaxcart/observer</class> 
						<method>setProductMinMax</method> 
					</set_product_min_max> 
				</observers> 
			</catalog_product_collection_load_after> 		
		</events>		
    </global>
    
    <default>
        <ajaxcart>
			<loader_configuration>
                <loading_icon>ajax_loader.gif</loading_icon>
            </loader_configuration>
            <popup_configuration>
            	<success_popup_width>500</success_popup_width>
            </popup_configuration>
            <qty_configuration>
            	<qty_button_bkg_color>#000000</qty_button_bkg_color>
            </qty_configuration>
            <dragdrop>
            	<enable_category_dragdrop>0</enable_category_dragdrop>
            	<drop_effect>noeffect</drop_effect>
            </dragdrop>	
        </ajaxcart>
    </default>
    	
</config>