.textoSlide{
    position: relative;
    top: -335px;
    width: 54%;
    margin: 0 auto;
}
    .tituloSlide{
        font: normal 2.4rem/100% "Merriweather";
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 60px 0px 21px 0px;
    }
    .cuerpotexto{
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .botonera{
        height: 53px;
        position: absolute;
        width: 100%;
        top: 434px;
        text-align: center;
    }
        .boton{
            color: rgb(0, 0, 0);
            border: 1px solid rgb(0, 0, 0);
            padding: 10px 20px;
            text-transform: uppercase;
        }
        .izq{
            width: 107px;
            margin: 0 auto;
        }
            .izq:hover{
                color: rgb(255, 255, 255);
                border: 1px solid rgb(0, 0, 0);
                background-color: rgb(0, 0, 0);
            }
        .der{
            float:right;
        }
.subirtexto{
    margin-top: -32px;
    position: absolute;
    right: 0;
}
.home--right--text span{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font: bold 1.65em/54% "Merriweather", Georgia, Serif;
    letter-spacing:1px;
}
.home--right--text{
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
    top: 262px;
    margin: 0 auto;
    width: 222px;
    text-decoration: none!important;
}
.home--slide{
    float: left;
    background: url('../images/slider.jpg') no-repeat;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    text-decoration:none!important;
}
.home--slide .textoslider{
    width: 466px;
    height: 76px;
    margin: 0px auto;
    margin-top: 272px;
    background-color: rgba(255,255,255,0.85);
    font: 600 1.6em/100% "Merriweather";
    text-align: center;
    padding-top: 25px;
}

    .home--slide .textoslider span{
        font: lighter 0.65em/100% "Open Sans";
        position: relative;
        top: 18px;
    }

.home--right .home--right--triangle{
    text-align: center;
    width: 402px;
    position: relative;
    margin: 0 auto;
    height: 51px;
    top: 244px;
    padding-top: 11px;
    font: bold 1.65em/102% "Merriweather",Georgia,Serif;
    color: rgb(255, 255, 255);
    text-decoration: none!important;
    letter-spacing: 1pt;
}
.home--right .home--right--triangle em{
    font: italic 0.8em/100% "Merriweather", Georgia, Serif;
}
.home--right:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--right .home--right--triangle span{
    font: normal 0.6em/100% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0pt;
}
.home--left--last{
    float: left;
    width: 475px;
    background: url('../images/02_Jeremy-Scott.jpg')no-repeat right;
    height: 600px;
    position: relative;
    text-decoration:none!important;
}
.home--left--last:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--img{
    float: left;
    width: 475px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none!important;
    background: url('../images/versace.png') no-repeat 9% 50% rgb(248,249,251);
    height: 420px;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--img:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--right--last{
    float: left;
    width: 475px;
    background: url('../images/01_Dsquared2.jpg') no-repeat center left rgb(248,249,251);
    height: 600px;
    position: relative;
    text-decoration:none!important;
}


.home--right--last--text span {
    text-transform: initial;
    font: 900 0.66em/233% "Merriweather", Georgia, Serif;
    font-style: italic;
    letter-spacing: 0px;
}
.home--right--last--text{
    text-align: right;
    width: 88%;
    position: relative;
    margin: 0 auto;
    height: 101px;
    top: 461px;
    font: bold 1.7em/78% "Merriweather", Georgia, Serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.home--right--last--text em{
    font: normal 0.6em/100% 'Merryweather', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0px;
}

.home--img--all{
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    font: bold 1.8em/100% "Merriweather", Georgia, Serif;
    -webkit-transition: all 1s;
    transition: all 1s;
    color: rgb(0, 0, 0);
}
.home--img--all .banner_clases2{
    width: 100%;
    height: 85px;
    background: url('../images/final_fondo.jpg') no-repeat;
    float: left;
}
.home--img--all .banner_clases2 .banner-clases2-central{
    float: right;
    margin-top: 12px;
    margin-right: 16px;
}
.home--img--all .banner_clases2 .banner--centere2{
margin-top: 23px;
    padding-left: 57px;
    text-align: left;
}
.home--img--all .banner_clases2 .banner--center2 img{
  width: 100%;
}
.home--img--all .banner_clases2 .banner--righte{
    margin-top: -53px;
    text-align: right;
    padding-right: 20px;
}

.home--img--left--text span{
    font: normal 0.57em/100% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    text-align: left;
    text-transform: initial;
    letter-spacing: 0pt;
}
#santagift{
  background: #00012a;
}
.home--img--all--santagift{
    float: left;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    position: relative;
}
.home--img--all--text--christ{
    position: relative;
    margin: 0 auto;
    width: 354px;
    text-align: center;
    top: 23px;
    color: rgb(255, 255, 255);
    font: normal 3em/100% "Conv_LL_XMAS_";
}
    .christ--izq{
          left: 0;
          top: 0;
          width: 197px;
          background: url('../images/motivoizq.png') no-repeat;
          height: 80px;
          position: absolute;
    }
    .christ--der{ 
          width: 225px;
          background: url('../images/motivoder.png') no-repeat;
          height: 80px;
          position: absolute;
          top: 0px;
          right: 0px;
    }
.home--left--last .home--left--triangle{
    text-align: left;
    width: 88%;
    position: relative;
    margin: 0 auto;
    height: 101px;
    top: 461px;
    font: bold 1.7em/78% "Merriweather", Georgia, Serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.home--left--last .home--left--triangle em {
    font: normal 0.6em/100% 'Merryweather', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0.6px;
}
.home--left--last .home--left--triangle span{
    font: 900 0.66em/233% "Merriweather", Georgia, Serif;
    font-style: italic;
    letter-spacing: 0px;
}
#slide--triangulo{
    top: 273px;
    background-color: rgba(255,255,255,0.8);
}
.triangulos{
    text-align: center;
    width: 362px;
    position: relative;
    margin: 0 auto;
    height: 44px;
    padding: 16px 0px;
    top: 226px;
    font: bold 1.75em/102% "Merriweather",Georgia,Serif;
    text-decoration: none!important;
    background-color: rgba(255,255,255,0.7);
}
    .triangulos span{
        font: normal 0.55em/100% "Open Sans";
    }
 #triangulo--chungo{
    top: 320px;
    height: 56px;
 }
    #triangulo--chungo span{ 
        top: -20px;
        position: relative;
    }

.home--left{
    float: left;
    width: 475px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: url('../images/fondo_mcqueen.jpg') no-repeat center left rgb(248,249,251);
    height: 315px;
    position: relative;
    text-decoration: none!important;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--right .home--right--triangle{
    text-align: center;
    width: 402px;
    position: relative;
    margin: 0 auto;
    height: 51px;
    top: 217px;
    font: bold 1.85em/102% "Merriweather",Georgia,Serif;
    color: rgb(0, 0, 0);
    text-decoration: none!important;
    letter-spacing: 1pt;
}
.home--right .home--right--triangle em{
    font: italic 0.8em/100% "Merriweather", Georgia, Serif;
}
.home--right:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--right .home--right--triangle span{
    font: normal 0.78rem/243% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0pt;
}
.home--right{
    float: left;
    width: 474px;
    margin-bottom: 10px;
    background: url('../images/anya_hindmarch.png') no-repeat right center rgb(248,249,251);
    height: 315px;
    position: relative;
    background-repeat: no-repeat;
    text-decoration: none!important;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--right:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--left--last{
    float: left;
    width: 475px;
    background: url('../images/fondo_y-3.jpg')no-repeat right rgb(255,255,255);
    height: 487px;
    position: relative;
    text-decoration:none!important;
}
.home--left--last:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--img--two{
    float: left;
    width: 475px;
    margin-bottom: 10px;
    text-decoration: none!important;
    background: url('../images/fondo_pierre.jpg')no-repeat center right rgb(248,249,251);
    height: 420px;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.home--img--two:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
#triangulo--final__chungo{
    top: 378px;
    height: 62px;
}
    #triangulo--final__chungo span{
        font: normal 0.55em/100% "Open Sans";
        position: relative;
        top: -19px;
    }
.home--right--last{
    float: left;
    width: 475px;
    background: url('../images/fondo_stella.jpg') no-repeat center left rgb(255,255,255);
    height: 487px;
    position: relative;
    text-decoration:none!important;
    margin-bottom: 10px;
}
.home--left .home--left--triangle{
    text-align: left;
    width: 402px;
    position: relative;
    margin: 0 auto;
    height: 51px;
    top: 227px;
    font: bold 1.85em/102% "Merriweather",Georgia,Serif;
    color: rgb(255, 255, 255);
    text-decoration: none!important;
}
.home--left .home--left--triangle em{
    font: italic 0.8em/100% "Merriweather", Georgia, Serif;
}
.home--left:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
}
.home--left .home--left--triangle span{
    font: normal 0.78rem/243% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0pt;
}
.home--img--text {
    position: relative;
    font: bold 1.7em/62% "Merriweather", Georgia, Serif;
    color: rgb(0, 0, 0);
    top: 327px;
    width: 100%;
    float: right;
    text-decoration: none!important;
    text-align: right;
    right: 18px;
}
.home--img--text span{
    font: normal 0.78rem/88% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    text-align: left;
    text-transform: initial;
    letter-spacing: initial;
    text-decoration: none!important;
}
.home--img--left--text {
    position: relative;
    font: 900 1.7em/62% "Merriweather", Georgia, Serif;
    color: rgb(0, 0, 0);
    top: 326px;
    width: 354px;
    float: left;
    text-decoration: none!important;
    text-align: left;
    left: 18px;
}
.home--img--left--text span {
    font: normal 0.78rem/88% 'Open Sans', Arial, Verdana, helvetica, sans-serif;
    text-align: left;
    text-transform: initial;
    letter-spacing: 0pt;
}
.home--right--last--text em {
    font: normal 0.78rem/100% 'Merryweather', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0.6px;
}
.home--left--last .home--left--triangle em {
    font: normal 0.78rem/100% 'Merryweather', Arial, Verdana, helvetica, sans-serif;
    letter-spacing: 0.6px;
}
@media only screen and (max-width: 975px)
{
    .home--slide {
        margin-top: 34px;
    }
    .home--left {
        width: 100%;
    }
    .home--right {
        float: right;
        width: 100%;
    }
    .home--img {
        width: 100%;
    }
    .home--img--two {
        width: 100%;
        background-position-x: 50%;
    }
    .home--right--last {
        background-position-x: 50%;
        width: 100%;
    }
    .home--left--last {
        background-position-x: 50%;
        width: 100%;
    }
}
