<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Ameex_Freeship>
      <version>0.1.0</version>
    </Ameex_Freeship>
  </modules>
  <global>
	  <models>
			<ameex_freeship>
				<class>Ameex_Freeship_Model</class>
			</ameex_freeship>
	</models>
    <helpers>
      <freeship>
        <class>Ameex_Freeship_Helper</class>
      </freeship>
    </helpers>
  </global>
   <default>
        <carriers>
			<ameex_freeship>		
						<active>1</active>
						<model>ameex_freeship/carrier_freeshipment</model>
						<title>Free Shipping Based on Customer Group</title>
						<name>Free Shipping</name>
						<ameex_free_shipping_subtotal>50</ameex_free_shipping_subtotal>
						<description>Free Shipping is Available</description>
			</ameex_freeship>
		</carriers>
	</default>	
</config> 