 <?xml version="1.0"?>
 <config>
    <modules>
        <MGS_Autoimport>
            <version>1.0</version>
        </MGS_Autoimport>
    </modules>
	  <frontend>
        <routers>
            <MGS>
                <use>standard</use>
                <args>
                    <module>MGS_Autoimport</module>
                    <frontName>autoimport</frontName>
                </args>
            </MGS>
        </routers>
    </frontend> 
	
    <!-- global>
        <models>
            <autoimport>
                <class>MGS_Autoimport_Model</class>
				<resourceModel>autoimport_resource</resourceModel>
            </autoimport>
        </models>
    </global>
   <crontab>
        <jobs>
            <MGS_AutoimportImportar>
                <schedule>
					<cron_expr>*/10 * * * *</cron_expr>
				</schedule>
                <run>
					<model>autoimport/cron::importar</model>
				</run>
            </MGS_AutoimportImportar>
        </jobs>
    </crontab -->
</config> 