
.slider-content-container{
    width: 100%;
    overflow: hidden;
}
    .slider-content{
        width:100000000000px;
    }
        .slider-content .good{
            float: left;
            width: 240px;
            height: 428px;
        }
            .slider-content .good .img-container a img{
                width: 100%;
            }
            .slider-content .good .img-container .good-name .manuefaturer{
                width: 100%;
                text-align: center;
            }
            .slider-content .good .img-container .good-name .name{
                width: 100%;
                text-align: center;
            }
            .slider-content .good .img-container .good-name{
                display: none;
            }
            .slider-content .central .img-container .good-name{
                display: block;
            }