					</td>
				</tr>
				<tr>
					<td style="background-color:black;text-align:center;padding:20px 0;">
						<table style="margin:0 auto">
							<tr>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/facebook-grey.png'}}" alt="facebook"></a></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/instagram-grey.png'}}" alt="instagram"></a></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/pinterest-grey.png'}}" alt="pinterest"></a></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/twitter-grey.png'}}" alt="twitter"></a></td>
								<td style="padding: 0 0.5rem;"><img src="{{skin url='images/footerflower.png'}}" alt=""></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/tumblr-grey.png'}}" alt="tumblr"></a></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/google-grey.png'}}" alt="google"></a></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/youtube-grey.png'}}" alt="youtube"></a></td>
								<td style="padding: 0 0.5rem;"><a href=""><img src="{{skin url='images/frivolidays-grey.png'}}" alt="frivolidays"></a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
