								</td>
							</tr>

							<tr>
								<td style="font-size: 14px;">
									<p><font face="'merriweather', serif">For any help or information please don't hesitate to email us at info@elitestore.es or phone on +34 951 31 97 38.</font><br/><br/></p>
									<p><font face="'merriweather', serif">Warm regards,</font><br/><br/><img alt="Maddy Bugla - Elite Store Customer Service" src="{{skin url='images/firma-customer.png'}}"><br/><br/><font face="'Merriweather',serif">Customer Care Consultant</font></p></td></tr>
							<tr>
								<td style="height:60px">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="background-color:black;text-align:center;padding:20px 0;">
						<table style="margin:0 auto">
							<tr>
								<td style="padding: 0 6px;"><a href="https://www.facebook.com/ELITEMARBELLA"><img style="outline: none; border: none;" src="{{skin url='images/facebook-grey.png'}}" alt="facebook"></a></td>
								<td style="padding: 0 6px;"><a href="https://www.instagram.com/EliteMarbella/"><img style="outline: none; border: none;" src="{{skin url='images/instagram-grey.png'}}" alt="instagram"></a></td>
								<td style="padding: 0 6px;"><a href="https://www.pinterest.com/elitemarbella/"><img style="outline: none; border: none;" src="{{skin url='images/pinterest-grey.png'}}" alt="pinterest"></a></td>
								<td style="padding: 0 6px;"><a href="https://twitter.com/EliteMarbella"><img style="outline: none; border: none;" src="{{skin url='images/twitter-grey.png'}}" alt="twitter"></a></td>
								<td style="padding: 0 6px;"><img src="{{skin url='images/footerflower.png'}}" alt=""></td>
								<td style="padding: 0 6px;"><a href="http://elitemarbella.tumblr.com/"><img style="outline: none; border: none;" src="{{skin url='images/tumblr-grey.png'}}" alt="tumblr"></a></td>
								<td style="padding: 0 6px;"><a href="https://plus.google.com/116728767520146800745"><img style="outline: none; border: none;" src="{{skin url='images/google-grey.png'}}" alt="google"></a></td>
								<td style="padding: 0 6px;"><a href="https://www.youtube.com/channel/UCOEQvvhyF6K8HqV2B-wfeoA"><img style="outline: none; border: none;" src="{{skin url='images/youtube-grey.png'}}" alt="youtube"></a></td>
								<td style="padding: 0 6px;"><a href="http://www.frivolidays.com/"><img style="outline: none; border: none;" src="{{skin url='images/frivolidays-grey.png'}}" alt="frivolidays"></a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
