<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body style="background-color:#FFF;">
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
p {margin: 1em 0;font-family: "Open Sans", sans-serif;}
li a{color: #000; margin: 1em 0;}
</style>
{{var non_inline_styles}}
<!-- Begin wrapper table -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" style="background-color:#FFF;">
	<tr>
        <td valign="top" class="container-td">
            <table align="center" cellpadding="0" cellspacing="0" border="0" class="container-table" style="margin:0 auto;margin-top:30px;width:750px">
                <tr>
					<td style="background-color:black;text-align:center;padding:20px 0;"><img src="{{skin url='images/ELITE-TITTLE.png'}}" width="235" alt="Dressing world's most stylish people since 1987"/>
					</td>
				</tr>
				<tr>
					<td style="text-align:center;border-bottom:1px solid #666666;background: #1e1e1e;">
						<table cellpadding="0" cellspacing="0" border="0" align="center" style="width:85%;">
							<tr>
								<td style="height:30px;width:25%;text-align:center;font-family: 'Open Sans', sans-serif, arial;vertical-align:center;">
									<font face="'Open Sans', sans-serif, arial">
										<a style="text-decoration:none; color:#FFF;letter-spacing: 0.5px;font-family: 'Open Sans', sans-serif, arial !important;font-weight:normal;font-size:12px;text-decoration: none;" href="<?php echo Mage::getBaseUrl()?>eu/es/women" class="menu-principal-a blanco">WOMEN</a>
									</font>
								</td>
								<td style="height:30px;width:25%;text-align:center;font-family: 'Open Sans', sans-serif, arial !important;vertical-align:center;">
									<font face="'Open Sans', sans-serif, arial">
										<a style="text-decoration:none; color:#FFF;letter-spacing: 0.5px;font-family: 'Open Sans', sans-serif, arial !important;font-weight:normal;font-size:12px;text-decoration: none;" href="<?php echo Mage::getBaseUrl()?>eu/es/men" class="menu-principal-a blanco">MEN</a>
									</font>
								</td>
								<td style="height:30px;width:25%;text-align:center;font-family: 'Open Sans', sans-serif, arial !important;vertical-align:center;">
									<font face="'Open Sans', sans-serif, arial">
										<a style="text-decoration:none; color:#FFF;letter-spacing: 0.5px;font-family: 'Open Sans', sans-serif, arial !important;font-weight:normal;font-size:12px;text-decoration: none;" href="<?php echo Mage::getBaseUrl()?>eu/es/kids" class="menu-principal-a blanco">KIDS</a>
									</font>
								</td>
								<td style="height:30px;width:25%;text-align:center;font-family: 'Open Sans', sans-serif, !important;vertical-align:center;">
									<font face="'Open Sans', sans-serif, arial">
										<a style="text-decoration:none; color:#FFF;letter-spacing: 0.5px;font-family: 'Open Sans', sans-serif, arial !important;font-weight:normal;font-size:12px;text-decoration: none;" href="<?php echo Mage::getBaseUrl()?>eu/es/manufacturer/" class="menu-principal-a blanco">DESIGNERS</a>
									</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" align="center" style="width:85%;">
							<tr>
								<td style="height:30px">&nbsp;</td>
							</tr>
							<tr>
								<td style="font-size: 14px ;">
									<!-- Begin Content -->
