#ficheros comunes entre ramas que ignoramos
#guardando copias en repo del tipo nombrefichero.nombrerama
#por ejemplo local.xml de shop estara en el repo como local.xml.shop
/.htaccess
/app/etc/local.xml


#ignoramos media y todos los directorios que cuelgan
/media


#ficheros y directorios a ignorar en el var
/var/

#includes por si estuviera activo el compilador de magento
# y otros ficheros de la raiz
/includes
/LICENSE.html
/LICENSE.txt
/LICENSE_EE.html
/LICENSE_EE.txt
/LICENSE_AFL.txt
/RELEASE_NOTES.txt
/CRON_output.log
/downloader/.cache
/memcache.php
/apc.php

#ficheros robots.txt, sitemaps y otros archivos de conveniencia
#para google y buscadores.
/robots.txt
/sitemap.xml


#ficheros "basura" que quitamos porque los crea el mac
#o las aplicaciones que usamos.
.DS_Store
_notes
.svn
.idea
nbproject/
.buildpath
.project
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.profile
.settings
plesk_stat
commercebug
/dummy.php

#MAGMI files
/magmi/conf/magmi.ini
/magmi/files