<?xml version="1.0"?>
<config>
  <modules>
    <Elite_Ipstoreswitcher>
      <version>0.1.0</version>
    </Elite_Ipstoreswitcher>
  </modules>
  <global>
    <helpers>
      <ipstoreswitcher>
        <class>Elite_Ipstoreswitcher_Helper</class>
      </ipstoreswitcher>
    </helpers>
	<blocks>
	  <ipstoreswitcher>
		<class>Elite_Ipstoreswitcher_Block</class>
	  </ipstoreswitcher>
<!--			<page>
				<rewrite>
					<html>Elite_Ipstoreswitcher_Block_Page_Html</html>
				</rewrite>
			</page>
-->			
	</blocks>
  </global>
</config> 