<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Customex_SendInvoice>
            <version>0.1.0</version>
        </Customex_SendInvoice>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <observer>Customex_SendInvoice_Model_Observer</observer>
                </rewrite>
            </sales>
        </models>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <sales_notification_observer>
                        <type>singleton</type>
                        <class>sales/observer</class>
                        <method>sendInvoiceEmail</method>
                    </sales_notification_observer>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
</config>