<?xml version="1.0"?>
<config>
    <modules>
        <Restrict_City>
            <version>1.0</version>
        </Restrict_City>
    </modules>
    <global>
        <events>
            <controller_action_postdispatch_checkout_onepage_saveBilling><!--Nombre del observer en magento-->
                <observers>
                    <order_date_cupon><!--nombre descriptivo no afecta en la lógica-->
                        <type>singleton</type>
                        <class>Restrict_City_Model_Observer</class>
                        <method>NoShop</method>
                    </order_date_cupon>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
        </events>
    </global>
</config>

