<?xml version="1.0"?>
<config>
    <modules>
        <AW_Ajaxcartpro>
            <version>2.5.1</version><platform>ce</platform>
        </AW_Ajaxcartpro>
    </modules>
    <global>
        <blocks>
            <ajaxcartpro>
                <class>AW_Ajaxcartpro_Block</class>
            </ajaxcartpro>
            <wishlist>
                <rewrite></rewrite>
                <drewrite>
                    <links>AW_Ajaxcartpro_Block_Wishlist_Links</links>
                </drewrite>
            </wishlist>
            <enterprise_wishlist>
<!--                <rewrite></rewrite>-->
                <rewrite>
                    <links>AW_Ajaxcartpro_Block_Wishlist_Links</links>
                </rewrite>
            </enterprise_wishlist>
        </blocks>
        <helpers>
            <ajaxcartpro>
                <class>AW_Ajaxcartpro_Helper</class>
            </ajaxcartpro>
        </helpers>
        <resources>
            <ajaxcartpro_setup>
                <setup>
                    <module>AW_Ajaxcartpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcartpro_setup>
            <ajaxcartpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcartpro_write>
            <ajaxcartpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcartpro_read>
        </resources>
        <models>
            <ajaxcartpro>
                <class>AW_Ajaxcartpro_Model</class>
                <resourceModel>ajaxcartpro_mysql4</resourceModel>
            </ajaxcartpro>
            <ajaxcartpro_mysql4>
                <class>AW_Ajaxcartpro_Model_Mysql4</class>
            </ajaxcartpro_mysql4>
        </models>
        <events>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>provideIE9Compatibility</method>
                    </modifyheader>
                </observers>
            </http_response_send_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <ajaxcartpro_observer>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>addToCartEvent</method>
                    </ajaxcartpro_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <aw_acp_checkout_cart_add_predispatch>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </aw_acp_checkout_cart_add_predispatch>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            
            <controller_action_predispatch_ajaxcartpro_add_add>
                <observers>
                    <aw_acp_checkout_cart_add_predispatch>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </aw_acp_checkout_cart_add_predispatch>
                </observers>
            </controller_action_predispatch_ajaxcartpro_add_add>
            
            <controller_action_predispatch_wishlist_index_cart>
                <observers>
                    <acp_wishlistaddcart_predispatch>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>addToCartFromWishlist</method>
                    </acp_wishlistaddcart_predispatch>
                </observers>
            </controller_action_predispatch_wishlist_index_cart>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <acp_viewproduct_postdispatch>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>addCustomOptions</method>
                    </acp_viewproduct_postdispatch>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
        </events>
    </global>
    <frontend>
        <routers>
            <ajaxcartpro>
            <use>standard</use>
            <args>
                <module>AW_Ajaxcartpro</module>
                <frontName>ajaxcartpro</frontName>
            </args>
            </ajaxcartpro>
        </routers>
        <layout>
            <updates>
                <AW_Ajaxcartpro module="AW_Ajaxcartpro">
                    <file>ajaxcartpro.xml</file>
                </AW_Ajaxcartpro>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Ajaxcartpro>
                    <files>
                        <default>AW_Ajaxcartpro.csv</default>
                    </files>
                </AW_Ajaxcartpro>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <awajaxcartpro_front_controller_predispatch>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>pageLoadBeforeFront</method>
                    </awajaxcartpro_front_controller_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcartpro>
                                            <title>aheadWorks - AJAX Cart Pro</title>
                                        </ajaxcartpro>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Ajaxcartpro>
                    <files>
                        <default>AW_Ajaxcartpro.csv</default>
                    </files>
                </AW_Ajaxcartpro>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ajaxcartpro>
            <general>
                <progressanimation>center</progressanimation>
                <cartanimation>opacity</cartanimation>
                <confirmation>1</confirmation>
            </general>
        </ajaxcartpro>
    </default>
</config>
