<?xml version="1.0"?>
<config>
    <modules>
        <Customex_Orderrequest>
            <version>0.1.1</version>
        </Customex_Orderrequest>
    </modules>
    <frontend>
        <routers>
            <orderrequest>
                <use>standard</use>
                <args>
                    <module>Customex_Orderrequest</module>
                    <frontName>Orderrequest</frontName>
                </args>
            </orderrequest>
        </routers>
        <layout>
            <updates>
                <orderrequest>
                    <file>orderrequest.xml</file>
                </orderrequest>
            </updates>
        </layout>
		<translate>
            <modules>
                <Customex_orderrequest>
                    <files>
                        <default>Customex_orderrequest.csv</default>
                    </files>
                </Customex_orderrequest>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<orderrequest>
				<use>admin</use>
				<args>
					<module>Customex_Orderrequest</module>
					<frontName>orderrequest</frontName>
				</args>
			</orderrequest>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<orderrequest>
					<file>orderrequest.xml</file>
				</orderrequest>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <orderrequest>
                <class>Customex_Orderrequest_Model</class>
                <resourceModel>orderrequest_mysql4</resourceModel>
            </orderrequest>
            <orderrequest_mysql4>
                <class>Customex_Orderrequest_Model_Mysql4</class>
                <entities>
                    <orderrequest>
                        <table>orderrequest</table>
                    </orderrequest>
                </entities>
            </orderrequest_mysql4>
        </models>
        <resources>
            <orderrequest_setup>
                <setup>
                    <module>Customex_Orderrequest</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderrequest_setup>
            <orderrequest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderrequest_write>
            <orderrequest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderrequest_read>
        </resources>
        <blocks>
            <orderrequest>
                <class>Customex_Orderrequest_Block</class>
            </orderrequest>
        </blocks>
        <helpers>
            <orderrequest>
                <class>Customex_Orderrequest_Helper</class>
            </orderrequest>
        </helpers>
		<template>
			<email>
				<orderrequest_email_config_email_template_sent_to_customer translate="label" module="orderrequest">
					<label>Email template sent to customer</label>
					<file>orderrequest/email-to-customer.html</file>
					<type>html</type>
				</orderrequest_email_config_email_template_sent_to_customer>
				<orderrequest_email_config_email_template_sent_to_admin translate="label" module="orderrequest">
					<label>Email template sent to admin</label>
					<file>orderrequest/email-to-admin.html</file>
					<type>html</type>
				</orderrequest_email_config_email_template_sent_to_admin>
			</email>
		</template>
    </global>
	
	<default>
		<orderrequest>
			<general>
				<is_active>1</is_active>
			</general>
			<contact_form>
				<is_show_company_name>1</is_show_company_name>
				<is_show_personal_name>1</is_show_personal_name>
				<is_show_address>1</is_show_address>
				<is_show_zipcode>1</is_show_zipcode>
				<is_show_city>1</is_show_city>
				<is_show_country>1</is_show_country>
				<is_show_phone>1</is_show_phone>
				<is_show_fax>1</is_show_fax>
				<is_show_email>1</is_show_email>
				<is_show_website>1</is_show_website>
				<is_show_detail>1</is_show_detail>
				<is_require_personal_name>1</is_require_personal_name>
				<is_require_country>1</is_require_country>
				<is_require_email>1</is_require_email>
				<is_require_detail>1</is_require_detail>
				<message_success><![CDATA[Thanks for your contact. We will response you as soon as possible.]]></message_success>
				<message_error><![CDATA[Your contact for product can't sent. Please try again]]></message_error>
			</contact_form>
			<email_config>
				<email_sender></email_sender>
				<email_receive_contact_form><![CDATA[hello@example.com]]></email_receive_contact_form>
				<email_template_sent_to_customer>productcontact_email_config_email_template_sent_to_customer</email_template_sent_to_customer>
				<email_template_sent_to_admin>productcontact_email_config_email_template_sent_to_admin</email_template_sent_to_admin>
			</email_config>
		</orderrequest>
	</default>
</config>