<?xml version="1.0"?>
<config>
	<modules>
		<Pook_CollectInStore>
			<version>1.0.5</version>
		</Pook_CollectInStore>
	</modules>
	<global>
		<blocks>
			<pook_collectinstore>
				<class>Pook_CollectInStore_Block</class>
			</pook_collectinstore>
			<checkout>
				<rewrite>
					<onepage_shipping_method_available>Pook_CollectInStore_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<pook_collectinstore>
				<class>Pook_CollectInStore_Model</class>
			</pook_collectinstore>
		</models>
		<helpers>
			<pook_collectinstore>
				<class>Pook_CollectInStore_Helper</class>
			</pook_collectinstore>
		</helpers>
	</global>
	<frontend>
		<routers>
			<checkout>
				<args>
					<modules>
						<pook_collectinstore before="Mage_Checkout">Pook_CollectInStore</pook_collectinstore>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<collectinstore module="pook_collectinstore">
					<file>collectinstore.xml</file>
				</collectinstore>
			</updates>
		</layout>
	</frontend>
	<default>
		<carriers>
			<collectinstore>
				<active>1</active>
				<model>pook_collectinstore/Carrier_CollectInStore</model>
				<title></title>
				<name>Collect In Store</name>
				<price>0.00</price>
				<address_firstname>Store</address_firstname>
				<address_lastname>Manager</address_lastname>
				<address_company>Company</address_company>
				<address_line1>Street1</address_line1>
				<address_line2>Street2</address_line2>
				<address_city>City</address_city>
				<address_postcode>Postcode</address_postcode>
				<address_country>GB</address_country>
				<address_telephone>1</address_telephone>
			</collectinstore>
		</carriers>
	</default>
</config>
