<?xml version="1.0"?>
<config>
  <modules>
    <Elite_Loadingpanel>
      <version>0.1.0</version>
    </Elite_Loadingpanel>
  </modules>
  <frontend>
		<routers>
			<loadingpanel>
				<use>standard</use>
				<args>
					<module>Elite_Loadingpanel</module>
					<frontName>loadingpanel</frontName>
				</args>
			</loadingpanel>
		</routers>
		<layout>
			<updates>
			   <loadingpanel>
						<file>loadingpanel.xml</file>
				</loadingpanel>
			</updates>
		</layout>	
  </frontend>
  <global>
	<helpers>
      <loadingpanel>
        <class>Elite_Loadingpanel_Helper</class>
      </loadingpanel>
    </helpers>
	<blocks>
		<loadingpanel>
			<class>Elite_Loadingpanel_Block</class>
		</loadingpanel>
	</blocks>
  </global>
</config> 