<?xml version="1.0" encoding="UTF-8"?>
<settings

nameText="EliteStore.es"
taglineText="Elite Shop Online Exclusive Collections"
mainText="EN CONSTRUCCIÓN - UNDER CONSTRUCTION"

useOwnLogo="true"
logoFilePath="logo.png"

nameColor="0xffffff"
taglineColor="0xffffff"
mainColor="0xffffff"
linkColor="0xffffff"
linkRollOverColor="0xff4400"
linkRollOverBlurAmount="5"

backgroundColor="0x000000"
backgroundGradientColor1="0xff4400"
backgroundGradientColor2="0x000000"
backgroundGradientAlphaPercent="40"

borderColor="0xffffff"
borderThickness="10"

ownLogoXOffset="3"
taglineXOffset="2"
taglineYOffset="-9"
mainXOffset="-2"
linkXOffset="2"

introBlurAmount="20"
siteRotation="0"

>

<link text="Seguimiento de pedidos y contacto" url="mailto:contacto@elitestore.es" />
<link text="Recomendación de productos" url="mailto:fashionadvisor@elitestore.es"/>
<link text="Opiniones y sugerencias" url="mailto:support@elitestore.es" />
	
</settings>
