<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Manufacturer>
            <version>2.0.3</version>
        </Magestore_Manufacturer>
    </modules>
    <frontend>
        <routers>
            <manufacturer>
                <use>standard</use>
                <args>
                    <module>Magestore_Manufacturer</module>
                    <frontName>manufacturer</frontName>
                </args>
            </manufacturer>
        </routers>
        <layout>
            <updates>
                <manufacturer>
                    <file>manufacturer.xml</file>
                </manufacturer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<manufacturer>
				<use>admin</use>
				<args>
					<module>Magestore_Manufacturer</module>
					<frontName>manufacturer</frontName>
				</args>
			</manufacturer>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <manufacturer translate="title" >
                                            <title>Magestore</title>
                                            <sort_order>50</sort_order>
                                        </manufacturer>
                                    </children>
                                </config>
                            </children>
                        </system>

					</children>
				</admin>
			</resources>
		</acl>
		
		<menu>
			<manufacturer module="manufacturer">
				<title>Diseñadores</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="manufacturer">
						<title>Marcas</title>
						<sort_order>0</sort_order>
						<action>manufacturer/adminhtml_manufacturer</action>
					</items>
				</children>
			</manufacturer>
		</menu>
		
				

		<layout>
			<updates>
				<manufacturer>
					<file>manufacturer.xml</file>
				</manufacturer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <manufacturer>
                <class>Magestore_Manufacturer_Model</class>
                <resourceModel>manufacturer_mysql4</resourceModel>
            </manufacturer>
            <manufacturer_mysql4>
                <class>Magestore_Manufacturer_Model_Mysql4</class>
                <entities>
                    <manufacturer>
                        <table>manufacturer</table>
                    </manufacturer>
					<urlrewrite>
						<table>core_url_rewrite</table>
					</urlrewrite>
					<eaov>
						<table>eav_attribute_option_value</table>
					</eaov>		
					<eao>
						<table>eav_attribute_option</table>
					</eao>						
                </entities>
            </manufacturer_mysql4>
        </models>
        <resources>
            <manufacturer_setup>
                <setup>
                    <module>Magestore_Manufacturer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manufacturer_setup>
            <manufacturer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manufacturer_write>
            <manufacturer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manufacturer_read>
        </resources>
        <blocks>
            <manufacturer>
                <class>Magestore_Manufacturer_Block</class>
            </manufacturer>
        </blocks>
        <helpers>
            <manufacturer>
                <class>Magestore_Manufacturer_Helper</class>
            </manufacturer>
        </helpers>
    </global>
</config>